table, .wp-block-table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	margin-bottom: 1rem;
	background-color: transparent;
}

table th, .wp-block-table th,
table td,
.wp-block-table td {
	padding: 0.75rem;
	vertical-align: top;
	border: none;
	border-top: 1px solid #dee2e6;
}

table thead th, .wp-block-table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

table tbody + tbody, .wp-block-table tbody + tbody {
	border-top: 2px solid #dee2e6;
}

.wp-block-table .wp-block-table__cell-content {
	padding: 0;
}

.table-bordered {
	border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 599.98px) {
	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

@media (max-width: 719.98px) {
	.table-responsive-md {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

@media (max-width: 1019.98px) {
	.table-responsive-lg {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

@media (max-width: 1199.98px) {
	.table-responsive-xl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

@media (max-width: 1919.98px) {
	.table-responsive-full {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.cs-list-articles {
	padding-left: 0;
	list-style: none;
}

.cs-list-articles > li > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	line-height: 1.25rem;
	color: #6c757d;
	font-size: 0.875rem;
	position: relative;
	padding-left: 2rem;
}

.cs-list-articles > li > a:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: "cs-icons";
	content: "\e904";
	color: #ced4da;
	font-size: 14px;
	margin-right: 1rem;
	display: inline-block;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	top: 4px;
}

.cs-list-articles > li > a:hover {
	color: #000000;
}

.cs-list-articles > li > a:hover:before {
	color: #fff;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
	background: #6c757d;
}

@font-face {
	font-family: "cs-icons";
	src: url("icons//icons.ttf") format("truetype"), url("icons//icons.woff") format("woff"), url("icons//icons.svg#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="cs-icon-"],
[class*=" cs-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "cs-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-icon-instagram:before {
	content: "\e938";
}

.cs-icon-youtube-alt:before {
	content: "\e937";
}

.cs-icon-dot-single:before {
	content: "\e933";
}

.cs-icon-pause:before {
	content: "\e936";
}

.cs-icon-pause-alt:before {
	content: "\e938";
}

.cs-icon-send:before {
	content: "\e935";
}

.cs-icon-share-top:before {
	content: "\e934";
}

.cs-icon-volume-x:before {
	content: "\e931";
}

.cs-icon-volume:before {
	content: "\e932";
}

.cs-icon-pause-circle:before {
	content: "\e92f";
}

.cs-icon-play-circle:before {
	content: "\e91d";
}

.cs-icon-clock:before {
	content: "\e92e";
}

.cs-icon-bag:before {
	content: "\e92d";
}

.cs-icon-cart:before {
	content: "\e92c";
}

.cs-icon-activity:before {
	content: "\e900";
}

.cs-icon-alert-circle:before {
	content: "\e901";
}

.cs-icon-arrow-down:before {
	content: "\e902";
}

.cs-icon-arrow-down-circle:before {
	content: "\e903";
}

.cs-icon-arrow-left:before {
	content: "\e906";
}

.cs-icon-arrow-left-circle:before {
	content: "\e907";
}

.cs-icon-arrow-right:before {
	content: "\e904";
}

.cs-icon-arrow-right-circle:before {
	content: "\e905";
}

.cs-icon-arrow-up-circle:before {
	content: "\e908";
}

.cs-icon-at-sign:before {
	content: "\e909";
}

.cs-icon-award:before {
	content: "\e90a";
}

.cs-icon-bookmark:before {
	content: "\e90b";
}

.cs-icon-chevron-down:before {
	content: "\e90c";
}

.cs-icon-chevron-left:before {
	content: "\e90e";
}

.cs-icon-chevron-right:before {
	content: "\e90d";
}

.cs-icon-chevron-up:before {
	content: "\e90f";
}

.cs-icon-circle:before {
	content: "\e910";
}

.cs-icon-eye:before {
	content: "\e911";
}

.cs-icon-file:before {
	content: "\e912";
}

.cs-icon-file-text:before {
	content: "\e913";
}

.cs-icon-film:before {
	content: "\e914";
}

.cs-icon-help-circle:before {
	content: "\e915";
}

.cs-icon-info:before {
	content: "\e916";
}

.cs-icon-menu:before {
	content: "\e917";
}

.cs-icon-message-square:before {
	content: "\e918";
}

.cs-icon-more-horizontal:before {
	content: "\e919";
}

.cs-icon-more-vertical:before {
	content: "\e91a";
}

.cs-icon-music:before {
	content: "\e91b";
}

.cs-icon-play:before {
	content: "\e91c";
}

.cs-icon-play-alt:before {
	content: "\e939";
}

.cs-icon-play-circle:before {
	content: "\e91d";
}

.cs-icon-plus-circle:before {
	content: "\e91e";
}

.cs-icon-search:before {
	content: "\e91f";
}

.cs-icon-share:before {
	content: "\e920";
}

.cs-icon-tag:before {
	content: "\e921";
}

.cs-icon-watch:before {
	content: "\e922";
}

.cs-icon-x:before {
	content: "\e923";
}

.cs-icon-x-circle:before {
	content: "\e924";
}

.cs-icon-x-square:before {
	content: "\e925";
}

.cs-icon-youtube:before {
	content: "\e926";
}

.cs-icon-zap:before {
	content: "\e927";
}

.cs-icon-zoom-in:before {
	content: "\e928";
}

.cs-icon-zoom-out:before {
	content: "\e929";
}

.cs-icon-mail:before {
	content: "\e92b";
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 1rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.25;
	color: #000000;
	word-wrap: break-word;
}

h1, .h1 {
	font-size: 3rem;
}

h2, .h2 {
	font-size: 2rem;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
}

h6, .h6 {
	font-size: 1rem;
}

hr, .wp-block-separator {
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 48px !important;
	margin-bottom: 48px !important;
}

small, .small {
	font-size: 80%;
	font-weight: 400;
}

mark, .mark {
	padding: 0.2em;
	background-color: #fcf8e3;
}

.entry-content, .wp-block-freeform, body {
	line-height: 1.5;
}

.entry-content > a, .wp-block-freeform > a, body > a,
.entry-content > p > a,
.wp-block-freeform > p > a,
body > p > a,
.entry-content > ul li > a,
.wp-block-freeform > ul li > a,
body > ul li > a,
.entry-content > ol li > a,
.wp-block-freeform > ol li > a,
body > ol li > a,
.entry-content > p > em > a,
.wp-block-freeform > p > em > a,
body > p > em > a,
.entry-content > p > strong > a,
.wp-block-freeform > p > strong > a,
body > p > strong > a {
	text-decoration: underline;
}

.entry-content > a:hover, .wp-block-freeform > a:hover, body > a:hover, .entry-content > a:focus, .wp-block-freeform > a:focus, body > a:focus,
.entry-content > p > a:hover,
.wp-block-freeform > p > a:hover,
body > p > a:hover,
.entry-content > p > a:focus,
.wp-block-freeform > p > a:focus,
body > p > a:focus,
.entry-content > ul li > a:hover,
.wp-block-freeform > ul li > a:hover,
body > ul li > a:hover,
.entry-content > ul li > a:focus,
.wp-block-freeform > ul li > a:focus,
body > ul li > a:focus,
.entry-content > ol li > a:hover,
.wp-block-freeform > ol li > a:hover,
body > ol li > a:hover,
.entry-content > ol li > a:focus,
.wp-block-freeform > ol li > a:focus,
body > ol li > a:focus,
.entry-content > p > em > a:hover,
.wp-block-freeform > p > em > a:hover,
body > p > em > a:hover,
.entry-content > p > em > a:focus,
.wp-block-freeform > p > em > a:focus,
body > p > em > a:focus,
.entry-content > p > strong > a:hover,
.wp-block-freeform > p > strong > a:hover,
body > p > strong > a:hover,
.entry-content > p > strong > a:focus,
.wp-block-freeform > p > strong > a:focus,
body > p > strong > a:focus {
	text-decoration: none;
}

.entry-content > blockquote, .wp-block-freeform > blockquote, body > blockquote {
	border-left: 1px solid #e9ecef;
	position: relative;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2rem;
}

.entry-content > blockquote cite, .wp-block-freeform > blockquote cite, body > blockquote cite {
	display: block;
	color: #000000;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	margin-top: 0.5rem;
}

.entry-content > blockquote p, .wp-block-freeform > blockquote p, body > blockquote p {
	line-height: 1.5;
}

.entry-content > blockquote p:first-child, .wp-block-freeform > blockquote p:first-child, body > blockquote p:first-child {
	font-size: inherit;
	margin-top: 0;
}

.entry-content > blockquote p:last-child, .wp-block-freeform > blockquote p:last-child, body > blockquote p:last-child {
	margin-bottom: 0;
}

.entry-content cite, .wp-block-freeform cite, body cite {
	color: #adadad;
}

.entry-content .wp-caption-dd, .wp-block-freeform .wp-caption-dd, body .wp-caption-dd {
	color: #adadad;
	margin-left: 0;
}

.entry-content .cs-embed, .wp-block-freeform .cs-embed, body .cs-embed {
	margin-top: 48px;
	margin-bottom: 48px;
}

.alignnone {
	max-width: 100%;
}

.alignleft {
	float: none;
	margin-right: 0;
	max-width: 100%;
}

@media (min-width: 600px) {
	.alignleft {
		float: left;
		margin-right: 2rem;
	}
}

.alignright {
	float: none;
	margin-left: 0;
	max-width: 100%;
}

@media (min-width: 600px) {
	.alignright {
		float: right;
		margin-left: 2rem;
	}
}

.aligncenter {
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.aligncenter .wp-caption-text,
.aligncenter .wp-caption-dd {
	text-align: center;
}

img.alignleft,
img.alignright {
	margin-bottom: 1rem;
}

/** =========== Blocks =========== */
.wp-block-columns > *:first-child {
	margin-top: 0;
}

.wp-block-columns > *:last-child {
	margin-bottom: 0;
}

.wp-block-columns .wp-block-column > *:first-child {
	margin-top: 0;
}

.wp-block-columns .wp-block-column > *:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
	.wp-block-columns {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}

p.has-background {
	padding: 1.5rem 2rem;
}

p.wp-block-subhead {
	font-size: 1.25rem;
	color: #adadad;
	opacity: 1;
}

p.has-drop-cap:not(:focus):first-letter {
	font-size: 4rem;
	line-height: 1;
	margin-top: 0.5rem;
	margin-right: 2rem;
	margin-bottom: 0.5rem;
}

.wp-block-separator:not(.is-style-dots) {
	border-top: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	margin-left: 0;
	margin-right: auto;
}

.wp-block-separator.is-style-dots {
	border: none;
	text-align: left;
}

.wp-block-separator.is-style-dots:before {
	padding-left: 0;
	color: #adadad;
}

.wp-block-button .wp-block-button__link {
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.wp-block-button .wp-block-button__link:not(.has-background) {
	background-color: #000000;
}

.wp-block-button .wp-block-button__link:not(.has-text-color) {
	color: white;
}

.wp-block-button .wp-block-button__link:hover {
	opacity: .75;
	cursor: pointer;
}

.wp-block-button:not(.is-style-squared) .wp-block-button__link {
	border-radius: 2rem;
}

.wp-block-code {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1rem 1.5rem;
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: 1.5;
	font-size: 0.875rem;
	color: #000000;
	white-space: pre-wrap;
	border-radius: 0;
	border: none;
}

.wp-block-code .editor-plain-text {
	background-color: transparent;
}

.wp-block-preformatted {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1rem 1.5rem;
}

.wp-block-preformatted pre {
	padding: 0;
}

.wp-block-preformatted,
.wp-block-preformatted pre {
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: 1.5;
	font-size: 0.875rem;
	color: #000000;
	white-space: pre-wrap;
}

.wp-block-verse {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1rem 1.5rem;
}

.wp-block-verse pre {
	padding: 0;
}

.wp-block-verse,
.wp-block-verse pre {
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: 1.5;
	font-size: 0.875rem;
	color: #000000;
	overflow: auto;
}

.wp-block-audio figcaption {
	color: #adadad;
}

.wp-block-embed figcaption {
	color: #adadad;
}

.wp-block-video video {
	width: 100%;
}

.wp-block-media-text p:last-child {
	margin-bottom: 0;
}

@media (max-width: 599.98px) {
	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
		padding-top: 8%;
		padding-bottom: 0;
	}
	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
		padding-top: 0;
		padding-bottom: 8%;
	}
}

.wp-block-image figcaption {
	color: #adadad;
	text-align: center;
}

@media (min-width: 600px) {
	.wp-block-image figcaption {
		text-align: initial;
	}
}

.wp-block-image .alignleft figcaption, .wp-block-image .alignright figcaption,
.wp-block-image .aligncenter figcaption, .wp-block-image .alignwide figcaption,
.wp-block-image .alignfull figcaption {
	text-align: center;
}

.wp-block-image.alignleft figcaption, .wp-block-image.alignright figcaption, .wp-block-image.aligncenter figcaption, .wp-block-image.alignwide figcaption, .wp-block-image.alignfull figcaption {
	text-align: center;
}

.wp-block-image .alignleft, .wp-block-image.alignleft {
	float: none;
	margin-right: 0;
}

@media (min-width: 600px) {
	.wp-block-image .alignleft, .wp-block-image.alignleft {
		float: left;
		margin-right: 2rem;
	}
}

.wp-block-image .alignright, .wp-block-image.alignright {
	float: none;
	margin-left: 0;
}

@media (min-width: 600px) {
	.wp-block-image .alignright, .wp-block-image.alignright {
		float: right;
		margin-left: 2rem;
	}
}

@media (max-width: 599.98px) {
	.wp-block-image .alignleft,
	.wp-block-image .alignright {
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-cover,
.wp-block-cover-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: auto;
}

.wp-block-cover:after,
.wp-block-cover-image:after {
	width: 0;
	padding-bottom: 56.25%;
	height: 100%;
	content: '';
}

.wp-block-cover.alignleft:after, .wp-block-cover.alignright:after,
.wp-block-cover-image.alignleft:after,
.wp-block-cover-image.alignright:after {
	padding-bottom: 75%;
}

.wp-block-cover.alignfull:after, .wp-block-cover.alignwide:after,
.wp-block-cover-image.alignfull:after,
.wp-block-cover-image.alignwide:after {
	padding-bottom: 40%;
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover-image .wp-block-cover-text {
	font-size: 2rem;
	line-height: 1.25;
	padding: 1rem;
}

@media (min-width: 600px) {
	.wp-block-cover .wp-block-cover-text,
	.wp-block-cover-image .wp-block-cover-text {
		padding: 2rem;
	}
}

.wp-block-quote:not(.is-large), .wp-block-quote:not(.is-style-large) {
	border-left: 1px solid #e9ecef;
	position: relative;
	font-size: 1.5rem;
	line-height: 1.5;
	padding-left: 2rem;
	color: #000000;
}

.wp-block-quote p {
	line-height: 1.5;
}

.wp-block-quote p:first-child {
	font-size: inherit;
	margin-top: 0;
}

.wp-block-quote p:last-child {
	margin-bottom: 0;
}

.wp-block-quote cite {
	font-style: normal;
	color: #000000;
	line-height: 1.5;
	font-weight: 500;
}

.wp-block-quote .wp-block-quote__citation {
	font-style: normal;
	color: #000000;
	line-height: 1.5;
	font-weight: 500;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-large p:first-child, .wp-block-quote.is-style-large p,
.wp-block-quote.is-style-large p:first-child {
	font-size: 2.5rem;
	font-style: normal;
	line-height: 1.5;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer, .wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	font-size: 0.875rem;
	text-align: left;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
	max-width: 100%;
}

@media (min-width: 600px) {
	.wp-block-pullquote.alignleft,
	.wp-block-pullquote.alignright,
	.wp-block-cover-image.alignleft,
	.wp-block-cover-image.alignright,
	.wp-block-cover.alignleft,
	.wp-block-cover.alignright {
		max-width: calc(50% - 1rem);
	}
}

.wp-block-pullquote {
	border-top: 4px solid #000000;
	border-bottom: 4px solid #000000;
	padding: 2rem 1rem;
}

.wp-block-pullquote blockquote {
	margin: 0;
}

.wp-block-pullquote p {
	font-size: 1.75rem;
	line-height: 1.5;
}

.wp-block-pullquote .alignleft p,
.wp-block-pullquote .alignright p {
	font-size: 1.25rem;
}

.wp-block-pullquote blockquote:not(.has-text-color) {
	color: #000000;
}

.wp-block-pullquote blockquote:not(.has-text-color) cite,
.wp-block-pullquote blockquote:not(.has-text-color) footer,
.wp-block-pullquote blockquote:not(.has-text-color) .wp-block-pullquote__citation {
	color: #adadad;
	font-style: italic;
}

.wp-block-latest-comments {
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
	padding: 2rem 0;
	margin: 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment {
	margin: 2rem 0 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment:first-child {
	margin-top: 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment > article {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-date {
	color: #adadad;
	font-size: 0.875rem;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
	font-size: inherit;
	line-height: inherit;
	margin: 0.5rem 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts,
.wp-block-categories-list,
.wp-block-categories__list,
.wp-block-archives-list {
	padding-left: 0;
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	text-align: left;
}

.wp-block-latest-posts li,
.wp-block-categories-list li,
.wp-block-categories__list li,
.wp-block-archives-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wp-block-latest-posts > li a,
.wp-block-categories-list > li a,
.wp-block-categories__list > li a,
.wp-block-archives-list > li a {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.wp-block-latest-posts > li > a,
.wp-block-categories-list > li > a,
.wp-block-categories__list > li > a,
.wp-block-archives-list > li > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding-left: 2rem;
}

.wp-block-latest-posts > li > a:before,
.wp-block-categories-list > li > a:before,
.wp-block-categories__list > li > a:before,
.wp-block-archives-list > li > a:before {
	position: absolute;
	left: 0;
	top: 8px;
	font-family: "cs-icons";
	content: "\e904";
	color: #ced4da;
	font-size: 14px;
	margin-right: 1rem;
	display: inline-block;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

.wp-block-latest-posts > li > a:hover,
.wp-block-categories-list > li > a:hover,
.wp-block-categories__list > li > a:hover,
.wp-block-archives-list > li > a:hover {
	color: #000000;
}

.wp-block-latest-posts > li > a:hover:before,
.wp-block-categories-list > li > a:hover:before,
.wp-block-categories__list > li > a:hover:before,
.wp-block-archives-list > li > a:hover:before {
	color: #fff;
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
	background: #6c757d;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date,
.wp-block-categories-list .wp-block-latest-posts__post-date,
.wp-block-categories__list .wp-block-latest-posts__post-date,
.wp-block-archives-list .wp-block-latest-posts__post-date {
	margin-left: 2rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	font-size: 0.875rem;
	color: #adadad;
}

.wp-block-latest-posts .children,
.wp-block-latest-posts .wp-block-categories__list,
.wp-block-categories-list .children,
.wp-block-categories-list .wp-block-categories__list,
.wp-block-categories__list .children,
.wp-block-categories__list .wp-block-categories__list,
.wp-block-archives-list .children,
.wp-block-archives-list .wp-block-categories__list {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.wp-block-categories > .wp-block-categories__list {
	padding: 0;
}

.wp-block-archives.wp-block-archives-list {
	padding: 0;
}

.wp-block-categories-list a,
.wp-block-categories__list a,
.wp-block-archives-list a {
	padding-right: 0.5rem;
}

body {
	background-color: #f6f6f9;
}

a {
	-webkit-transition: .2s color ease;
	transition: .2s color ease;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color: #000000;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus,
.h1 a:hover,
.h1 a:focus, .h2 a:hover, .h2 a:focus, .h3 a:hover, .h3 a:focus, .h4 a:hover, .h4 a:focus, .h5 a:hover, .h5 a:focus, .h6 a:hover, .h6 a:focus {
	color: #6c757d;
	text-decoration: none;
}

.cs-breadcrumbs {
	color: #adadad;
}

.cs-breadcrumbs a {
	color: #adadad;
}

.cs-breadcrumbs a:hover, .cs-breadcrumbs a:focus {
	color: #000000;
}

figcaption {
	color: #adadad;
}

span[class*="meta-"] {
	color: #adadad;
}

.archive-count {
	color: rgba(0, 0, 0, 0.5);
}

.page-subtitle {
	color: rgba(0, 0, 0, 0.5);
}

/** === Classic Editor === */
/* Classic Editor */
.content {
	max-width: 680px;
	background: #fff;
	padding: 40px;
	margin-left: 40px;
	margin-top: 40px;
}

.content blockquote p:first-child {
	font-size: 1.25rem;
	font-weight: 700;
}

.cs-embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.cs-embed-responsive:before {
	display: block;
	content: "";
}

.cs-embed-responsive iframe,
.cs-embed-responsive embed,
.cs-embed-responsive object,
.cs-embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.cs-embed-responsive:before {
	padding-top: 56.25%;
}

/* Classic Editor Block */
/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
	font-family: dashicons !important;
}

/** === Gutenberg Editor === */
/* Editor Frame */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background: #fff;
}

body .wp-block:not([data-align]) {
	max-width: 710px;
}

body .wp-block[data-align="left"],
body .wp-block[data-align="right"],
body .wp-block[data-align="center"] {
	max-width: 710px;
}

body.sidebar-enabled.post-sidebar-disabled .wp-block[data-align="wide"],
body.sidebar-enabled.post-sidebar-disabled .wp-block[data-align="full"] {
	max-width: 830px;
}

body.sidebar-enabled .wp-block[data-align="wide"],
body.sidebar-enabled .wp-block[data-align="full"] {
	max-width: 710px;
	margin-left: auto;
	margin-right: auto;
}

body.sidebar-enabled .wp-block[data-align="wide"] > .editor-block-list__block-edit,
body.sidebar-enabled .wp-block[data-align="full"] > .editor-block-list__block-edit {
	margin-left: -28px;
	margin-right: -28px;
}

body.sidebar-enabled .wp-block[data-align="wide"] > .editor-block-list__block-edit:before,
body.sidebar-enabled .wp-block[data-align="full"] > .editor-block-list__block-edit:before {
	right: -14px;
	left: -14px;
	border-left-width: 1px;
	border-right-width: 1px;
}

body.sidebar-enabled .wp-block[data-align="wide"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar,
body.sidebar-enabled .wp-block[data-align="full"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
	margin-left: -15px;
	margin-right: -15px;
}

body.sidebar-enabled .components-button .dashicons-align-wide,
body.sidebar-enabled .components-button .dashicons-align-full-width {
	cursor: default;
	opacity: 0.25;
}

body.sidebar-disabled .wp-block[data-align="wide"] {
	max-width: 1190px;
}

@media (min-width: 1020px) {
	body.sidebar-disabled .wp-block[data-align="wide"].editor-block-list__block > .editor-block-list__block-edit,
	body.sidebar-disabled .wp-block[data-align="full"].editor-block-list__block > .editor-block-list__block-edit {
		margin-top: 48px;
		margin-bottom: 48px;
	}
}

body.post-type-page .wp-block:not([data-align]) {
	max-width: 830px;
}

body.post-type-page .wp-block[data-align="left"],
body.post-type-page .wp-block[data-align="right"],
body.post-type-page .wp-block[data-align="center"] {
	max-width: 830px;
}

body.post-type-page .wp-block[data-align="wide"] {
	max-width: 830px;
}

body.post-type-page.sidebar-enabled .wp-block[data-align="wide"],
body.post-type-page.sidebar-enabled .wp-block[data-align="full"] {
	max-width: 830px;
}

body.post-type-page.sidebar-disabled .wp-block:not([data-align]) {
	max-width: 1190px;
}

body.post-type-page.sidebar-disabled .wp-block[data-align="wide"] {
	max-width: 1190px;
}

body.post-type-page.sidebar-disabled .wp-block[data-align="left"],
body.post-type-page.sidebar-disabled .wp-block[data-align="right"],
body.post-type-page.sidebar-disabled .wp-block[data-align="center"] {
	max-width: 1190px;
}

body.post-type-page.sidebar-disabled .components-button .dashicons-align-wide {
	cursor: default;
	opacity: 0.25;
}

body .wp-block .wp-block {
	width: 100%;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 3rem;
	color: #000000;
}

.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content {
	margin-top: 32px;
	margin-bottom: 32px;
}

.editor-block-list__block[data-align="wide"] .editor-block-contextual-toolbar .editor-block-toolbar.editor-block-toolbar,
.editor-block-list__block[data-align="full"] .editor-block-contextual-toolbar .editor-block-toolbar.editor-block-toolbar {
	max-width: none;
}

/* Heading */
.wp-block[data-type="core/heading"] h1.editor-rich-text__tinymce, .wp-block[data-type="core/heading"] h2.editor-rich-text__tinymce, .wp-block[data-type="core/heading"] h3.editor-rich-text__tinymce, .wp-block[data-type="core/heading"] h4.editor-rich-text__tinymce, .wp-block[data-type="core/heading"] h5.editor-rich-text__tinymce, .wp-block[data-type="core/heading"] h6.editor-rich-text__tinymce {
	line-height: 1.25;
}

/* Image */
.wp-block[data-type="core/image"][data-align="left"] figcaption,
.wp-block[data-type="core/image"][data-align="right"] figcaption,
.wp-block[data-type="core/image"][data-align="center"] figcaption,
.wp-block[data-type="core/image"][data-align="wide"] figcaption,
.wp-block[data-type="core/image"][data-align="full"] figcaption {
	text-align: initial;
}

@media (min-width: 600px) {
	.wp-block[data-type="core/image"][data-align="left"] figcaption,
	.wp-block[data-type="core/image"][data-align="right"] figcaption,
	.wp-block[data-type="core/image"][data-align="center"] figcaption,
	.wp-block[data-type="core/image"][data-align="wide"] figcaption,
	.wp-block[data-type="core/image"][data-align="full"] figcaption {
		text-align: center;
	}
}

/* Block Sizes */
.wp-block[data-align="left"] .editor-block-list__block-edit,
.wp-block[data-align="right"] .editor-block-list__block-edit {
	max-width: 100%;
}

.wp-block[data-align="left"] .wp-block-cover,
.wp-block[data-align="left"] .wp-block-image,
.wp-block[data-align="right"] .wp-block-cover,
.wp-block[data-align="right"] .wp-block-image {
	max-width: 100%;
}

/* Pullquote */
.wp-block[data-type="core/pullquote"] .wp-block-pullquote blockquote > .editor-rich-text p {
	font-size: 1.75rem;
	line-height: 1.5;
}

.wp-block[data-type="core/pullquote"] .wp-block-pullquote.alignleft blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"] .wp-block-pullquote.alignright blockquote > .editor-rich-text p {
	font-size: 1.25rem;
}

/* Block Alignment */
@media (min-width: 600px) {
	.editor-block-list__layout .editor-block-list__block[data-align=left][data-type="core/cover"] .editor-block-list__block-edit,
	.editor-block-list__layout .editor-block-list__block[data-align=right][data-type="core/cover"] .editor-block-list__block-edit {
		max-width: calc(50% + 1rem);
	}
}

.editor-block-list__layout .editor-block-list__block[data-align=left],
.editor-block-list__layout .editor-block-list__block[data-align=right] {
	height: initial;
}

@media (min-width: 600px) {
	.editor-block-list__layout .editor-block-list__block[data-align=left],
	.editor-block-list__layout .editor-block-list__block[data-align=right] {
		height: 0;
	}
}

.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit {
	margin-bottom: 1rem;
	margin-top: 0;
	margin-right: 0;
	float: none;
}

@media (min-width: 600px) {
	.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit {
		float: left;
		margin-right: 2rem;
	}
}

.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
	margin-bottom: 1rem;
	margin-top: 0;
	margin-left: 0;
	float: none;
}

@media (min-width: 600px) {
	.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
		float: right;
		margin-left: 2rem;
	}
}
