/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Shop Page
# Single Product Page
# Attributes
# Comments
# My Account
# Widgets
# Miscellaneous

/*--------------------------------------------------------------
## Shop Page
--------------------------------------------------------------*/
.woocommerce .entry-header .entry-header-thumbnail {
	margin-top: 2rem;
}

.woocommerce .entry-header-title,
.woocommerce .entry-header-standard,
.woocommerce .entry-header-small,
.woocommerce .entry-header-large {
	display: block;
	margin-bottom: 0;
}

.woocommerce ul.products,
.woocommerce-page ul.products {
	margin-bottom: 0;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	background: #fff;
	margin-top: 2rem;
	margin-bottom: 0;
	padding: 0;
}

ul.products.columns-1 li.product:nth-child(-n+1) {
	margin-top: 0;
}

ul.products.columns-2 li.product:nth-child(-n+2) {
	margin-top: 0;
}

ul.products.columns-3 li.product:nth-child(-n+3) {
	margin-top: 0;
}

ul.products.columns-4 li.product:nth-child(-n+4) {
	margin-top: 0;
}

ul.products.columns-5 li.product:nth-child(-n+5) {
	margin-top: 0;
}

ul.products.columns-6 li.product:nth-child(-n+6) {
	margin-top: 0;
}

ul.products.columns-7 li.product:nth-child(-n+7) {
	margin-top: 0;
}

ul.products.columns-8 li.product:nth-child(-n+8) {
	margin-top: 0;
}

ul.products.columns-9 li.product:nth-child(-n+9) {
	margin-top: 0;
}

ul.products.columns-10 li.product:nth-child(-n+10) {
	margin-top: 0;
}

ul.products.columns-11 li.product:nth-child(-n+11) {
	margin-top: 0;
}

ul.products.columns-12 li.product:nth-child(-n+12) {
	margin-top: 0;
}

ul.products.columns-13 li.product:nth-child(-n+13) {
	margin-top: 0;
}

ul.products.columns-14 li.product:nth-child(-n+14) {
	margin-top: 0;
}

ul.products.columns-15 li.product:nth-child(-n+15) {
	margin-top: 0;
}

.woocommerce .woocommerce-result-count {
	margin-top: 2rem;
	padding-top: 0.25rem;
	color: #adadad;
}

.woocommerce.large-section-enabled .woocommerce-result-count {
	margin-top: 0;
}

.woocommerce .woocommerce-ordering {
	margin-top: 2rem;
}

.woocommerce.large-section-enabled .woocommerce-ordering {
	margin-top: 0;
}

.woocommerce .woocommerce-ordering select {
	font-size: 80%;
}

.woocommerce .woocommerce-ordering {
	margin-bottom: 2rem;
	float: none;
}

@media (min-width: 600px) {
	.woocommerce .woocommerce-ordering {
		float: right;
	}
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	font-size: 1.25rem;
}

.woocommerce-shop-header-none .woocommerce-result-count,
.woocommerce-shop-header-none .woocommerce-ordering {
	margin-top: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title {
	text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title .count {
	background: transparent;
	color: #adadad;
	border: none;
}

.woocommerce ul.products li.product {
	text-align: center;
}

.woocommerce ul.products li.product a .wc-overlay-background {
	position: relative;
	margin-bottom: 0.5rem;
}

.woocommerce ul.products li.product a .wc-overlay-background img {
	margin-bottom: 0;
}

.woocommerce .woocommerce-loop-product__title {
	text-align: center;
	margin-bottom: 0;
}

.woocommerce ul.products li.product .star-rating {
	margin: 0.5rem auto;
}

.woocommerce ul.products li.product .price {
	text-align: center;
	color: #000000;
}

.woocommerce ul.products li.product .price del {
	display: inline;
	margin-right: 0.25rem;
}

.woocommerce ul.products li.product .price ins {
	text-decoration: none;
	font-weight: inherit;
}

.woocommerce ul.products li.product .button {
	padding-left: 1rem;
	padding-right: 1rem;
}

.woocommerce ul.products li.product .button.loading {
	padding-right: 2rem;
}

.woocommerce a.added_to_cart {
	display: block;
}

.woocommerce a.added_to_cart:hover {
	color: #adadad;
}

.woocommerce ul.products li.product .onsale {
	height: 38px;
	width: 38px;
	line-height: 38px;
	padding: 0;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	background-color: #000000;
	margin: -.8em -.8em 0 0;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.woocommerce ul.products li.product .onsale:hover {
	opacity: .875;
}

.woocommerce ul.products li.product .onsale {
	margin: -.8em -.8em 0 0;
	z-index: 3;
}

.woocommerce nav.woocommerce-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 3rem;
}

.woocommerce nav.woocommerce-pagination .page-numbers {
	border: none;
	display: inline-block;
	padding: 0;
	color: #adb5bd;
	font-size: 0.875rem;
}

.woocommerce nav.woocommerce-pagination .page-numbers li {
	border: none;
}

.woocommerce nav.woocommerce-pagination .page-numbers li > span,
.woocommerce nav.woocommerce-pagination .page-numbers li > a {
	border: 1px solid transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-width: 40px;
	min-height: 40px;
	padding: 0.5rem 0.75rem;
	line-height: unset;
}

.woocommerce nav.woocommerce-pagination .page-numbers li > span.current {
	border-color: #e9ecef;
	background: none;
	color: inherit;
}

.woocommerce nav.woocommerce-pagination .page-numbers li > a {
	color: #000000;
}

.woocommerce nav.woocommerce-pagination .page-numbers li > a:focus,
.woocommerce nav.woocommerce-pagination .page-numbers li > a:hover {
	background: none;
}

.woocommerce nav.woocommerce-pagination .page-numbers a.prev {
	font-size: 0;
}

.woocommerce nav.woocommerce-pagination .page-numbers a.prev:after {
	font-size: 0.875rem;
	font-family: "cs-icons";
	content: "\e904";
}

.woocommerce nav.woocommerce-pagination .page-numbers a.next {
	font-size: 0;
}

.woocommerce nav.woocommerce-pagination .page-numbers a.next:after {
	font-size: 0.875rem;
	font-family: "cs-icons";
	content: "\e906";
}

/*--------------------------------------------------------------
## Single Product Page
--------------------------------------------------------------*/
.woocommerce div.product .product_title {
	color: #000000;
}

.woocommerce .woocommerce-product-rating .star-rating {
	margin: 0 0.5rem 0 0;
}

.woocommerce div.product form.cart input.qty {
	height: 40px;
	line-height: 40px;
	padding-right: 0;
}

.woocommerce div.product form.cart button[name="add-to-cart"],
.woocommerce div.product form.cart button[type="submit"] {
	height: 40px;
	line-height: 40px;
	padding: 0 1rem;
}

.woocommerce a.woocommerce-review-link {
	color: #adadad;
	font-style: italic;
}

.woocommerce div.product .woocommerce-product-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 2px;
}

.woocommerce div.product .entry-summary p.price,
.woocommerce div.product .entry-summary span.price {
	color: #000000;
	margin: 0.5rem 0 1rem;
	position: relative;
}

.woocommerce div.product span.onsale {
	width: 40px;
	height: 40px;
	line-height: 40px;
	z-index: 3;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	font-weight: 400;
	text-decoration: none;
}

.woocommerce div.product div.summary p {
	margin-bottom: 1rem;
}

.woocommerce div.product div.summary p:last-child {
	margin-bottom: 2rem;
}

.woocommerce div.product form.cart div.quantity {
	margin-right: 2px;
}

.woocommerce .product_meta {
	color: #adadad;
}

.woocommerce .product_meta .sku_wrapper,
.woocommerce .product_meta .posted_in,
.woocommerce .product_meta .tagged_as {
	display: block;
	margin-bottom: 2px;
}

.woocommerce .product_meta a {
	color: #adadad;
}

.woocommerce-variation-price {
	margin-bottom: 1rem;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images .woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	width: 100%;
}

@media (min-width: 720px) {
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images .woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		width: 50%;
	}
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	background: #fff;
	width: 100%;
}

@media (min-width: 720px) {
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: calc(50% - 3rem);
	}
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
	margin-bottom: 3rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	padding: 1rem;
	font-size: 0.875rem;
}

.woocommerce .woocommerce-tabs .panel h2,
.woocommerce .related.products > h2,
.woocommerce .upsells.products > h2 {
	margin-bottom: 2rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: transparent;
	border-radius: 0;
	margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #adb5bd;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
	color: #000000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:not(.active) {
	border-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #000000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
	max-width: 100%;
	width: 100%;
	background: #fff;
	padding: 40px 0 0;
	margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ~ section {
	margin-top: 2rem;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## Attributes
--------------------------------------------------------------*/
.woocommerce table.shop_attributes th {
	font-weight: 400;
}

.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th {
	border-bottom: none;
	padding: 0.5rem;
	vertical-align: inherit;
}

.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
	background: transparent;
}

.woocommerce table.shop_attributes {
	border-top: none;
	margin-bottom: 0;
}

.woocommerce table.shop_attributes td {
	color: #adadad;
}

.woocommerce .related.products h2 {
	margin-bottom: 2rem;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.woocommerce #reviews #comments ol.commentlist {
	padding-left: 0;
	margin-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	position: relative;
	border: none;
	background: none;
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border: none;
	border-radius: 0;
	margin-left: 55px;
	padding: 0 0 0 0.5rem;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	margin-bottom: 3px;
}

.woocommerce #reviews #comments ol.commentlist li {
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 1rem;
	list-style: none;
}

.woocommerce #reviews #comments .star-rating {
	font-size: 80%;
}

.woocommerce .comment-text p.meta strong {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.woocommerce #reviews h3 {
	margin-bottom: 0.5rem;
	font-style: normal;
}

.woocommerce #review_form #respond p {
	margin: 0.5rem 0;
}

.woocommerce #review_form #respond .comment-notes {
	color: #adadad;
}

.woocommerce #review_form #respond textarea {
	margin-bottom: 0;
}

.woocommerce #reviews #comment {
	height: 120px;
}

.woocommerce #respond .form-submit {
	padding-right: 0;
	padding-left: 0;
}

.woocommerce #respond .form-submit input#submit {
	margin-top: 0.5rem;
	padding: 0.6666666667rem 2rem;
}

/*--------------------------------------------------------------
## My Account
--------------------------------------------------------------*/
.woocommerce-account .woocommerce-address-fields__field-wrapper {
	margin-bottom: 1.5rem;
}

.woocommerce-account table.my_account_orders th {
	padding: 0.5rem;
}

.woocommerce-account table.my_account_orders td,
.woocommerce-account table.my_account_orders th {
	padding: 0.5rem;
}

.woocommerce-account form.login,
.woocommerce-account form.register {
	border: 1px solid #e9ecef;
}

.woocommerce-account p.myaccount_user {
	margin-bottom: 2rem;
}

.woocommerce-account .addresses .title {
	margin-bottom: 1rem;
	line-height: 1rem;
}

.woocommerce-account .addresses .title h3 {
	margin-bottom: 0;
}

.woocommerce-account .addresses .title .edit {
	font-size: 80%;
	text-decoration: underline;
}

.woocommerce-account .col2-set.addresses {
	margin-top: 2rem;
}

.woocommerce-account .col2-set.addresses address {
	border: 1px solid #e9ecef;
	background: #f8f9fa;
	padding: 1rem;
	border-radius: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 26%;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	padding-left: 0;
	list-style: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	border-bottom: 1px solid #e9ecef;
	list-style: none;
	padding: 0.5rem 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	color: #000000;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
	color: #adadad;
}

.woocommerce-account .woocommerce-EditAccountForm legend {
	padding: 2rem 0 1rem;
}

.woocommerce-account .woocommerce-EditAccountForm button.button {
	margin-top: 1rem;
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	font-size: 100%;
	font-weight: 700;
}

.woocommerce .widget_shopping_cart .buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	padding-left: 0;
	padding-right: 0;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(50% - 5px);
	flex: 0 0 calc(50% - 5px);
	margin: 0 5px 0 0;
}

.woocommerce .widget_shopping_cart .buttons a + a,
.woocommerce.widget_shopping_cart .buttons a + a {
	margin: 0;
	margin-right: 5px;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
	font-size: 1rem;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
	margin-bottom: 8px;
}

.widget_shopping_cart .quantity {
	color: #adadad;
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
	margin-bottom: 1rem;
}

.woocommerce ul.product_list_widget li del {
	color: #adadad;
}

.woocommerce ul.product_list_widget li ins {
	text-decoration: none;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #e9ecef;
	padding-top: 0.5rem;
	margin-bottom: 1rem;
	color: #000000;
}

.woocommerce .widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart .total strong {
	font-weight: 600;
}

.widget_shopping_cart a.button,
.woocommerce .widget_price_filter .price_slider_amount .button {
	padding: 0.5rem 1rem 0.5rem;
	margin: 0 0.5rem 0 0;
	font-size: 0.65625rem;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 2px;
}

.woocommerce.widget_products ul.product_list_widget li img,
.woocommerce.widget_recently_viewed_products ul.product_list_widget li img,
.woocommerce.widget_recent_reviews ul.product_list_widget li img,
.woocommerce.widget_top_rated_products ul.product_list_widget li img {
	float: left;
	margin-left: 0;
	margin-right: 2rem;
	width: 80px;
}

.woocommerce.widget_products ul.product_list_widget li,
.woocommerce.widget_recently_viewed_products ul.product_list_widget li,
.woocommerce.widget_recent_reviews ul.product_list_widget li,
.woocommerce.widget_top_rated_products ul.product_list_widget li {
	margin-bottom: 0.5rem;
}

.woocommerce.widget_products .amount,
.woocommerce.widget_recently_viewed_products .amount,
.woocommerce.widget_recent_reviews .amount,
.woocommerce.widget_top_rated_products .amount {
	color: #adadad;
}

.woocommerce.widget_products span.product-title,
.woocommerce.widget_recently_viewed_products span.product-title,
.woocommerce.widget_recent_reviews span.product-title,
.woocommerce.widget_top_rated_products span.product-title {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.woocommerce ul.product_list_widget .reviewer {
	color: #adadad;
	font-style: italic;
}

.woocommerce.widget_layered_nav ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.woocommerce.widget_layered_nav ul li .count {
	color: #adadad;
}

.woocommerce.widget_layered_nav ul li a:hover {
	text-decoration: none;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::after,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::before {
	display: none;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {
	border-bottom: 1px #e9ecef solid;
	padding: 0.5rem 0;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.woocommerce .widget_layered_nav_filters ul li a:before,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a:before {
	font-family: 'cs-icons';
	font-size: 80%;
	content: "\e923";
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #e9ecef;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #000000;
}

.woocommerce .widget_price_filter .price_slider_amount input[type="text"] {
	display: none;
}

.woocommerce .widget_rating_filter ul li .star-rating {
	margin-bottom: 0;
}

.woocommerce .widget_rating_filter ul li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #adadad;
}

.widget_product_categories ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	padding: 0.5rem 0;
}

.widget_product_categories ul li:not(:last-child) {
	border-bottom: 1px #e9ecef solid;
}

.widget_product_categories ul li:first-child:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.widget_product_categories ul li:first-child:last-child > .sub-menu {
	padding-bottom: 0;
}

.widget_product_categories ul li a {
	padding-right: 0.6666666667rem;
	margin-right: auto;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.widget_product_categories ul ul.children {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	width: 100%;
	margin: 0.5rem 0;
}

.widget_product_categories ul ul.children li {
	padding: 1rem 0 1rem 1rem;
}

.widget_product_categories ul ul.children li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.widget_product_tag_cloud {
	overflow: hidden;
}

.widget_product_tag_cloud .tagcloud {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.widget_product_tag_cloud .tagcloud a {
	background: #e9ecef;
	height: 2rem;
	line-height: 2rem;
	padding: 0 0.5rem;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	text-decoration: none;
	font-weight: normal;
}

.widget_product_tag_cloud .tagcloud a:last-child {
	margin-right: 0;
}

.widget_product_search .woocommerce-product-search {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

.widget_product_search .woocommerce-product-search input[type="search"].search-field {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	position: relative;
	z-index: 2;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.widget_product_search .woocommerce-product-search button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	line-height: 1.5rem;
}

/*--------------------------------------------------------------
## Miscellaneous
--------------------------------------------------------------*/
.woocommerce .star-rating {
	float: none;
	margin-bottom: 0.5rem;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	border: none;
	display: inline-block;
	border: 1px solid #000000;
	background-color: #fff;
	color: #FFFFFF;
	width: auto;
	padding: 0.375rem 1rem;
	border-radius: 0;
	-webkit-transition: .25s;
	transition: .25s;
	cursor: pointer;
	text-transform: uppercase;
}

.woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus {
	background-color: #fff;
	text-decoration: none;
	opacity: .75;
	color: #FFFFFF;
}

.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover {
	background: #e9ecef;
	color: #e9ecef;
}

.woocommerce a.cs-author-button,
.woocommerce a.pk-about-button,
.woocommerce a.pk-twitter-btn,
.woocommerce a.pk-instagram-btn {
	padding: 0.5rem 1rem;
	line-height: 1.5;
}

.woocommerce a.cs-author-button:hover, .woocommerce a.cs-author-button:focus,
.woocommerce a.pk-about-button:hover,
.woocommerce a.pk-about-button:focus,
.woocommerce a.pk-twitter-btn:hover,
.woocommerce a.pk-twitter-btn:focus,
.woocommerce a.pk-instagram-btn:hover,
.woocommerce a.pk-instagram-btn:focus {
	text-decoration: none;
	color: #FFFFFF;
}

.woocommerce a.pk-twitter-btn,
.woocommerce a.pk-instagram-btn {
	width: 100%;
}

.woocommerce a.cs-author-button,
.woocommerce a.pk-about-button {
	margin-top: 1.5rem;
	overflow: hidden;
}

.woocommerce .navbar-follow .navbar-follow-btn {
	color: #FFFFFF;
	line-height: 1.5;
	padding: 0.5rem 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.woocommerce .navbar-follow .navbar-follow-btn:hover, .woocommerce .navbar-follow .navbar-follow-btn:focus {
	color: #FFFFFF;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
	margin-bottom: 1.5rem;
	color: #adadad;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
	color: #000000;
}

.woocommerce-products-header {
	margin-bottom: 0;
}

.woocommerce-products-header .page-title {
	margin: 0;
}

.woocommerce-products-header .page-description {
	margin: 2rem 0 0;
}

.woocommerce-products-header p:last-child {
	margin-bottom: 0;
}

.navbar-cart {
	display: none;
	position: relative;
	-ms-flex-line-pack: center;
	align-content: center;
	height: 2rem;
}

.navbar-cart:not(:first-child) {
	margin-left: 1rem;
}

@media (min-width: 1020px) {
	.navbar-cart {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.navbar-cart .cs-icon {
	height: 2rem;
	line-height: 2rem;
}

.navbar-cart .cart-quantity {
	display: block;
	font-size: 0.75rem;
	margin-left: 0.5rem;
	line-height: 2rem;
}

.woocommerce-cart .return-to-shop a.button {
	padding: 0.6666666667rem 1rem;
	color: #fff;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	background-color: #f8f9fa;
	padding: 0.8em 2em 1em 3.5em !important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
	top: 11px;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	border-top-color: #e9ecef;
	line-height: 2rem;
}

.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li,
.woocommerce .woocommerce-message li {
	margin-bottom: 0;
}

.woocommerce .woocommerce-info:before {
	color: #adadad;
}

.woocommerce-message:before {
	color: #28a745;
}

.woocommerce-error::before {
	color: #dc3545;
}

.woocommerce-checkout h3 {
	margin-top: 30px;
}

.woocommerce-checkout a.showlogin,
.woocommerce-checkout a.showcoupon {
	text-decoration: underline;
}

.woocommerce-checkout form.woocommerce-form-coupon {
	border-color: #e9ecef;
}

.woocommerce-checkout form.woocommerce-form-coupon button[name="apply_coupon"] {
	height: 2rem;
	line-height: 1;
}

.woocommerce-checkout #payment ul.payment_methods li {
	list-style: none;
}

.woocommerce-checkout #payment ul.payment_methods li input {
	width: auto;
}

.woocommerce-checkout #payment {
	background-color: #f8f9fa;
}

.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: none;
}

.woocommerce-checkout #payment div.payment_box:before {
	border: 1em solid #e9ecef;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.woocommerce-checkout #payment div.payment_box {
	background-color: #e9ecef;
	color: #adadad;
}

.woocommerce-checkout #payment .button.alt {
	padding: 0.75rem 1rem;
}

.woocommerce-checkout .woocommerce-customer-details address {
	border: 1px solid #e9ecef;
	background: #f8f9fa;
	padding: 1rem;
	border-radius: 0;
}

.woocommerce-checkout ul.order_details {
	padding-left: 0;
	margin: 0 0 2rem;
}

.woocommerce-checkout ul.order_details li {
	margin-bottom: 1rem;
	list-style: none;
}

.woocommerce-checkout ul.order_details li.email {
	display: none;
}

.woocommerce-checkout ul.order_details li strong {
	margin-top: 0.25rem;
	letter-spacing: 0;
}

.woocommerce table.shop_table {
	border-collapse: collapse;
	border-radius: 0;
}

.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
	border-bottom: none;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	font-weight: 400;
}

.woocommerce table.shop_table th {
	background: #f8f9fa;
	border: none;
	border-bottom: 1px solid #e9ecef;
}

.woocommerce table.shop_table td {
	padding: 0.5rem 1rem;
	border: none;
}

.woocommerce table.shop_table tr:hover td {
	background: #f8f9fa;
}

.woocommerce table.shop_table .cart_item a {
	color: #000000;
}

.woocommerce table.shop_table .cart_item a:hover {
	text-decoration: underline;
}

.woocommerce table.shop_table .product-remove a {
	font-size: 100%;
}

.woocommerce table.shop_table .product-remove a:hover {
	text-decoration: none;
}

.woocommerce .wc-proceed-to-checkout a.checkout-button.alt {
	width: 100%;
	padding: 1rem;
}

.woocommerce .quantity .qty {
	display: inline-block;
	width: 5em;
}

.woocommerce-cart-form {
	margin-bottom: 3rem;
}

.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product,
.woocommerce-checkout .cart-collaterals .cross-sells ul.products li.product {
	margin-bottom: 1rem;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
}

.woocommerce .cart-collaterals .cross-sells + .cart_totals,
.woocommerce-page .cart-collaterals .cross-sells + .cart_totals {
	width: 48%;
}

.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th {
	padding-left: 1rem;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
	border-top: none;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 0.04rem 0.5rem;
	margin-right: 1rem;
}

.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: 140px;
	font-size: 80%;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
	background: #f8f9fa;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	padding: 15px;
	border-top: 1px solid #e9ecef;
}

.woocommerce a.remove {
	color: #adadad !important;
}

.woocommerce a.remove:hover {
	background: none !important;
	color: #000000 !important;
	text-decoration: none;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
	padding-left: 2rem;
}

.woocommerce .login #password {
	margin-bottom: 1rem;
}

.woocommerce .login .button {
	margin-right: 1rem;
}

.woocommerce form .form-row .input-checkbox {
	width: auto;
}

.woocommerce .select2-container .select2-selection--single {
	border-color: #E6E6E6;
	height: 33.3333333333px;
}

.woocommerce .select2-container .select2-selection--single .select2-selection__rendered {
	font-size: 0.75rem;
	padding: 0.125rem 0.5rem;
	color: #000000;
}

.woocommerce .select2-container .select2-selection--single .select2-selection__arrow {
	height: 33.3333333333px;
}

.entry-content .woocommerce ul.products,
.entry-content .woocommerce-page ul.products {
	margin-bottom: 1rem;
}

.entry-content .woocommerce ul.products li.product,
.entry-content .woocommerce-page ul.products li.product {
	background: transparent;
	padding: 0;
}

.entry-content .woocommerce ul.products li.product .woocommerce-loop-category__title,
.entry-content .woocommerce ul.products li.product .woocommerce-loop-product__title,
.entry-content .woocommerce ul.products li.product h3 {
	font-size: 1rem;
}

.entry-content .woocommerce .woocommerce-result-count,
.entry-content .woocommerce .woocommerce-ordering {
	margin-top: 1rem;
}

.entry-content .woocommerce nav.woocommerce-pagination {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.cs-bg-navbar-dark .navbar-cart .cs-icon {
	color: #fff;
}

.cs-bg-navbar-dark .navbar-cart .cs-icon:hover {
	color: rgba(255, 255, 255, 0.75);
}

.cs-bg-navbar-dark .navbar-cart .cart-quantity {
	color: #fff;
}
