/**
 * Collapsibles
 */

.customize-collapsible {
	position: relative;
	margin: 0 -12px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	h3 {
		display: block;
		position: relative;
		margin: 0;
		padding: 10px 14px;
		color: #555;
		background: white;
		line-height: 21px;
		user-select: none;
		cursor: pointer;
		&:after {
			position: absolute;
			top: 12px;
			right: 14px;
			color: #a0a5aa;
			font: 400 20px/1 dashicons;
			content: "\f343";
		}
		&:hover {
			color: #0073aa;
			background: #f5f5f5;
			&:after {
				color: #0073aa;
			}
		}
	}
}

.customize-control-collapsed {
	margin-bottom: 0;
	.customize-collapsible {
		h3 {
			&:after {
				content: "\f347";
			}
		}
	}
}

.customize-control-hidden {
	height: 0 !important;
	overflow: hidden !important;
	visibility: hidden;
}

.customize-section-description-container {
	& + .customize-control-kirki-custom {
		.customize-collapsible {
			border-top: 0;
		}
	}
}

/**
 * Sortable Field
 */

.customize-control-kirki-sortable {
	ul.ui-sortable li {
		border-color: #dbdbdb;
	}
}