// This file is used for MCE styles in WP dashboard.
//
// It's used to generate /css/editor-style.css

// Overrides

$cs-icon-font-path: "icons/" !default;

$cs-theme-font-path: "fonts/" !default;

// Variables & Mixins

@import "variables/variables";
@import "mixins/mixins";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Includes

@import "base/_tables";
@import "base/_lists";
@import "base/_icons";
@import "base/_typography";
@import "base/_content";
@import "base/_colors";


/** === Classic Editor === */

/* Classic Editor */
.content {
	max-width: $content-width;
	background: $white;
	padding: $grid-gutter-width;
	margin-left: $grid-gutter-width;
	margin-top: $grid-gutter-width;

	blockquote {
		p:first-child {
			font-size: $h5-font-size;
			font-weight: 700;
		}
	}
}

.cs-embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	&:before {
		display: block;
		content: "";
	}
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.cs-embed-responsive {
	&:before {
		padding-top: percentage(9 / 16);
	}
}

/* Classic Editor Block */
.wp-block-freeform {
	@extend .entry-content;
}

/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
	font-family: dashicons !important;
}


/** === Gutenberg Editor === */

/* Editor Frame */

body {
	font-family: $font-family-base;
	background: $white;

	.wp-block:not([data-align]) {
		max-width: $content-width + 30px;
	}

	.wp-block[data-align="left"],
	.wp-block[data-align="right"],
	.wp-block[data-align="center"] {
		max-width: $content-width + 30px;
	}

	&.sidebar-enabled.post-sidebar-disabled {
		.wp-block[data-align="wide"],
		.wp-block[data-align="full"] {
			max-width: $content-width-medium + 30px;
		}
	}

	&.sidebar-enabled {
		.wp-block[data-align="wide"],
		.wp-block[data-align="full"] {
			max-width: $content-width + 30px;
			margin-left: auto;
			margin-right: auto;
			& > .editor-block-list__block-edit {
				margin-left: -28px;
				margin-right: -28px;
			}
			& > .editor-block-list__block-edit:before {
				right: -14px;
				left: -14px;
				border-left-width: 1px;
				border-right-width: 1px;
			}
			& > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
				margin-left: -15px;
				margin-right: -15px;
			}
		}

		.components-button {
			.dashicons-align-wide,
			.dashicons-align-full-width {
				cursor: default;
				opacity: 0.25;
			}
		}
	}

	&.sidebar-disabled {
		.wp-block[data-align="wide"] {
			max-width: $content-width-large + 30px;
		}
	}

	&.sidebar-disabled .wp-block[data-align="wide"],
	&.sidebar-disabled .wp-block[data-align="full"] {
		@include media-breakpoint-up(lg) {
			&.editor-block-list__block  > .editor-block-list__block-edit {
				margin-top: $content-media-spacer;
				margin-bottom: $content-media-spacer;
			}
		}
	}

	// Page max width.

	&.post-type-page {
		.wp-block:not([data-align]) {
			max-width: $content-width-medium + 30px;
		}

		.wp-block[data-align="left"],
		.wp-block[data-align="right"],
		.wp-block[data-align="center"] {
			max-width: $content-width-medium + 30px;
		}

		.wp-block[data-align="wide"] {
			max-width: $content-width-medium + 30px;
		}
	}

	&.post-type-page.sidebar-enabled {
		.wp-block[data-align="wide"],
		.wp-block[data-align="full"] {
			max-width: $content-width-medium + 30px;
		}
	}

	&.post-type-page.sidebar-disabled {
		.wp-block:not([data-align]) {
			max-width: $content-width-large + 30px;
		}

		.wp-block[data-align="wide"] {
			max-width: $content-width-large + 30px;
		}

		.wp-block[data-align="left"],
		.wp-block[data-align="right"],
		.wp-block[data-align="center"] {
			max-width: $content-width-large + 30px;
		}

		.components-button {
			.dashicons-align-wide {
				cursor: default;
				opacity: 0.25;
			}
		}
	}

	.wp-block {
		// Only the top level blocks need specific widths,
		// therefore override for every nested block.
		.wp-block {
			width: 100%;
		}
	}

	@extend .entry-content;
}

// Editor title block.
.editor-post-title__block .editor-post-title__input {
	font-size: $h1-font-size;
	color: $headings-color;
}

// Set your own value for the indentation between blocks and layers.
.editor-block-list__layout >.editor-block-list__block >.editor-block-list__block-edit,
.editor-block-list__layout >.editor-block-list__layout >.editor-block-list__block >.editor-block-list__block-edit,
.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content {
	margin-top: $content-spacer;
	margin-bottom: $content-spacer;
}

// Since 2019 left-aligns wide and fullwide blocks, left align the toolbar too.
.editor-block-list__block[data-align="wide"] .editor-block-contextual-toolbar,
.editor-block-list__block[data-align="full"] .editor-block-contextual-toolbar {
	.editor-block-toolbar.editor-block-toolbar {
		max-width: none;
	}
}

/* Heading */
.wp-block[data-type="core/heading"] {
	h1, h2, h3, h4, h5, h6 {
		&.editor-rich-text__tinymce {
			line-height: $headings-line-height;
		}
	}
}

/* Image */

.wp-block[data-type="core/image"][data-align="left"],
.wp-block[data-type="core/image"][data-align="right"],
.wp-block[data-type="core/image"][data-align="center"],
.wp-block[data-type="core/image"][data-align="wide"],
.wp-block[data-type="core/image"][data-align="full"] {
	figcaption {
		text-align: initial;
	}
	@include media-breakpoint-up(sm) {
		figcaption {
			text-align: center;
		}
	}

}

/* Block Sizes */

.wp-block[data-align="left"],
.wp-block[data-align="right"] {

	.editor-block-list__block-edit {
		max-width: 100%;
	}

	.wp-block-cover,
	.wp-block-image {
		max-width: 100%;
	}
}

/* Pullquote */

.wp-block[data-type="core/pullquote"] {
	.wp-block-pullquote {
		blockquote > .editor-rich-text p {
			font-size: $h3-font-size;
			line-height: 1.5;
		}

		&.alignleft blockquote > .editor-rich-text p,
		&.alignright blockquote > .editor-rich-text p {
			font-size: $h5-font-size;
		}
	}
}

/* Block Alignment */

.editor-block-list__layout {

	.editor-block-list__block[data-align=left][data-type="core/cover"],
	.editor-block-list__block[data-align=right][data-type="core/cover"] {
		.editor-block-list__block-edit {
			@include media-breakpoint-up(sm) {
				max-width: calc(50% + 1rem);
			}
		}
	}

	.editor-block-list__block[data-align=left],
	.editor-block-list__block[data-align=right] {
		height: initial;
		@include media-breakpoint-up(sm) {
			height: 0;
		}
	}

	.editor-block-list__block[data-align=left] {
		.editor-block-list__block-edit {
			margin-bottom: $spacer;
			margin-top: 0;
			margin-right: 0;
			float: none;
			@include media-breakpoint-up(sm) {
				float: left;
				margin-right: $spacer * 2;
			}
		}
	}

	.editor-block-list__block[data-align=right] {
		.editor-block-list__block-edit {
			margin-bottom: $spacer;
			margin-top: 0;
			margin-left: 0;
			float: none;
			@include media-breakpoint-up(sm) {
				float: right;
				margin-left: $spacer * 2;
			}
		}
	}
}
