//
// Colors
//

$body-color: #121416;
$body-background: #f6f6f9;
$primary: #000000;
$secondary: #adadad;
$secondary-hover: #000000;
$secondary-background: #ffffff;
$excerpt: #8E9099;

$headings-color: #000000;
$headings-hover-color: #6c757d;
$link-hover-decoration: none;
$link-hover-color: $secondary;
$shares-color: #ededed;

//
// Brand
//

$navbar-brand-font-size: 2rem;

//
// Headings
//

$h1-font-size: 3rem;
$headings-margin-bottom: 1rem;
$headings-line-height: 1.25;

//
// Font sizes
//

$font-size-low: 0.75rem;
$font-size-intermediate: 1.25rem;
$font-size-medium: 1.5rem;

//
// Forms
//

$input-transition: background-color 0.15s ease-in-out;
$input-padding-x: 1rem;
$input-focus-bg: #FFFFFF;
$input-border-width: 1px;
$input-border-color: #E6E6E6;
$input-bg: #FFFFFF;
$input-placeholder-color: #A8AAB2;
$input-font-size: 0.75rem;
$input-line-height: 3.125rem;
$input-btn-focus-color: rgba(0, 0, 0, .125);
$btn-color: #FFFFFF;

//
// Layout
//

$grid-gutter-width: 40px;

$grid-breakpoints: (xs: 0,
sm: 600px,
md: 720px,
lg: 1020px,
xl: 1200px,
full: 1920px);

$container-max-widths: (sm: 600px,
md: 720px,
lg: 1020px,
xl: 1200px);

$spacer-gutter-width: $grid-gutter-width / 4;

//
// Entry content
//

$content-width : 680px;
$content-width-medium : 800px;
$content-width-large : 1160px;
$content-spacer : 32px;
$content-media-spacer : 48px;
$content-line-height : 1.5;

//
// Off-Canvas Area
//

$offcanvas-width: 320px;

//
// Miscellaneous
//

$enable-rounded: true;
$border-radius: 0;
$rtl: false !default;
$btn-padding-x: 1rem;
$hr-margin-y: 3rem;

//
// Theme fonts
//

$cs-theme-font-path: "css/fonts" !default;

//
// Icons
//

$cs-icon-font-path: "css/icons" !default;

$cs-icon-instagram: \e938;
$cs-icon-youtube-alt: \e937;
$cs-icon-dot-single: \e933;
$cs-icon-pause: \e936;
$cs-icon-pause-alt: \e938;
$cs-icon-send: \e935;
$cs-icon-share-top: \e934;
$cs-icon-volume-x: \e931;
$cs-icon-volume: \e932;
$cs-icon-pause-circle: \e92f;
$cs-icon-play-circle: \e930;
$cs-icon-clock: \e92e;
$cs-icon-bag: \e92d;
$cs-icon-cart: \e92c;
$cs-icon-activity: \e900;
$cs-icon-alert-circle: \e901;
$cs-icon-arrow-down: \e902;
$cs-icon-arrow-down-circle: \e903;
$cs-icon-arrow-left: \e904;
$cs-icon-arrow-left-circle: \e905;
$cs-icon-arrow-right: \e906;
$cs-icon-arrow-right-circle: \e907;
$cs-icon-arrow-up-circle: \e908;
$cs-icon-at-sign: \e909;
$cs-icon-award: \e90a;
$cs-icon-bookmark: \e90b;
$cs-icon-chevron-down: \e90c;
$cs-icon-chevron-left: \e90d;
$cs-icon-chevron-right: \e90e;
$cs-icon-chevron-up: \e90f;
$cs-icon-circle: \e910;
$cs-icon-eye: \e911;
$cs-icon-file: \e912;
$cs-icon-file-text: \e913;
$cs-icon-film: \e914;
$cs-icon-help-circle: \e915;
$cs-icon-info: \e916;
$cs-icon-menu: \e917;
$cs-icon-message-square: \e918;
$cs-icon-more-horizontal: \e919;
$cs-icon-more-vertical: \e91a;
$cs-icon-music: \e91b;
$cs-icon-play: \e91c;
$cs-icon-play-alt: \e939;
$cs-icon-play-circle: \e91d;
$cs-icon-plus-circle: \e91e;
$cs-icon-search: \e91f;
$cs-icon-share: \e920;
$cs-icon-tag: \e921;
$cs-icon-watch: \e922;
$cs-icon-x: \e923;
$cs-icon-x-circle: \e924;
$cs-icon-x-square: \e925;
$cs-icon-youtube: \e926;
$cs-icon-zap: \e927;
$cs-icon-zoom-in: \e928;
$cs-icon-zoom-out: \e929;
$cs-icon-image: \e92a;
$cs-icon-mail: \e92b;

@if $rtl==true {
    $cs-icon-arrow-left: \e906;
    $cs-icon-arrow-right: \e904;
    $cs-icon-arrow-left-circle: \e907;
    $cs-icon-arrow-right-circle: \e905;
    $cs-icon-chevron-left: \e90e;
    $cs-icon-chevron-right: \e90d;
}

//
// Gallery Shortcode Columns
//

$columns: (1: 100%,
2: 50%,
3: 33.33%,
4: 25%,
5: 20%,
6: 16.66%,
7: 14.28%,
8: 12.5%,
9: 11.11%);