// Icon Code
//
// Example: content: unicode( $cs-icon-arrow-right )
@function unicode($str) {
	@return unquote("\"")+$str+unquote("\"");
}

// Inline Lists
//
// Unstyles list and inlines list items.
@mixin list-inline() {
	@include list-unstyled();
	&>li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: $list-inline-padding;
		}
	}
}

//
// Button icon
//
@mixin button-icon( $margin-left: 0.5rem, $icon: $cs-icon-chevron-right ) {
	display: flex;
	align-items: center;
	justify-content: center;
	&:after {
		display: inline-block;
		margin-left:  $margin-left;
		font-family: "cs-icons";
		font-size: 1rem;
		content: unicode($icon);
	}
}

//
// Element loader
//
@mixin loader( $size: $grid-gutter-width, $color: $secondary, $border-size: 2px, $duration: 1s, $align: null) {
	width: $size;
	height: $size;
	border: $border-size solid rgba( $color, 0.25);
	border-top-color: $color;
	border-radius: 50%;
	position: relative;
	animation: loader-rotate $duration linear infinite;
	@if ( $align==center) {
		margin: 0 auto;
	}
	@if ( $align==middle) {
		top: 50%;
		margin: -$size / 2 auto 0;
	}
	@include loader-rotate;
}

@mixin loader-rotate {
	@keyframes loader-rotate {
		0% {
			transform: rotate( 0);
		}
		100% {
			transform: rotate( 360deg);
		}
	}
}

//
// Set block width by breakpoint.
//
@mixin cs-block-width($breakpoint: 'xl', $offset: 0) {
	@include media-breakpoint-up($breakpoint) {
		width: map-get($container-max-widths, $breakpoint) + $offset;
		max-width: map-get($container-max-widths, $breakpoint) + $offset;
	}
}

// For each breakpoint, define the  width of the container in a media query.
@mixin cs-block-widths($offset: 0, $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {

	@each $breakpoint,
	$container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			width: $container-max-width + $offset;
		}
	}
}

// For each breakpoint, define the maximum width of the container in a media query.
@mixin cs-block-max-widths($offset: 0, $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {

	@each $breakpoint,
	$container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			max-width: $container-max-width + $offset;
		}
	}
}

@mixin cs-card-make-row($gutter: $grid-gutter-width) {
	display: flex;
	flex-wrap: wrap;
}

@mixin cs-card-make-col-ready($gutter: $grid-gutter-width) {
	position: relative;
	width: 100%;
}

@mixin cs-card-make-col($size, $columns: $grid-columns) {
	flex: 0 0 percentage($size / $columns);
	max-width: percentage($size / $columns);
}