.wp-caption {
	margin-bottom: $spacer;
	max-width: 100%;

	img[class*="wp-image-"] {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.wp-caption-text {
		margin: $spacer 0;
	}
}

.wp-caption-text {
	margin-top: $spacer;
	font-size: $font-size-sm;
}
