// Flickity Init

.cs-flickity-init {

	.flickity-enabled {
		position: relative;
		padding-bottom: 0;
	}

	.flickity-enabled:focus {
		outline: none;
	}

	.flickity-enabled.is-animate .flickity-viewport {
		transition: height 0.2s;
	}

	// draggable

	.flickity-enabled.is-draggable {
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.flickity-enabled.is-draggable .flickity-viewport {
		cursor: move;
		cursor: -webkit-grab;
		cursor: grab;
	}

	.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
		cursor: -webkit-grabbing;
		cursor: grabbing;
	}

	// ---- viewport ----

	.flickity-viewport {
		overflow: hidden;
		position: relative;
		height: 100%;
	}

	.flickity-slider {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	// ---- flickity-button ----

	.flickity-button {
		position: absolute;
		background: hsla(0, 0%, 100%, 0.75);
		border: none;
		color: #333;
	}

	.flickity-button:hover {
		background: white;
		cursor: pointer;
	}

	.flickity-button:focus {
		outline: none;
		box-shadow: 0 0 0 5px #19F;
	}

	.flickity-button:active {
		opacity: 0.6;
	}

	.flickity-button:disabled {
		opacity: 0.3;
		cursor: auto;
		/* prevent disabled button from capturing pointer up event. #716 */
		pointer-events: none;
	}

	.flickity-button-icon {
		fill: #333;
	}

	// ---- previous/next buttons ----

	.flickity-prev-next-button {
		top: 50%;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		/* vertically center */
		margin-top: -22px;
	}

	.flickity-prev-next-button.previous {
		@if $rtl == true {
			transform: scale(-1, 1);
		}
		left: 1rem;
	}

	.flickity-prev-next-button.next {
		@if $rtl == true {
			transform: scale(-1, 1);
		}
		right: 1rem;
	}

	// right to left

	.flickity-rtl .flickity-prev-next-button.previous {
		left: auto;
		right: 10px;
	}

	.flickity-rtl .flickity-prev-next-button.next {
		right: auto;
		left: 10px;
	}

	.flickity-prev-next-button .flickity-button-icon {
		position: absolute;
		left: 30%;
		top: 30%;
		width: 40%;
		height: 40%;
	}

	// ---- page dots & pages ----

	.flickity-pages {
		position: relative;
	}

	// ---- pages ----

	.flickity-page-info {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		font-size: .75rem;
		line-height: 1;
		span:not(:last-child) {
			margin-right: .25rem;
		}
	}

	// ---- page dots ----

	.flickity-page-dots {
		padding: 1rem 3rem 0;
		list-style: none;
		text-align: center;
		line-height: 1;
		list-style: none;
		text-align: center;
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.flickity-page-dots .dot {
		border: solid 1px #b5b5b5;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin: 0 3px;
		border-radius: 50%;
		cursor: pointer;
		&:after {
			display: block;
			border-radius: 50%;
			background: $white;
			width: 8px;
			height: 8px;
			margin: 3px;
			content: '';
		}
	}

	.flickity-page-dots .dot.is-selected {
		border-color: $primary;
		&:after {
			background: $primary;
		}
	}
}
