.gallery {
	margin-bottom: $spacer * 1.5;
}

div[class^='gallery-columns-'], div[class*=' gallery-columns-'] {
	@include media-breakpoint-up(sm) {
		@include make-row();
		margin-left: - $grid-gutter-width / 4;
		margin-right: - $grid-gutter-width / 4;
		.pk-zoom-icon-popup {
			position: relative;
		}
		.pk-pin-it {
			left: calc(#{$grid-gutter-width / 4});
		}
	}
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			@include media-breakpoint-up(sm) {
				max-width: map-get( $columns, $i );
				@include make-col-ready();
				padding-left: $grid-gutter-width / 4;
				padding-right: $grid-gutter-width / 4;
				margin-bottom: $grid-gutter-width / 2;
			}
		}
	}
}

.gallery-caption {
	display: block;
}
