.cs-video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.cs-video-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: auto;
		opacity: 0;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
		max-width: unset;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.cs-video-inner.active {
		opacity: 1;
	}
}

.cs-video-tools {
	display: flex;
	position: absolute;
	top: $grid-gutter-width / 2;
	right: $grid-gutter-width / 2;
	opacity: 1;
	z-index: 4;
	transition: opacity 0.25s;
	@include media-breakpoint-up(lg) {
		transform: translateX(-9999px);
		opacity: 0;
		.cs-video-bg-init:hover & {
			transform: translateX(0);
			opacity: 1;
		}
	}
	.cs-player-control {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: $grid-gutter-width / 2;
		height: $grid-gutter-width;
		line-height: $grid-gutter-width;
		margin-left: $spacer / 2;
		color: $white;
		font-size: $spacer * 1.125;
		transition: 0.2s;
		cursor: pointer;
		&:first-child {
			margin-left: 0;
		}
		&:after {
			position: relative;
			font-family: "cs-icons";
			font-style: normal;
			font-size: $spacer * 1.125;
			opacity: 1;
			width: auto;
		}
		.cs-tooltip {
			position: absolute;
			width: max-content;
			display: -ms-grid;
			-ms-grid-columns: max-content;
			top: 100%;
			left: -9999px;
			padding-left: 50%;
			padding-bottom: $spacer / 2;
			transform: translateY(-30%);
			transition: transform 0.5s;
			span {
				background: $white;
				display: block;
				position: relative;
				padding: $spacer / 4 $spacer;
				margin: 0;
				opacity: 0;
				color: $primary;
				transform: translate(-50%, 0);
				transition: opacity 0.5s;
			}
			span:after {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $white;
				border-width: 7px;
				margin-left: -7px;
			}
		}
		&:hover .cs-tooltip {
			transform: translateY(0);
			left: 0;
			span {
				opacity: 1;
			}
		}
	}
	.cs-player-state {
		background: $primary;
		color: $white;
		border-radius: 50%;
		width: $grid-gutter-width;
	}
	.cs-player-link:after {
		content: unicode($cs-icon-youtube);
	}
	.cs-player-play:after {
		content: unicode($cs-icon-play-alt);
	}
	.cs-player-pause:after {
		content: unicode($cs-icon-pause-alt);
	}
	.cs-player-unmute:after {
		content: unicode($cs-icon-volume-x);
	}
	.cs-player-mute:after {
		content: unicode($cs-icon-volume);
	}
}

.cs-video-tools-large {
	top: $grid-gutter-width / 2;
	right: $grid-gutter-width / 2;
	.cs-player-control {
		justify-content: flex-end;
		width: $spacer * 1.5;
		margin-left: $spacer * 1.5;
		.cs-tooltip {
			span {
				padding: $spacer / 2 $spacer;
			}
		}
		&:first-child {
			margin-left: 0;
		}
	}
}