.woocommerce table.shop_attributes th {
	font-weight: 400;
}

.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th {
	border-bottom: none;
	padding: $spacer / 2;
	vertical-align: inherit;
}

.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
	background: transparent;
}

.woocommerce table.shop_attributes {
	border-top: none;
	margin-bottom: 0;
}

.woocommerce table.shop_attributes td {
	color: $secondary;
}

.woocommerce .related.products h2 {
	margin-bottom: $spacer * 2;
}