.woocommerce #reviews #comments ol.commentlist {
	padding-left: 0;
	margin-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	position: relative;
	border: none;
	background: none;
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border: none;
	border-radius: 0;
	margin-left: 55px;
	padding: 0 0 0 $spacer / 2;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	margin-bottom: 3px;
}

.woocommerce #reviews #comments ol.commentlist li {
	border-bottom: 1px solid $gray-200;
	padding-bottom: $spacer;
	list-style: none;
}

.woocommerce #reviews #comments .star-rating {
	font-size: 80%;
}

.woocommerce .comment-text p.meta strong {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.woocommerce #reviews h3 {
	margin-bottom: $spacer / 2;
	font-style: normal;
}

.woocommerce #review_form #respond p {
	margin: $spacer / 2 0;
}

.woocommerce #review_form #respond .comment-notes {
	color: $secondary;
}

.woocommerce #review_form #respond textarea {
	margin-bottom: 0;
}

.woocommerce #reviews #comment {
	height: $grid-gutter-width * 3;
}

.woocommerce #respond .form-submit {
	padding-right: 0;
	padding-left: 0;
}

.woocommerce #respond .form-submit input#submit {
	margin-top: $spacer / 2;
	padding: $spacer / 1.5 $spacer * 2;
}