// Rating.
.woocommerce .star-rating {
	float: none;
	margin-bottom: $spacer / 2;
}

// Forms.
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	border: none;
	display: inline-block;
	border: 1px solid $primary;
	background-color: $white;
	color: $btn-color;
	width: auto;
	padding: $btn-padding-y $btn-padding-x;
	border-radius: $border-radius;
	transition: .25s;
	cursor: pointer;
	text-transform: uppercase;
	@include hover-focus {
		background-color: $white;
		text-decoration: none;
		opacity: .75;
		color: $btn-color;
	}
}

.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover {
	background: $gray-200;
	color:  $gray-200;
}

.woocommerce a.cs-author-button,
.woocommerce a.pk-about-button,
.woocommerce a.pk-twitter-btn,
.woocommerce a.pk-instagram-btn {
	padding: $spacer / 2 $btn-padding-x;
	line-height: $btn-line-height;
	@include hover-focus {
		text-decoration: none;
		color: $btn-color;
	}
}

.woocommerce a.pk-twitter-btn,
.woocommerce a.pk-instagram-btn {
	width: 100%;
}

.woocommerce a.cs-author-button,
.woocommerce a.pk-about-button {
	margin-top: $spacer * 1.5;
	overflow: hidden;
}

.woocommerce .navbar-follow .navbar-follow-btn {
	color: $btn-color;
	line-height: $btn-line-height;
	padding: $spacer / 2 $spacer * 1.25;
	display: flex;
	@include hover-focus {
		color: $btn-color;
	}
}

// Breadcrumb.
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
	margin-bottom: $spacer * 1.5;
	color: $secondary;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
	color: $primary;
}

// WC Products Header.
.woocommerce-products-header {
	margin-bottom: 0;
	.page-title {
		margin: 0;
	}
	.page-description {
		margin: $spacer * 2 0 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

// Header Cart
.navbar-cart {
	display: none;
	position: relative;
	align-content: center;
	height: $spacer * 2;
	&:not(:first-child) {
		margin-left: $spacer;
	}
	@include media-breakpoint-up(lg) {
		display: flex;
	}
	.cs-icon {
		height: $spacer * 2;
		line-height: $spacer * 2;
	}
	.cart-quantity {
		display: block;
		font-size: 0.75rem;
		margin-left: $spacer / 2;
		line-height: $spacer * 2;
	}
}

// Empty Cart.
.woocommerce-cart .return-to-shop a.button {
	padding: $spacer / 1.5 $spacer;
	color: $white;
}

// Message.
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	background-color: $gray-100;
	padding: 0.8em 2em 1em 3.5em !important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
	top: 11px;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	border-top-color: $gray-200;
	line-height: $spacer * 2;
}

.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li,
.woocommerce .woocommerce-message li {
	margin-bottom: 0;
}

.woocommerce .woocommerce-info:before {
	color:  $secondary;
}

.woocommerce-message:before {
	color: $green;
}

.woocommerce-error::before {
	color: $red;
}

// Checkout.
.woocommerce-checkout h3 {
	margin-top: 30px;
}

.woocommerce-checkout a.showlogin,
.woocommerce-checkout a.showcoupon {
	text-decoration: underline;
}

.woocommerce-checkout form.woocommerce-form-coupon {
	border-color: $gray-200;
}

.woocommerce-checkout form.woocommerce-form-coupon button[name="apply_coupon"] {
	height: $spacer * 2;
	line-height: 1;
}

.woocommerce-checkout #payment ul.payment_methods li {
	list-style: none;
}

.woocommerce-checkout #payment ul.payment_methods li input {
	width: auto;
}

.woocommerce-checkout #payment {
	background-color: $gray-100;
}

.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: none;
}

.woocommerce-checkout #payment div.payment_box:before {
	border: 1em solid $gray-200;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.woocommerce-checkout #payment div.payment_box {
	background-color: $gray-200;
	color: $secondary;
}

.woocommerce-checkout #payment .button.alt {
	padding: $spacer * 0.75 $spacer;
}

.woocommerce-checkout .woocommerce-customer-details address {
	border: 1px solid $gray-200;
	background: $gray-100;
	padding: $spacer;
	border-radius: 0;
}

// Order Received.
.woocommerce-checkout ul.order_details {
	padding-left: 0;
	margin: 0 0 $spacer * 2;
}

.woocommerce-checkout ul.order_details li {
	margin-bottom: $spacer;
	list-style: none;
}

.woocommerce-checkout ul.order_details li.email{
	display: none;
}

.woocommerce-checkout ul.order_details li strong {
	margin-top: $spacer / 4;
	letter-spacing: 0
}

// Shop table.
.woocommerce table.shop_table {
	border-collapse: collapse;
	border-radius: 0;
}

.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
	border-bottom: none;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	font-weight: $font-weight-normal;
}

.woocommerce table.shop_table th {
	background: $gray-100;
	border: none;
	border-bottom: 1px solid $gray-200;
}

.woocommerce table.shop_table td {
	padding: $spacer / 2 $spacer;
	border: none;
}

.woocommerce table.shop_table tr:hover td {
	background: $gray-100;
}

.woocommerce table.shop_table .cart_item a {
	color: $primary;
}

.woocommerce table.shop_table .cart_item a:hover {
	text-decoration: underline;
}

.woocommerce table.shop_table .product-remove a {
	font-size: 100%;
}
.woocommerce table.shop_table .product-remove a:hover {
	text-decoration: none;
}

.woocommerce .wc-proceed-to-checkout a.checkout-button.alt {
	width: 100%;
	padding: $spacer;
}

// Cart.
.woocommerce .quantity .qty {
	display: inline-block;
	width: 5em;
}

.woocommerce-cart-form {
	margin-bottom: $spacer * 3;
}

.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product,
.woocommerce-checkout .cart-collaterals .cross-sells ul.products li.product {
	margin-bottom: $spacer;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
}

.woocommerce .cart-collaterals .cross-sells + .cart_totals,
.woocommerce-page .cart-collaterals .cross-sells + .cart_totals {
	width: 48%;
}

.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th {
	padding-left:  $spacer;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
	border-top: none;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 0.04rem 0.5rem;
	margin-right:  $spacer;
}

.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: 140px;
	font-size: 80%;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
	background: $gray-100;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	padding: 15px;
	border-top: 1px solid $gray-200;
}

.woocommerce a.remove {
	color:  $secondary !important;
}

.woocommerce a.remove:hover {
	background: none !important;
	color: $primary !important;
	text-decoration: none;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
	padding-left: $spacer * 2;
}

// Login.
.woocommerce .login #password {
	margin-bottom: $spacer;
}

.woocommerce .login .button {
	margin-right: $spacer;
}

.woocommerce form .form-row .input-checkbox {
	width: auto;
}

// Select2
.woocommerce .select2-container .select2-selection--single {
	border-color: $input-border-color;
	height: $grid-gutter-width / 1.2;

	.select2-selection__rendered {
		font-size: $font-size-low;
		padding: 0.125rem 0.5rem;
		color: $primary;
	}

	.select2-selection__arrow {
		height: $grid-gutter-width / 1.2;
	}
}

// Entry content.
.entry-content {
	.woocommerce ul.products,
	.woocommerce-page ul.products {
		margin-bottom: $spacer;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		background: transparent;
		padding: 0;
	}
	.woocommerce ul.products li.product .woocommerce-loop-category__title,
	.woocommerce ul.products li.product .woocommerce-loop-product__title,
	.woocommerce ul.products li.product h3 {
		font-size: $h6-font-size;
	}

	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering {
		margin-top: $spacer;
	}

	.woocommerce nav.woocommerce-pagination {
		margin-top: $spacer * 2;
		margin-bottom: $spacer * 2;
	}
}

// Dark Scheme
.cs-bg-navbar-dark {
	.navbar-cart .cs-icon {
		color: $white;
	}
	.navbar-cart .cs-icon:hover {
		color: rgba($white,.75);
	}
	.navbar-cart .cart-quantity {
		color: $white;
	}
}