.woocommerce-account .woocommerce-address-fields__field-wrapper {
	margin-bottom: $spacer * 1.5;
}

.woocommerce-account table.my_account_orders th {
	padding: $spacer / 2;
}

.woocommerce-account table.my_account_orders td,
.woocommerce-account table.my_account_orders th {
	padding: $spacer / 2;
}

.woocommerce-account form.login,
.woocommerce-account form.register {
	border: 1px solid $gray-200;
}

.woocommerce-account p.myaccount_user {
	margin-bottom: $spacer * 2;
}

.woocommerce-account .addresses .title {
	margin-bottom: $spacer;
	line-height: $spacer;
}

.woocommerce-account .addresses .title h3 {
	margin-bottom: 0;
}

.woocommerce-account .addresses .title .edit {
	font-size: 80%;
	text-decoration: underline;
}

.woocommerce-account .col2-set.addresses {
	margin-top: $spacer * 2;
}

.woocommerce-account .col2-set.addresses address {
	border: 1px solid $gray-200;
	background: $gray-100;
	padding: $spacer;
	border-radius: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 26%;
}

.woocommerce-account  .woocommerce-MyAccount-navigation ul {
	padding-left: 0;
	list-style: none;
}

.woocommerce-account  .woocommerce-MyAccount-navigation ul li {
	border-bottom: 1px solid $gray-200;
	list-style: none;
	padding: $spacer / 2 0;
}

.woocommerce-account  .woocommerce-MyAccount-navigation ul li a {
	color: $primary;
}

.woocommerce-account  .woocommerce-MyAccount-navigation ul li a:hover {
	color: $secondary;
}

.woocommerce-account  .woocommerce-EditAccountForm legend {
	padding: $spacer * 2 0 $spacer;
}
.woocommerce-account .woocommerce-EditAccountForm button.button {
	margin-top: $spacer;
}
