.woocommerce .entry-header {
	.entry-header-thumbnail {
		margin-top: $spacer * 2;
	}
}

.woocommerce .entry-header-title,
.woocommerce .entry-header-standard,
.woocommerce .entry-header-small,
.woocommerce .entry-header-large {
	display: block;
	margin-bottom: 0;
}

// Shop Catalog.
.woocommerce ul.products,
.woocommerce-page ul.products {
	margin-bottom: 0;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	background: $white;
	margin-top: $spacer * 2;
	margin-bottom: 0;
	padding: 0;
}

@for $i from 1 through 15 {
	ul.products.columns-#{$i} li.product:nth-child(-n+#{$i}){
		margin-top: 0;
	}
}

.woocommerce .woocommerce-result-count {
	margin-top: $spacer * 2;
	padding-top: $spacer / 4;
	color: $secondary;
}

.woocommerce.large-section-enabled .woocommerce-result-count {
	margin-top: 0;
}

.woocommerce .woocommerce-ordering {
	margin-top: $spacer * 2;
}

.woocommerce.large-section-enabled .woocommerce-ordering {
	margin-top: 0;
}

.woocommerce .woocommerce-ordering select {
	font-size: 80%;
}

.woocommerce .woocommerce-ordering {
	margin-bottom: $spacer * 2;
	float: none;
	@include media-breakpoint-up(sm) {
		float: right;
	}
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	font-size: $h5-font-size;
}

.woocommerce-shop-header-none .woocommerce-result-count,
.woocommerce-shop-header-none .woocommerce-ordering {
	margin-top: 0;
}

// Shop Page Catalog Categories
.woocommerce ul.products li.product .woocommerce-loop-category__title {
	text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title .count {
	background: transparent;
	color: $secondary;
	border: none;
}

// Shop Page Catalog Items
.woocommerce ul.products li.product {
	text-align: center;
}

.woocommerce ul.products li.product a .wc-overlay-background {
	position: relative;
	margin-bottom: $spacer / 2;

	img {
		margin-bottom: 0;
	}
}

.woocommerce .woocommerce-loop-product__title {
	text-align: center;
	margin-bottom: 0;
}

.woocommerce ul.products li.product .star-rating {
	margin: $spacer / 2 auto;
}

.woocommerce ul.products li.product .price {
	text-align: center;
	color: $primary;
}

.woocommerce ul.products li.product .price del {
	display: inline;
	margin-right: $spacer / 4;
}

.woocommerce ul.products li.product .price ins {
	text-decoration: none;
	font-weight: inherit;
}

.woocommerce ul.products li.product .button {
	padding-left: $spacer;
	padding-right: $spacer;
}

.woocommerce ul.products li.product .button.loading {
	padding-right: $spacer * 2;
}

.woocommerce a.added_to_cart {
	display: block;
}

.woocommerce a.added_to_cart:hover {
	color: $secondary;
}

.woocommerce ul.products li.product .onsale {
	height: 38px;
	width: 38px;
	line-height: 38px;
	padding: 0;
	font-weight: 400;
	font-size: 12px;
	color: $white;
	background-color: $primary;
	margin: -.8em -.8em 0 0;
	transition: 0.25s;
}

.woocommerce ul.products li.product .onsale:hover {
	opacity: .875;
}

.woocommerce ul.products li.product .onsale {
	margin: -.8em -.8em 0 0;
	z-index: 3;
}

// Shop Page Pagination
.woocommerce nav.woocommerce-pagination {
	display: flex;
	justify-content: center;
	margin-top: $spacer * 3;
	.page-numbers {
		border: none;
		display: inline-block;
		padding: 0;
		color: $gray-500;
		font-size: $font-size-sm;
		li {
			border: none;
		}
		li>span,
		li>a {
			border: 1px solid transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: $grid-gutter-width;
			min-height: $grid-gutter-width;
			padding: $spacer / 2 $spacer * 0.75;
			line-height: unset;
		}
		li>span.current {
			border-color: $gray-200;
			background: none;
			color: inherit;
		}
		li>a {
			color: $primary;
		}
		li>a:focus,
		li>a:hover {
			background: none;
		}
		a.prev {
			font-size: 0;
			&:after {
				font-size: $font-size-sm;
				font-family: "cs-icons";
				content: unicode($cs-icon-arrow-left);
			}
		}
		a.next {
			font-size: 0;
			&:after {
				font-size: $font-size-sm;
				font-family: "cs-icons";
				content: unicode($cs-icon-arrow-right);
			}
		}
	}
}