.woocommerce div.product .product_title {
	color: $primary;
}

.woocommerce .woocommerce-product-rating .star-rating {
	margin: 0 $spacer / 2 0 0;
}

.woocommerce div.product form.cart {
	input.qty {
		height: $grid-gutter-width;
		line-height: $grid-gutter-width;
		padding-right: 0;
	}
	button[name="add-to-cart"],
	button[type="submit"] {
		height: $grid-gutter-width;
		line-height: $grid-gutter-width;
		padding: 0 $spacer;
	}
}

.woocommerce a.woocommerce-review-link {
	color: $secondary;
	font-style: italic;
}

.woocommerce div.product .woocommerce-product-rating {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2px;
}

.woocommerce div.product .entry-summary p.price,
.woocommerce div.product .entry-summary span.price {
	color: $primary;
	margin: $spacer / 2 0 $spacer;
	position: relative;
}

.woocommerce div.product span.onsale {
	width: $grid-gutter-width;
	height: $grid-gutter-width;
	line-height: $grid-gutter-width;
	z-index: 3;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	font-weight: 400;
	text-decoration: none;
}

.woocommerce div.product div.summary p {
	margin-bottom: $spacer;
}

.woocommerce div.product div.summary p:last-child {
	margin-bottom: $spacer * 2;
}

.woocommerce div.product form.cart div.quantity {
	margin-right: 2px;
}

.woocommerce .product_meta {
	color: $secondary;
}

.woocommerce .product_meta .sku_wrapper,
.woocommerce .product_meta .posted_in,
.woocommerce .product_meta .tagged_as {
	display: block;
	margin-bottom: 2px;
}

.woocommerce .product_meta a {
	color: $secondary;
}

// Single Product Widths.
.woocommerce-variation-price {
	margin-bottom: $spacer;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images .woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	width: 100%;
	@include media-breakpoint-up(md) {
		width: 50%;
	}
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	background: $white;
	width: 100%;
	@include media-breakpoint-up(md) {
		width: calc(50% - #{$spacer * 3});
	}
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
	margin-bottom: $spacer * 3;
}

// Single Product Tabs.
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	padding: $spacer;
	font-size: $font-size-sm;
}

.woocommerce .woocommerce-tabs .panel h2,
.woocommerce .related.products > h2,
.woocommerce .upsells.products > h2 {
	margin-bottom: $spacer * 2;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom:  0;
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: transparent;
	border-radius: 0;
	margin: 0;
	a {
		color: $gray-500;
		@include hover-focus {
			color: $primary;
		}
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:not(.active) {
	border-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: $primary;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
	max-width: 100%;
	width: 100%;
	background: $white;
	padding: $grid-gutter-width 0 0;
	margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ~ section {
	margin-top: $spacer * 2;
	margin-bottom: 0;
}
