// Cart Widget.
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	font-size: 100%;
	font-weight: 700;
}

.woocommerce .widget_shopping_cart .buttons {
	display: flex;
	margin: 0;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	padding-left: 0;
	padding-right: 0;
	flex: 0 0 calc(50% - 5px);
	margin: 0 5px 0 0;
}

.woocommerce .widget_shopping_cart .buttons a + a,
.woocommerce.widget_shopping_cart .buttons a + a{
	margin: 0;
	margin-right: 5px;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
	font-size: $h6-font-size;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: $grid-gutter-width * 1.5;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
	margin-bottom: 8px;
}

.widget_shopping_cart .quantity {
	color: $secondary;
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
	margin-bottom: $spacer;
}

.woocommerce ul.product_list_widget li del {
	color: $secondary;
}

.woocommerce ul.product_list_widget li ins {
	text-decoration: none;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid $gray-200;
	padding-top: $spacer / 2;
	margin-bottom: $spacer;
	color: $primary;
	strong {
		font-weight: 600;
	}
}

.widget_shopping_cart a.button,
.woocommerce .widget_price_filter .price_slider_amount .button {
	padding: $spacer / 2 $spacer $spacer / 2;
	margin: 0 $spacer / 2 0 0;
	font-size: $font-size-sm * 0.75;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 2px;
}

// Product Widgets.
.woocommerce.widget_products ul.product_list_widget li img,
.woocommerce.widget_recently_viewed_products ul.product_list_widget li img,
.woocommerce.widget_recent_reviews ul.product_list_widget li img,
.woocommerce.widget_top_rated_products ul.product_list_widget li img {
	float: left;
	margin-left: 0;
	margin-right: $spacer * 2;
	width: $grid-gutter-width * 2;
}

.woocommerce.widget_products ul.product_list_widget li,
.woocommerce.widget_recently_viewed_products ul.product_list_widget li,
.woocommerce.widget_recent_reviews ul.product_list_widget li,
.woocommerce.widget_top_rated_products ul.product_list_widget li {
	margin-bottom: $spacer / 2;
}

.woocommerce.widget_products .amount,
.woocommerce.widget_recently_viewed_products .amount,
.woocommerce.widget_recent_reviews .amount,
.woocommerce.widget_top_rated_products .amount {
	color: $secondary;
}

.woocommerce.widget_products span.product-title,
.woocommerce.widget_recently_viewed_products span.product-title,
.woocommerce.widget_recent_reviews span.product-title,
.woocommerce.widget_top_rated_products span.product-title {
	font-size: $h6-font-size;
	margin-bottom: $spacer / 2;
}

// Review Widget.
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
	margin-top: $spacer / 2;
	margin-bottom: $spacer / 2;
}

.woocommerce ul.product_list_widget .reviewer {
	color: $secondary;
	font-style: italic;
}

// Filter Products by Attribute Widget.
.woocommerce.widget_layered_nav ul li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.woocommerce.widget_layered_nav ul li .count {
	color: $secondary;
}

.woocommerce.widget_layered_nav ul li a:hover {
	text-decoration: none;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::after,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::before{
	display: none;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {
	border-bottom: 1px $gray-200 solid;
	padding: $spacer / 2 0;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.woocommerce .widget_layered_nav_filters ul li a:before,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a:before {
	font-family: 'cs-icons';
	font-size: 80%;
	content: unicode($cs-icon-x);
}

// Filter Products by Price Widget.
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: $gray-200;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: $primary;
}

.woocommerce .widget_price_filter .price_slider_amount input[type="text"] {
	display: none;
}

// Filter Products by Rating Filter.
.woocommerce .widget_rating_filter ul li .star-rating {
	margin-bottom: 0;
}

.woocommerce .widget_rating_filter ul li a {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
	justify-content: space-between;
	color: $secondary;
}

// Product Categories.
.widget_product_categories ul {
	li {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		padding: $spacer / 2 0;
		&:not(:last-child) {
			border-bottom: 1px $gray-200 solid;
		}
		&:first-child:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
		&:first-child:last-child>.sub-menu {
			padding-bottom: 0;
		}
		a {
			padding-right: $spacer / 1.5;
			margin-right: auto;
			transition: color 0.2s;
		}
	}
	ul.children {
		flex: 0 0 100%;
		width: 100%;
		margin: $spacer / 2 0;
		li {
			padding: $spacer 0 $spacer $spacer;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
}

// Product Tag Cloud Widget
.widget_product_tag_cloud {
	overflow: hidden;
	.tagcloud {
		display: flex;
		flex-wrap: wrap;
		a {
			background: $gray-200;
			height: $spacer * 2;
			line-height: $spacer * 2;
			padding: 0 $spacer / 2;
			margin-top: $spacer / 2;
			margin-right: $spacer / 2;
			text-decoration: none;
			font-weight: normal;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// Product Search Widget.
.widget_product_search .woocommerce-product-search {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	input[type="search"].search-field {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
	button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		line-height: 1.5rem;
	}
}