/* Text meant only for screen readers. */
.screen-reader-text,
.sr-only {
  @include sr-only();
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
