//
// Dark location.
//
.cs-bg-dark {
	color: rgba($white,.875);
	// Typography.
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: $white;
		a {
			color: $white;
			@include hover-focus {
				color: rgba($white,.75);
			}
		}
	}

	// Secondary elements.
	a,
	.entry-content a,
	.meta-category a,
	.meta-comments a,
	.post-meta .author a {
		color: rgba($white,.75);
		@include hover-focus {
			color: $white;
		}
	}

	.entry-excerpt {
		color: $white
	}

	// Title block.
	.title-block {
		color: rgba($white,.75);
		&:after {
			background: rgba($white,.25);
		}
	}

	// Theme elements.
	caption,
	figcaption,
	.post-meta,
	.cs-breadcrumbs {
		color: rgba($white,.75);
	}

	.pk-input-group {
		border-color: $white;
	}

	// Archive.
	.archive-count {
		color: rgba($white,.5);
	}

	// Footer.
	.site-info {
		color: $white;
		.footer-title {
			color: $white;
		}
		.footer-copyright {
			color: rgba($white,.675);
			a {
				color: $white;
				&:hover {
					color: rgba($white,.675);
				}
			}
		}
		.navbar-footer a {
			color: rgba($white,.875);
			&:hover {
				color: $white;
			}
		}
	}

	// Powerkit variables.
	.pk-font-heading {
		color: $white;
	}

	.pk-color-secondary {
		color: rgba( $white,.75);
	}

	.pk-font-secondary {
		color: rgba( $white,.75);
	}

	// Subscribe.
	.pk-subscribe-form-wrap {
		.pk-title {
			color: $white;
		}
		.pk-subscribe-data {
			input[type="text"] {
				border-color: rgba($white,.25);
				&::placeholder {
					color: $white;
				}
			}
			button {
				color: $white;
			}
		}
	}
	.pk-subscribe-with-name {
		.pk-subscribe-data {
			button {
				background: $white !important;
				color: $primary !important;
			}
		}
	}

	// Badge.
	.pk-badge-primary {
		background-color: rgba( $white,.25);
	}

	// Social Links.
	.pk-social-links-link {
		color: $white;
		@include hover-focus {
			color: rgba( $white,.75);
		}
	}
	.pk-social-links-count {
		color: rgba( $white,.75);
	}
	.pk-social-links-label {
		color: rgba( $white,.25);
	}
	.pk-social-links-scheme-bold .pk-social-links-link .pk-social-links-title {
		color: rgba($white,.75);
	}
	.pk-social-links-scheme-bold .pk-social-links-link:hover .pk-social-links-icon,
	.pk-social-links-scheme-bold .pk-social-links-link:hover .pk-social-links-title {
		color: $white;
	}
	.pk-social-links-scheme-light-rounded .pk-social-links-link .pk-social-links-icon {
		background-color: rgba($white,.125);
		transition: background-color 0.2s;
		color: $white;
	}
	.pk-social-links-scheme-light-bg .pk-social-links-link {
		background-color: rgba($white,.125);
	}
	.pk-social-links-template-nav .pk-social-links-count {
		color: rgba($white,.75);
	}
}

//
// Navbar dark location.
//
.navbar .cs-bg-navbar-dark {
	border-bottom: none;
	.site-title,
	.large-title {
		color: $white;
		@include hover-focus {
			color: rgba($white,.75);
		}
	}

	.navbar-brand .tagline {
		color: rgba($white,.75) !important;
	}

	.navbar-toggle-search {
		color: $white;
		@include hover-focus {
			color: rgba($white,.75);
		}
	}

	.navbar-toggle-offcanvas {
		color: $white;
		span {
			background: $white;
		}
		@include hover-focus {
			color: rgba($white,.75);
			span {
				background: rgba($white,.75);
			}
		}
	}

	.navbar-subscribe {
		.pk-title {
			color: $white;
		}
		.pk-subscribe-data {
			input[type="text"] {
				border-color: rgba($white,.25);
				&::placeholder {
					color: $white;
				}
			}
			button {
				color: $white;
			}
		}
	}

	.navbar-follow {
		.navbar-follow-btn {
			border-color: rgba($white,.75);
			color: $white;
		}
	}

	// Navigation.
	.navbar-nav {
		> li > a {
			color: $white;
		}
		> li > a > span:after {
			background-color: $white;
		}
		> li:hover > a {
			color: $white;
		}
		> li.current-menu-ancestor > a,
		> li.current-menu-item > a {
			color: rgba($white,.75);
		}
	}

	// Badge.
	@each $color,
	$value in $theme-colors {
		.pk-badge-#{$color} {
			background: rgba($value,.875);
			color: $white;
		}
	}
	.sub-menu {
		@each $color,
		$value in $theme-colors {
			.pk-badge-#{$color} {
				background: rgba($value,.125);
				color: darken($value, 15%);
			}
		}
	}
	.pk-badge-primary {
		background-color: rgba($white,.25);
	}
}

.offcanvas-header.cs-bg-navbar-dark {
	border-bottom: none;
	border-right: 1px rgba($white,.025) solid;
	.site-title,
	.toggle-offcanvas {
		color: $white;
		@include hover-focus {
			color: rgba($white,.75);
		}
	}
}

//
// Navbar nav submenu dark location.
//
.navbar .cs-navbar-nav-submenu-dark {
	// Submenu.
	.sub-menu {
		.sub-menu {
			border-left-color: rgba($white,.25);
		}
		& > li {
			&.current-menu-ancestor > a,
			&.current-menu-item > a {
				color: $white;
			}
			@include hover-focus {
				& > a {
					color: $white;
				}
			}
		}
		& > li > a {
			color: rgba($white,.75);
		}
		@each $color,
		$value in $theme-colors {
			.pk-badge-#{$color} {
				background: rgba($value,.875);
				color: $white;
			}
		}
		.pk-badge-primary {
			background-color: rgba( $white,.25);
		}
	}
	.cs-mm-categories {
		border-right: none;
		a {
			color: rgba($white,.75);
		}
		li.active-item a {
			color: $white !important;
		}
	}
}
