//
// Utilities for common `display` values
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .cs-d#{$infix}-none         { display: none !important; }
    .cs-d#{$infix}-inline       { display: inline !important; }
    .cs-d#{$infix}-inline-block { display: inline-block !important; }
    .cs-d#{$infix}-block        { display: block !important; }
    .cs-d#{$infix}-flex         { display: flex !important; }
  }
}