.cs-embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	&:before {
		display: block;
		content: "";
	}
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.cs-embed-responsive {
	&:before {
		padding-top: percentage(9 / 16);
	}
}

.wp-block-embed {
	.cs-embed-responsive {
		position: initial;
		margin: 0;
		padding: 0;
		overflow: initial;
		&:before {
			display: none;
		}
	}
}