// Badge.
.menu-item .pk-badge {
	margin-bottom: auto;
	margin-top: auto;
	margin-right: auto;
}

.navbar-nav > .menu-item > a .pk-badge {
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		border-bottom: 10px transparent solid;
		width: calc(100% + 12px);
		top: 100%;
		left: -10px;
		content: '';
	}
}

// Shortcodes.
.pk-alert {
	color: $primary;
	a {
		color: $primary;
	}
	a:hover {
		color: $secondary;
	}
}

.pk-nav-tabs .pk-nav-link,
.pk-tabs .pk-nav-pills .pk-nav-link,
.pk-tabs-vertical .pk-nav-tabs .pk-nav-link {
	border-radius: $border-radius;
}

//
// Input Groups
//
.pk-input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	.form-control {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
	.button {
		line-height: 1.5rem;
	}
}

// Shortcodes in entry content.
.entry-content {

	// Buttons.
	.pk-button {
		color: $white;
	}

	.pk-button-secondary {
		background: $primary;
	}

	.pk-button-primary {
		background: $white;
		border: 1px solid $primary;
		color: $primary;
		&:hover,
		&:focus,
		&:active {
			border: 1px solid !important;
			background: $white !important;
			color: $primary !important;
			opacity: 0.75;
		}
	}

	// Alerts.
	.pk-alert {
		margin-bottom: $spacer * 1.5;
	}

	// Card.
	.pk-card-header {
		a {
			color: $primary;
		}
		a:hover {
			color: $secondary;
		}
	}

	// Instagram.
	.pk-instagram-feed  a {
		color: $primary;
		&:hover {
			color: $secondary;
		}
	}
	.pk-instagram-feed .pk-instagram-btn {
		color: $white;
		transition: 0.25s;
		&:hover {
			background-color: $primary;
			color: $white;
		}
	}

	// Twitter.
	.pk-twitter-wrap a {
		color: $secondary;
		&:hover {
			color: $primary;
		}
	}
	.pk-twitter-wrap .pk-twitter-header a {
		color: $primary;
		&:hover {
			color: $secondary;
		}
	}
	.pk-twitter-content {
		color: inherit;
	}
	.pk-twitter-wrap .pk-twitter-btn {
		color: $primary;
		transition: 0.25s;
		&:hover {
			color: $primary;
		}
	}
}