
.entry-content {
	.pk-row > [class^="pk-col-"] > a,
	.pk-row > [class^="pk-col-"] > p > a,
	.pk-row > [class^="pk-col-"] > ul li > a,
	.pk-row > [class^="pk-col-"] > ol li > a,
	.pk-row > [class^="pk-col-"] > p > em > a,
	.pk-row > [class^="pk-col-"] > p > strong > a,

	.pk-row > [class*=" pk-col-"] > a,
	.pk-row > [class*=" pk-col-"] > p > a,
	.pk-row > [class*=" pk-col-"] > ul li > a,
	.pk-row > [class*=" pk-col-"] > ol li > a,
	.pk-row > [class*=" pk-col-"] > p > em > a,
	.pk-row > [class*=" pk-col-"] > p > strong > a {
		text-decoration: underline;
		@include hover-focus {
			text-decoration: none;
		}
	}

	.pk-row > [class^="pk-col-"] > h1,
	.pk-row > [class^="pk-col-"] > h2,
	.pk-row > [class^="pk-col-"] > h3,
	.pk-row > [class^="pk-col-"] > h4,
	.pk-row > [class^="pk-col-"] > h5,
	.pk-row > [class^="pk-col-"] > h6,

	.pk-row > [class*=" pk-col-"] > h1,
	.pk-row > [class*=" pk-col-"] > h2,
	.pk-row > [class*=" pk-col-"] > h3,
	.pk-row > [class*=" pk-col-"] > h4,
	.pk-row > [class*=" pk-col-"] > h5,
	.pk-row > [class*=" pk-col-"] > h6 {
		margin-bottom: $spacer * 1.5;
		&:not(:first-child) {
			margin-top: $spacer * 3;
		}
	}

	.pk-row + .pk-row {
		h1, h2, h3, h4, h5, h6 {
			&:first-child {
				margin-top: $spacer * 1.5;
			}
		}
	}

	div[class^='pk-col-'], div[class*=' pk-col-'] {
		margin-bottom: $spacer * 1.5;
		& > *:last-child {
			margin-bottom: 0;
		}
	}

	.pk-clearfix {
		margin: 0;
	}
}
