.pk-inline-posts-container {

	.post-meta a {
		font-weight: normal;
	}

	.post-meta .meta-category a {
		color: $secondary;
		&:hover {
			color: $primary;
		}
	}

	.pk-title a {
		color: $primary;
		&:hover {
			color: $secondary;
		}
	}
}