.pk-instagram-info {
    flex-grow: 1;
}

.pk-instagram-item {
    .pk-instagram-link:hover img {
        transform: none;
    }

    .pk-instagram-data .pk-meta {
        color: $white;
        font-weight: 400;
    }
}

// Widget.
.widget {
    .pk-instagram-feed {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;

        .pk-avatar-link {
            display: block;
            height: auto;
        }
    }

    .pk-instagram-username a {
        font-size: 0.9375rem;
        font-weight: 600;
        color: $primary;
    }

    .pk-instagram-name a {
        color: $secondary;
    }

    .pk-instagram-counters {
        .counter {
            display: flex;
            flex-direction: row-reverse;
            margin-right: $grid-gutter-width / 2;
            font-weight: 400;
        }

        span {
            margin-left: $spacer / 2;
            font-weight: 400;
        }
    }
}


// Footer.
.footer-instagram {
    margin-bottom: $spacer * 4;

    .pk-alt-instagram-header {
        margin-bottom: $spacer * 3;

        @include media-breakpoint-up(md) {
            margin-bottom: $spacer * 4;
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
        }
    }

    .pk-alt-instagram-title {
        width: 100%;
        flex-grow: 1;
        font-size: 2rem;
        margin-bottom: $spacer * 1.5;
        margin-right: 0;

        br {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            width: 100%;
            align-items: center;
            grid-template-columns: auto minmax($spacer * 2, 1fr);
            grid-gap: $spacer * 2;
            font-size: 2.75rem;
            line-height: 1;
            margin-right: $spacer * 2;
            margin-bottom: 0;

            &:after {
                content: '';
                border-top: 2px solid $gray-200;
            }

            br {
                display: inline-block;
            }
        }
    }

    .pk-alt-instagram-container {
        display: flex;
        align-items: center;
    }

    .pk-alt-instagram-info {
        flex-grow: 1;
    }

    .pk-alt-avatar-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        margin-right: $spacer;
        flex: 0 0 86px;
        width: 86px;
        height: 86px;
    }

    .pk-alt-instagram-avatar {
        border-radius: 50%;
        width: 86px;
        height: 86px;
    }

    .pk-alt-instagram-info a {
        color: inherit;
    }

    .pk-alt-instagram-username {
        color: $primary;
        margin-bottom: 0;
        white-space: nowrap;
        word-break: break-all;
        margin-top: $spacer / 2;
    }

    .pk-alt-instagram-counters {
        display: flex;
        color: $secondary;
    }

    .pk-alt-instagram-counters .counter {
        display: flex;
        flex-direction: column;
    }

    .pk-alt-instagram-counters .counter+.counter {
        margin-left: $spacer / 2;
    }

    .pk-alt-instagram-counters .number {
        color: $primary;
        font-size: 1rem;
    }

    .pk-alt-instagram-footer {
        display: flex;
        justify-content: center;
        margin: $spacer * 2 $spacer 0;

        @include media-breakpoint-up(md) {
            margin: $spacer * 3 $spacer 0;
        }
    }

    .pk-alt-instagram-footer .pk-alt-instagram-btn {
        display: block;
        padding: $spacer * 0.625 $spacer * 4;
        @include button-icon(0.5rem, $cs-icon-instagram);
    }

    .pk-alt-instagram-items {
        &:not(.flickity-enabled) {
            display: flex;
            overflow: hidden;
        }
    }

    .pk-alt-instagram-item {
        flex: 0 0 280px;
        max-width: 280px;
        width: 100%;
        padding: 0 $grid-gutter-width / 2;

        @include media-breakpoint-up(md) {
            flex: 0 0 460px;
            max-width: 460px;
            padding: 0 $grid-gutter-width;

            &:nth-child(odd) {
                padding-bottom: $grid-gutter-width;
            }

            &:nth-child(even) {
                padding-top: $grid-gutter-width;
            }
        }

        @include media-breakpoint-up(lg) {
            flex: 0 0 500px;
            max-width: 500px;
            padding: 0 $grid-gutter-width * 1.5;

            &:nth-child(odd) {
                padding-bottom: $grid-gutter-width * 1.5;
            }

            &:nth-child(even) {
                padding-top: $grid-gutter-width * 1.5;
            }
        }

        .pk-alt-instagram-link {
            display: block;
        }

        .pk-alt-instagram-data {
            display: block;
            margin-top: $spacer;

            .pk-alt-meta {
                display: inline-block;
                font-size: 1rem;
                font-weight: 500;
                color: $primary;
            }

            .pk-icon {
                color: $secondary;
                font-weight: normal;
            }
        }

        .pk-alt-meta-comments {
            margin-left: $spacer / 2;
        }

        .pk-alt-instagram-desc {
            margin-top: $spacer;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            transition: 0.25s;
            object-fit: cover;
            backface-visibility: hidden;
        }
    }
}