.pk-zoom-icon-popup {
	&:after {
		display: flex;
		background: transparent;
		justify-content: center;
		align-items: center;
		width: $spacer * 2;
		height: $spacer * 2;
		line-height: $spacer * 2;
		top: $spacer / 2;
		right: $spacer / 2;
		content: unicode($cs-icon-zoom-in);
		font-family: "cs-icons";
		font-size: 1.5rem;
	}
}


.mfp-arrow:hover,
.mfp-arrow:focus {
	background: transparent;
}