.pk-pin-it {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: $spacer * 2;
	height: $spacer * 2;
	line-height: $spacer * 2;
	top: $spacer / 2;
	left: $spacer / 2;
	font-size: 1.5rem;

	&:hover {
		background: transparent;
		opacity: 0.75;
	}
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item
.wp-block-gallery.is-cropped .blocks-gallery-image,
.wp-block-gallery.is-cropped .blocks-gallery-item {
	.pk-pin-it {
		width: $spacer * 2;
		height: $spacer * 2;
		line-height: $spacer * 2;
	}
}
