// Post Sidebar

.post-sidebar-shares {
	position: sticky;
	.post-sidebar-inner {
		transition: opacity 0.2s;
	}
	.pk-share-buttons-total {
		margin-right: 0;
		margin-bottom: $spacer;
		text-align: center;
		.pk-share-buttons-count {
			color: $secondary;
		}
		.pk-share-buttons-label {
			font-size: 0.75rem;
		}
	}
	.pk-share-buttons-wrap {
		flex-direction: column;
		margin: 0;
	}
	.pk-share-buttons-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.pk-share-buttons-item {
		display: block;
		margin-top: $spacer / 2;
		padding: 0;

		&:first-child {
			margin-top: 0;
		}

		.pk-share-buttons-link {
			position: relative;
			height: $spacer * 2;
			.pk-share-buttons-icon {
				font-size: 1.25rem;
			}
		}

		.pk-share-buttons-count {
			flex-direction: column;
			background: transparent;
			border: none;
			color:  $secondary;
			padding: 0;
			margin: 5px 0 0px;
			line-height: 1;
			text-align: center;
			font-size: 0.75rem;
			&:before,
			&:after {
				display: none;
			}
		}
	}

	.pk-share-buttons-scheme-bold {
		.pk-share-buttons-link {
			background: transparent;
			color: $primary;
			&:hover {
				background: transparent;
			}
		}
	}

	.pk-share-buttons-scheme-default {
		.pk-share-buttons-link {
			&:not(:hover) {
				background: $shares-color;
			}
		}
	}

	.pk-share-buttons-scheme-default,
	.pk-share-buttons-scheme-bold-bg {
		.pk-share-buttons-link {
			width: $grid-gutter-width;
			height: $grid-gutter-width;
			padding: 0;
			border-radius: 50%;
		}
	}
}

// After Post Content

.pk-share-buttons-after-post {
	margin-top: $spacer * 3;
	margin-bottom: 0;

	.pk-share-buttons-item {
		margin-left: $spacer * 2;
		padding: 0;

		&:first-child {
			margin-left: 0;
		}

		.pk-share-buttons-link {
			flex-grow: initial;
			height: $spacer * 2;
			.pk-share-buttons-icon {
				font-size: 1.25rem;
			}
		}

		.pk-share-buttons-title {
			padding: 0 0 0 $spacer / 2;
			text-transform: capitalize;
		}

		.pk-share-buttons-count {
			flex-direction: column;
			background: transparent;
			border: none;
			color:  $secondary;
			padding: 0;
			margin: 0;
			padding-left: $spacer / 2;
			line-height: 1;
			&:before,
			&:after {
				display: none;
			}
		}
	}

	&.pk-share-buttons-wrap {
		.pk-share-buttons-total {
			display: flex;
			flex-direction: row;
			align-items: center;
			text-transform: capitalize;
			margin-right: $spacer * 3;
			&:before {
				margin-right: $spacer / 2;
				font-family: 'cs-icons';
				color: $secondary;
				font-size: 1.25rem;
				content: unicode($cs-icon-share);
			}
		}
		.pk-share-buttons-item {
			flex-grow: initial;
		}
	}

	&.pk-share-buttons-scheme-bold {
		.pk-share-buttons-link {
			background: transparent;
			color: $primary;
			padding: 0;
			&:hover {
				background: transparent;
			}
		}
	}

	&.pk-share-buttons-scheme-default {
		.pk-share-buttons-link {
			&:not(:hover) {
				background: $shares-color;
			}
		}
	}

	&.pk-share-buttons-scheme-default,
	&.pk-share-buttons-scheme-bold-bg {
		.pk-share-buttons-link {
			width: $grid-gutter-width;
			height: $grid-gutter-width;
			padding: 0;
			border-radius: 50%;
		}
	}
}