.pk-social-links-template-columns  {
	.pk-social-links-count + .pk-social-links-label {
		margin-top: $spacer / 4;
	}
}

.pk-social-links-template-nav {
	&.pk-social-links-scheme-light-rounded,
	&.pk-social-links-scheme-bold-rounded {
		.pk-social-links-icon {
			width: $grid-gutter-width * 0.75;
			height: $grid-gutter-width * 0.75;
			line-height: $grid-gutter-width * 0.75;
			font-size: inherit;
		}
	}
	.pk-social-links-items {
		flex-wrap: nowrap;
		margin: 0;
	}
	.pk-social-links-item {
		padding-left: $spacer / 2;
		padding-left: 0;
		&:first-child{
			margin-left: 0;
			padding-left: 0;
		}
	}
	.pk-social-links-icon {
		font-size: 1rem;
		text-align: center;
		transition: 0.25s;
		border-radius: 100%;
	}
	.pk-social-links-count {
		color: $secondary;
		font-weight: normal;
		font-size: 0.8125rem;
	}
}

.post-author {
	.pk-social-links-items {
		justify-content: flex-start;
	}
	.pk-social-links-item {
		padding-top: 0;
	}
}

.sidebar-area {
	.pk-social-links-scheme-light-bg {
		&.pk-social-links-template-columns {
			.pk-social-links-item {
				margin-bottom: 1px;
				&:not(:last-child) {
					.pk-social-links-link {
						margin-right: 1px;
					}
				}
			}
		}
	}
	.pk-social-links-template-inline,
	.pk-social-links-template-col-1,
	.pk-social-links-template-col-2,
	.pk-social-links-template-col-3,
	.pk-social-links-template-col-4 {
		&.pk-social-links-scheme-light-rounded,
		&.pk-social-links-scheme-bold-rounded {
			.pk-social-links-icon {
				width: $spacer * 2.5;
				height: $spacer * 2.5;
				line-height: $spacer * 2.5;
			}
		}
		.pk-social-links-icon {
			font-size: 1.25rem;
		}
	}
}

.page-header {
	.pk-social-links-wrap {
		margin-top: $spacer;
	}
}

.site-info {
	.pk-social-links-item {
		padding-bottom: 0;
	}
}
