.pk-subscribe-form-wrap {
  .subscription {
    position: relative;
    overflow: hidden;
  }
  .subscription.pk-loading {
    .pk-input-group {
      opacity: .125;
    }
    &:before {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
    }
    &:after {
      @include loader( $size: 24px, $border-size: 2px, $color: #777 );
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
      content: "";
    }
  }
  .pk-input-group {
    justify-content: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
			border: transparent;
		}
  }
  .pk-subscribe-message {
    letter-spacing: 0;
    color: inherit;
    margin-bottom: $spacer * 1.5;
  }
  .pk-alert,
  .pk-privacy {
    margin-top: $spacer * 1.5;
  }
  .pk-privacy label {
  	font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
  }
  .pk-subscribe-submit {
    position: relative;
  }
}

.pk-subscribe-form-wrap {
  	&:not(.pk-subscribe-with-name):not(.pk-subscribe-with-bg) {
    	.pk-input-group {
    		flex-direction: column;
    	}
    	input[type="text"] {
			width: 100%;
    		margin-bottom: $spacer / 2;
		}
    	@include media-breakpoint-up(md) {
    		.pk-input-group {
        		flex-direction: row;
      		}
			input[type="text"] {
        		width: auto;
        		margin-bottom: 0;
				border-top-right-radius: 0;
        		border-bottom-right-radius: 0;
			}
      		button {
        		border-top-left-radius: 0;
        		border-bottom-left-radius: 0;
      		}
    	}
  	}
}

.pk-subscribe-with-bg {
  .title-block:after {
    background: $white;
  }
  input[type="text"] {
    border-color: $input-focus-bg;
    background-color: $input-focus-bg;
  }
  input[type="text"]:focus {
    border-color: $input-focus-bg;
  }
}

.widget {
  .pk-subscribe-with-bg {
    input[type="text"] {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  .pk-subscribe-with-name,
  .pk-subscribe-with-bg {
    input[type="text"] {
      text-align: center;
    }
  }
}

.pk-subscribe-form-widget .pk-bg-overlay {
    text-align: left;
}

.cs-hero,
.entry-content,
.post-subscribe,
.footer-subscribe {
  .pk-subscribe-form-wrap {
    .pk-title {
      margin-top: 0;
    }
    button {
      margin-top: 0;
      padding: $spacer $spacer * 3;
    }
    @include media-breakpoint-up(sm) {
      .user + .email {
        // border-right: none;
        margin-left: -1px;
    	}
    }
  }
  .pk-subscribe-with-name,
  .pk-subscribe-with-bg {
    input[type="text"] {
      width: 100%;
      text-align: center;
    }
    button {
      margin-top: $spacer / 2;
      padding: $spacer $spacer * 3;
    }
    @include media-breakpoint-up(lg) {
      .pk-input-group {
      	display: flex;
      	flex-direction: row;
      }
      input[type="text"] {
      	width: 1%;
      	margin-top: 0;
      	text-align: left;
      }
      button {
      	border-top-left-radius: 0;
      	border-bottom-left-radius: 0;
      	margin-top: 0;
      }
    }
  }
}