.pk-toc:not(:last-child) {
	padding-bottom: $grid-gutter-width;
	margin-bottom: $spacer * 3;
	border-bottom: 1px $gray-200 solid;
}

.pk-toc:not(:first-child) {
	padding-top: $grid-gutter-width;
	margin-top: $spacer * 3;
	border-top: 1px $gray-200 solid;
}
