.pk-twitter-wrap {
	background-color: $white;
	padding: $grid-gutter-width / 4 * 3;
}

.pk-twitter-info {
	flex-grow: 1;
}

.pk-twitter-name a {
	font-size: 0.9375rem;
	font-weight: 600;
	color: $primary;
	&:hover {
		color: $secondary;
	}
}

.pk-twitter-username a {
	color: $secondary;
	&:hover {
		color: $primary;
	}
}

.pk-twitter-counters {
	font-size: 0.625rem;
	text-transform: uppercase;
	color: $secondary;
	.number {
		color: $primary;
	}
}

.pk-twitter-content {
	font-size: $font-size-sm;
	color: $secondary;
}

.pk-twitter-time {
	float: none;
	color: $secondary;
}

.pk-twitter-actions {
	justify-content: flex-start;
}

// Widget.
.widget {
	.pk-twitter-link {
		display: block;
		height: auto;
	}
}