.wf-loading {
	body,
	body a,
	body span,
	body p,
	h1, h2, h3, h4, h5, h6,
	label,
	.post-meta,
	.cs-link-more,
	.button {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	}
}
