// Widget about.

.pk-widget-about {
	.pk-about-small {
		color: $secondary;
	}
}

// Widget posts.

.pk-widget-posts {
	.pk-post-item {
		margin-top: $spacer;
	}
	.pk-post-item:first-child {
		margin-top: 0;
	}
	.pk-post-outer {
		display: flex;
		flex-direction: column;
	}
	.pk-post-thumbnail {
		position: relative;
		max-height: 205px;
		width: 100%;
		margin-right: $spacer;
		overflow: hidden;
	}
	.pk-post-thumbnail a {
		position: relative;
		display: block;
	}
	.pk-post-thumbnail img {
		object-fit: cover;
		font-family: 'object-fit: cover;';
		transition: 0.2s;
	}
	.pk-post-number {
		position: absolute;
		top: 0;
		left: 0;
		width: $spacer * 2;
		height: $spacer * 2;
		line-height: $spacer * 2;
		color: white;
		text-align: center;
		font-size: 80%;
	}
	.pk-post-data {
		order: 2;
		flex-grow: 1;
		width: 100%;
	}
	.pk-post-data .pk-data-wrap {
		display: flex;
		flex-direction: column;
		padding: $grid-gutter-width / 2;
	}
	.pk-post-data .entry-title {
		font-size: 0.9375rem;
	}
	.pk-post-data .meta-category {
		display: inline-block;
	}
	.pk-post-data .post-meta {
		margin: 0 0 $spacer / 2;
	}
	.pk-preview-enabled .entry-title {
		font-size: 1.25rem;
	}
	.pk-post-meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.pk-post-meta .sep {
		display: inline-block;
		padding: 0 0.5rem;
	}
	.pk-post-meta-hide {
		display: none;
	}
}

.pk-widget-posts-template-large {
	.pk-post-item {
		margin-top: $spacer * 2;
		background: $white;
		overflow: hidden;
		&:first-child {
			margin-top: 0;
		}
	}
	.pk-overlay-thumbnail {
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.pk-post-data .post-meta {
		margin-top: $spacer;
		// font-size: 1rem;
	}
	.pk-post-data .meta-category {
		font-size: inherit;
		a {
			font-size: 0.625rem;
			font-weight: 700;
			text-transform: inherit;
		}
	}
	.pk-post-data .entry-title {
		margin: 0;
		& > a {
			font-size: 0.9375rem;
		}
	}
}

.pk-widget-posts-template-carousel {
	ul > .pk-post-item {
		&:not(:first-child) {
			position: fixed;
			left: -9999px;
		}
	}
	.pk-post-item {
		width: 100%;
		max-width: 100%;
		margin-top: 0;
		margin-right: $spacer / 2;
	}
	.pk-overlay-thumbnail {
		margin-top: $spacer;
		&:first-child {
			margin-top: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.pk-post-data {
		.entry-title {
			text-align: center;
			font-size: 1.5rem;
			margin-top: $spacer;
			&:first-child {
				margin-top: 0;
			}
		}
		.meta-category {
			display: flex;
			margin-top: $spacer;
			justify-content: center;
		}
		.post-meta,
		.meta-author {
			justify-content: center;
		}
	}
}

// Widget author.

.cs-widget-author {
	position: relative;
	padding: $grid-gutter-width / 4 * 3;
	background-color: $white;

	.navbar-area & {
		background-color: $body-background;
	}

	.cs-widget-author-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		z-index: 1;
	}
	.cs-widget-author-bg img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}
	.cs-widget-author-container {
		position: relative;
		z-index: 2;
	}
	.cs-author-data {
		position: relative;
		display: flex;
		align-items: center;
		padding-bottom: $grid-gutter-width / 2;
		border-bottom: 1px solid $gray-300;
	}
	.cs-author-avatar {
		flex: 0 0 70px;
		margin-right: $spacer;
		z-index: 2;
	}
	.cs-author-avatar img {
		border-radius: 100%;
	}
	.cs-author-title {
		flex-grow: 1;
		font-size: 0.9375rem;
		margin: 0;
		z-index: 2;
		& > a {
			font-weight: 600;
		}
	}
	.cs-social-accounts {
		margin-top: $spacer;
		.cs-social-label {
			margin-bottom: $spacer / 2;
			font-size: 0.625rem;
			color: $secondary;
		}
		.pk-social-links-item .pk-icon {
			font-size: 1.25rem;
		}
	}
	.cs-author-button {
		margin-top: $spacer * 1.5;
	}
	.author-description {
		padding-top: $grid-gutter-width / 2;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}

.cs-author-social-links {
	.cs-social-links-link {
		padding: 0 $spacer / 4;
	}
}

// Widget author width bg.

.cs-widget-author-with-bg {

	.cs-author-data {
		margin: - $grid-gutter-width / 4 * 3;
		margin-bottom: 0;
		padding: $grid-gutter-width / 4 * 3;
		padding-bottom: $grid-gutter-width / 2;
		border-bottom: none;
	}

}