.archive-main {
    article {
        margin-top: $grid-gutter-width;

        &:first-child {
            margin-top: 0;
        }

        .cs-overlay {
            height: 100%;
        }

        .entry-bottom {
            margin-bottom: -100%;
			opacity: 0;
        }

        .cs-overlay:hover .entry-bottom {
            margin-bottom: 0;
            opacity: 1;
        }
    }
}

.archive-list {
    @include media-breakpoint-up(md) {
        .post-wrap {
            @include cs-card-make-row();
        }

        .post-inner {
            @include cs-card-make-col-ready();
            @include cs-card-make-col(6);
        }

        // List post without thumbnails.
        .post-inner:first-child:last-child {
            @include cs-card-make-col(12);
        }

        .post-inner:last-child {
            display: flex;
            flex-direction: column;
        }

        .cs-ratio-landscape {
            &:before {
                padding-bottom: 85%;
            }
        }
    }
}

.archive-grid {

    .post-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .entry-data {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    @include media-breakpoint-up(md) {
        @include make-row();

        article {
            @include make-col-ready();
            @include make-col(6);
        }

        // Remove margin for posts in the first row.
        article:nth-child(-n+2) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .sidebar-disabled & {
            article {
                @include make-col(4);
            }

            // Remove margin for posts in the first row.
            article:nth-child(-n+3) {
                margin-top: 0;
            }
        }
    }
}

.archive-masonry {

    .archive-col-2,
    .archive-col-3 {
        display: none;
    }

    .cs-overlay-background {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
    }

    .cs-overlay-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
    }

    @include media-breakpoint-up(md) {
        @include make-row();

        .archive-col,
        &>article {
            @include make-col-ready;
            @include make-col(6);
        }

        .archive-col-2 {
            display: block;
        }

        // Remove margin for posts in the first row.
        &>article:nth-child(-n+2) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .sidebar-disabled & {

            .archive-col,
            &>article {
                @include make-col(4);
            }

            .archive-col-3 {
                display: block;
            }

            // Remove margin for posts in the first row.
            &>article:nth-child(-n+3) {
                margin-top: 0;
            }
        }
    }
}

.archive-full {
    .entry-author {
        padding-top: $spacer * 2;

        &:first-child {
            padding-top: 0;
        }
    }

    .entry-summary-content {
        background: $white;
        overflow: hidden;

        .post-wrap {
            background: transparent;
            border-radius: 0;
        }

        .entry-excerpt {
            color: inherit;
        }

        .entry-data {
            padding: $grid-gutter-width;
            padding-bottom: 0;
            max-width: $content-width + $grid-gutter-width * 2;
            margin-left: auto;
            margin-right: auto;
        }

        .entry-container {
            margin-top: $spacer * 2;
            padding: $grid-gutter-width;
            padding-top: 0;
        }

        .entry-content {
            max-width: $content-width;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//
// Mixed
//

.archive-type-mixed {
    .archive-full {
        margin-top: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}