.post-comments {
	display: none;
	margin-top: $spacer * 3;
	padding-top: $spacer * 3;
	border-top: 1px $gray-200 solid;

	.title-block {
		text-align: left;
	}
}

.post-comments-simple {
	display: block;
}

.title-comment-reply {
	margin-bottom: $spacer * 1.5;
	text-align: left;
	&:after {
		margin-left: 0;
	}
}

.post-comments {
	margin-top: $spacer * 3;
}

.comment-list+.comment-respond,
.comment-navigation+.comment-respond {
	margin-top: $spacer * 1.5;
	margin-bottom: 0;
}

.comment-body+.comment-respond,
.comment-list+.comment-respond {
	padding-top: $spacer * 3;
	border-top: 1px $gray-200 solid;
}

.comment-list {
	@include list-unstyled;

	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	padding: $spacer * 1.5 0;
}

.comment-list .children {
	list-style: none;
	padding: 0;
	margin: 0;

	& > li {
		padding-left: $grid-gutter-width / 2;

		@include media-breakpoint-up(lg) {
			padding-left: $grid-gutter-width;
		}
	}

	@include media-breakpoint-down(lg) {
		& > li > .children > li > .children > li > .children > li > .children > li {
			padding-left: 0;
		}
	}
}

.comment-author .avatar {
	float: left;
	position: relative;
	width: 60px;
	height: 60px;
	margin-right: $grid-gutter-width / 2;
	border-radius: 50%;
}

.comment-author .fn {
	font-size: $h6-font-size;
}

.bypostauthor>article .fn:after {
	position: relative;
	margin-left: $spacer / 4;
	font-family: "cs-icons";
	content: unicode($cs-icon-bookmark);
}

.comment-meta {
	@include clearfix;

	margin-bottom: $spacer;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-content {
	font-size: $font-size-sm;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 $spacer * 1.5 $spacer;
}

.comment-content li>ul,
.comment-content li>ol {
	margin-bottom: 0;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	font-size: $font-size-sm;
}

.no-comments {
	margin: $spacer 0 0;
}

.comment-form-cookies-consent label {
	display: inline;
	margin-left: $spacer / 2;
}

@include media-breakpoint-up(sm) {
	.post-comments {
		.comment-form {
			@include make-row;
		}
		.comment-form-comment {
			margin-bottom: $spacer * 1.5;
		}
		.comment-notes,
		.comment-form-comment,
		.logged-in-as {
			@include make-col(12);
			@include make-col-ready();
			margin-bottom: $spacer * 1.5;
		}
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			@include make-col(4);
			@include make-col-ready();
			margin-bottom: $spacer * 1.5;
		}
		.comment-form-cookies-consent {
			@include make-col(12);
			@include make-col-ready();
		}
	}
}

.form-submit {
	margin: 0;
	@include media-breakpoint-up(sm) {
		@include make-col(12);
		@include make-col-ready();
	}
}

.required {
	color: $red;
}

.title-comment-reply small {
	font-size: 100%;
	a {
		float: right;
		overflow: hidden;
		width: 24px;
		height: 24px;

		&:before {
			float: left;
			position: relative;
			font-family: "cs-icons";
			font-size: 24px;
			content: unicode($cs-icon-x);
		}
	}
}

.post-comments-show {
	margin-top: $spacer * 3;
	text-align: center;
}

.post-comments-show button {
	margin: 0 auto;
	padding: $spacer * 0.75 $spacer * 3;
	@include button-icon(0.5rem, $cs-icon-chevron-down);
}