.site-info {
	position: relative;
	width: 100%;
	padding: $spacer * 3 0;
	display: flex;
	flex-direction: column;
	justify-content: initial;
	text-align: center;

	.footer-col {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 100%;
		margin-top: $spacer * 1.5;
		&:first-child {
			margin-top: 0;
		}
		&:nth-child(2) {
			@include media-breakpoint-up(lg) {
				width: 60%;
			}
		}
	}

	.footer-copyright {
		font-size: 0.75rem;
		color: $primary;
		margin-top: $spacer / 2;
		&:first-child {
			margin-top: 0;
		}
		a {
			color: inherit;
			text-decoration: none;
			font-weight: 600;
			color: $primary;
		}
	}

	.footer-nav-menu {
		margin-top: $spacer;
		&:first-child {
			margin-top: 0;
		}
		.navbar-nav {
			flex-wrap: wrap;
			justify-content: center;
			.menu-item-has-children > a:after {
				display: none;
			}
			.menu-item a {
				font-weight: 700;
			}
		}
	}

	.footer-social-links {
		margin-top: $spacer;
		&:first-child {
			margin-top: 0;
		}
		.pk-social-links-items {
			justify-content: center;
		}
	}

	.footer-subscribe {
		.pk-subscribe-form-wrap {
			background: transparent;
			padding: 0;
			.pk-subscribe-data button {
				margin-left: $spacer;
			}
		}
		.pk-subscribe-with-name {
			.pk-subscribe-data button {
				background: $primary;
				color: $white;
				padding: $spacer / 4 $spacer;
				margin-left: 0;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;

		.footer-col {
			margin-top: 0;
			&:nth-child(1) {
				align-items: flex-start;
			}
			&:nth-child(2) {
				padding: 0 $spacer;
			}
			&:nth-child(3) {
				align-items: flex-end;
			}
		}

		.footer-nav-menu {
			max-width: 100%;
			.navbar-nav {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				padding: 0 $spacer;
				margin-right: -$spacer;
				margin-left: -$spacer;
			}
			.menu-item {
				width: 50%;
				min-height: 1px;
				padding-right: $spacer;
				padding-left: $spacer;
				margin-top: $spacer;
				&:nth-child(-n+2) {
					margin-top: 0;
				}
				a {
					display: inline-block;
					padding: 0;
				}
				a:after {
					display: none;
				}
			}
		}

		.footer-social-links {
			.pk-social-links-items {
				justify-content: flex-start;
			}
			&-vertical {
				.pk-social-links-items {
					flex-direction: column;
				}	
			}
			&-horizontal {
				.pk-social-links-items {
					flex-direction: row;
				}
			}
		}

		.footer-subscribe {
			max-width: 300px;
		}
	}
}

.footer-layout-type-1 {
	@include media-breakpoint-up(lg) {
		.footer-copyright {
			&:first-child {
				margin-top: 0;
			}
		}

		.footer-nav-menu {
			.menu-item {
				max-width: 33.3333333333%;
				&:nth-child(-n+3) {
					margin-top: 0;
				}
			}
		}

		.footer-social-links {
			.pk-social-links-item {
				margin-bottom: 1.5rem;
			}
		}
	}
}

.footer-layout-type-2 {
	@include media-breakpoint-up(lg) {
		.site-info {
			padding: $spacer * 4 0;
		}

		.footer-col {
			justify-content: center;
			height: initial;
		}

		.footer-nav-menu {
			.navbar-nav {
				justify-content: flex-end;
			}
			.menu-item {
				width: auto;
				margin-top: 0;
			}
		}
	}
}

.footer-layout-type-3 {
	@include media-breakpoint-up(lg) {
		.footer-copyright {
			margin-top: $spacer * 2;
		}
	}
}
