.header-compact,
.header-with-top-bar {

	.navbar-social-links {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}

	.navbar-follow {
		display: none;
		@include media-breakpoint-up(xl) {
			display: flex;
		}
	}

	.navbar-brand:not(:last-child) {
		margin-right: $spacer * 2;
	}
}

.header-with-top-bar {
	.navbar-topbar {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
		.navbar-wrap  {
			border: none;
			display: flex;
			position: relative;
			width: 100%;
			max-width: 100%;
			align-items: center;
			justify-content: center;
			padding-top: $spacer;
			padding-bottom: $spacer;
		}
		.navbar-nav a {
			color: $secondary;
			font-size: 0.8125rem;
			font-weight: 400;
			white-space: nowrap;
			&:after {
				display: none;
			}
		}
	}
}

.header-large {
	.navbar-topbar {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
		.navbar-wrap  {
			border: none;
			display: flex;
			position: relative;
			width: 100%;
			max-width: 100%;
			align-items: center;
			justify-content: center;
			padding-top: $grid-gutter-width / 2;
		}
		.navbar-multicolor {
			padding-bottom: $grid-gutter-width / 2;
		}
		.navbar-brand {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			padding: 0;
			.tagline {
				color: $secondary;
			}
			@include media-breakpoint-up(lg) {
				img {
					max-height: none;
					height: auto;
				}
			}
		}
	}
	.navbar-bottombar {
		.navbar-brand {
			opacity: 1;
			.tagline {
				display: none;
			}
		}
		@include media-breakpoint-up(lg) {
			.navbar-brand {
				transform: translateX(-9999px);
				transition: transform 0s, opacity 0.25s;
				transition-delay: 0.25s,0s;
				margin-right: $spacer;
				opacity: 0;
			}
			&.sticky-nav .navbar-brand {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}