.cs-meet-team .cs-author {
	&:not(:first-child) {
		margin-top: $spacer * 3;
	}

	.cs-author-meta {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.cs-author-avatar {
		margin-right: $spacer * 1.5;
	}

	.cs-author-title {
		margin-right: $spacer * 1.5;
		margin-bottom: 0;
	}

	.cs-author-description {
		margin-top: $spacer;
	}

	.cs-author-posts {
		border-top: 1px solid $gray-200;
		margin-top: $spacer * 1.5;
		padding-top: $spacer * 1.5;
	}

	.pk-social-links-item:not(:hover) {
		opacity: 0.6;
	}
}