// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar-primary {
    background: $white;

    .sticky-type-slide & {
        &.sticky-nav {
            transform: translateY(calc(-100% - 1rem));
        }

        &.sticky-nav.sticky-nav-slide-visible {
            transform: translateY(0);
            transition: transform 0.4s ease;
        }
    }

    &.sticky-nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
        transform: translateY(0);

        &.sticky-up {
            transition: transform 0.4s ease;
        }

        &.sticky-nav-slide.sticky-down {
            transition: transform 0.4s ease;
        }

        .admin-bar & {
            top: 32px;
        }
    }
}

.navbar-dummy {
    position: absolute;
    display: none;
}

.navbar-primary.sticky-nav+.navbar-dummy {
    position: relative;
    display: block;
}

@media (max-width: 782px) {
    .navbar-primary.sticky-nav {
        .admin-bar & {
            top: 46px;
        }
    }
}

@media (max-width: 600px) {
    .navbar-primary.sticky-nav {
        .admin-bar & {
            top: 0;
        }
    }
}

//
// Navbar Wrap
//
.navbar-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid $gray-200;

    .large-section-enabled .navbar:not(.sticky-nav) & {
        border-bottom-color: transparent;
    }
}

// Navbar Container
//
// Easily apply container styles to the custom navbar container.

.navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
    @include make-container();
    @include make-container-max-widths();
}

.navbar-container .navbar-content {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-between;

    .navbar-col {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;

        &:nth-child(1) {
            justify-content: flex-start;
        }

        &:nth-child(2) {
            justify-content: center;
            padding: 0 $spacer / 2;
        }

        &:nth-child(3) {
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(lg) {
        justify-content: flex-start;
    }
}

// Off-Canvas Toggle
//
// Hide the hamburger button on larger screens.

.toggle-offcanvas {
    border: none;
    background: transparent;
    color: $primary;
    height: $spacer * 2;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    span {
        display: block;
        background: $primary;
        width: $grid-gutter-width / 2;
        height: 2px;
        transition: background .2s;

        &:not(:first-child) {
            margin-top: 5px;
        }
    }

    &:hover span {
        background: $secondary;
    }

    &:not(:last-child) {
        margin-right: $spacer;
    }

    &:focus {
        background: transparent;
        color: $primary;
    }

    &:hover {
        background: transparent;
        color: $secondary;
    }
}

.toggle-offcanvas-hide {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

// Search Toggle
//
// Search container visibility toggler.

.toggle-search {
    border: none;
    padding: 0;
    background: transparent;
    color: $primary;
    font-size: 1rem;
    height: $spacer * 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child) {
        margin-left: $spacer;
    }

    .navbar-follow+& {
        border-left: none;
    }

    @include hover-focus {
        background: transparent;
        color: $secondary;
    }
}


// Navigation Widget
//
// Widget container visibility toggler.

.navbar-widgets {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
        margin-left: $spacer;
    }

    @include hover-focus {
        .navbar-widgets-container {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $spacer * 2;
        padding: 0;
        border: none;
        background: transparent;
        color: $primary;
        font-size: 1.5rem;

        @include hover-focus {
            background: transparent;
            color: $secondary;
        }
    }

    &-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: -1px;
        overflow: hidden;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        z-index: 10;
        transition: opacity 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    &-inner {
        display: flex;
        padding: $grid-gutter-width;
    }

    .widget-col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding-left: $grid-gutter-width / 4 * 3;
        padding-right: $grid-gutter-width / 4 * 3;
    }
}

// Navbar Brand
//
// Used for brand, project, or site names.

.navbar-brand {
    display: inline-block;
    margin-bottom: 0;
    line-height: inherit;
    white-space: nowrap;
    max-width: 100%;

    a {
        @include hover-focus {
            text-decoration: none;
        }
    }

    img {
        max-width: inherit;
        max-height: $grid-gutter-width;
        width: auto;
    }
}

.navbar-primary .navbar-brand {
    // Align center.
    position: absolute;
    transform: translate3d(-50%, 0, 0);

    @if $rtl==false {
        left: 50%;
    }

    @else {
        right: 50%;
    }

    // Align to the left on desktops.
    @include media-breakpoint-up(lg) {
        position: static;
        left: 0;
        transform: none;
    }
}

//
// Navbar text
//

.navbar-text {
    display: inline-block;
    margin-bottom: 0;
}

//
// Navbar Nav
//

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    list-style: none;
    padding: 0;

    li {
        position: relative;
    }

    // first level
    &>li {
        &>a {
            display: flex;
            align-items: center;
            padding-left: $nav-link-padding-x * 0.75;
            padding-right: $nav-link-padding-x * 0.75;
            color: $primary;

            @include hover-focus {
                color: $secondary;
                text-decoration: none;
            }
        }

        &:first-child>a {
            padding-left: 0;
        }

        &:last-child>a {
            padding-right: 0;
        }

        &.menu-item.current-menu-ancestor>a>span:after,
        &.menu-item.current-menu-item>a>span:after {
            opacity: 1;
            transform: translateY(-3px) translateZ(0);
        }

        &.menu-item-has-children {
            &>.sub-menu {
                top: 100%;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.3s;
                z-index: 10;
            }

            &.cs-mm-position-left>.sub-menu {
                left: auto;
                right: 0;
            }

            &:not(.touch-device):hover>.sub-menu {
                display: block;
                opacity: 1;
                visibility: visible;
            }

            &>a:after {
                content: unicode($cs-icon-chevron-down);
            }

            &.touch-device>a:after {
                display: none;
            }

            &.touch-device.submenu-visible>.sub-menu {
                display: block;
                opacity: 1;
                visibility: visible;
            }

            &.touch-device .expanded {
                display: flex;
                align-items: center;
                height: 100%;
            }

            &.touch-device .expanded:after {
                padding-left: $nav-link-padding-x / 4;
                font-family: "cs-icons";
                font-size: 12px;
                content: unicode($cs-icon-chevron-down);
            }
        }
    }

    // all levels with children
    .menu-item-has-children {
        &>a {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }

        &>a:after {
            padding-left: $nav-link-padding-x / 4;
            font-family: "cs-icons";
            font-size: 12px;
            content: unicode($cs-icon-chevron-right);
        }

        .touch-device.menu-item-has-children {
            &>a:after {
                display: none;
            }

            &>a>.expanded:after {
                padding-left: $nav-link-padding-x / 4;
                font-family: "cs-icons";
                font-size: 12px;
                content: unicode($cs-icon-chevron-right);
            }
        }
    }

    .sub-menu {
        background: $white;
        position: absolute;
        margin: 0;
        padding: $nav-link-padding-x / 2 0;
        text-align: left;
        list-style: none;

        &>li {
            padding: 0;

            &.current-menu-ancestor>a,
            &.current-menu-item>a {
                color: $secondary;
            }

            @include hover-focus {
                &>a {
                    color: $secondary;
                }
            }
        }

        &>li>a {
            position: relative;
            display: flex;
            white-space: nowrap;
            min-width: 220px;
            padding: $nav-link-padding-x / 2 $nav-link-padding-x;
            color: $primary;
            transition: padding, opacity, color 0.2s ease;
        }

        .sub-menu {
            border-left: 1px solid $gray-200;
            display: block;
            visibility: hidden;
            top: - $nav-link-padding-x / 2;
            left: 100%;
            opacity: 0;
            transition: all 0.2s;
            z-index: 1;

            &.cs-mm-position-init {
                transform: translate3d($nav-link-padding-x / 2, 0, 0);
            }
        }

        li.cs-mm-position-left>.sub-menu {
            left: auto;
            right: 100%;
        }

        li:not(.touch-device):hover>.sub-menu {
            visibility: visible;
            opacity: 1;

            &.cs-mm-position-init {
                transform: translate3d(0, 0, 0);
            }
        }

        li.touch-device.submenu-visible>a {
            padding-left: $nav-link-padding-x * 1.5;
        }

        li.touch-device.submenu-visible>.sub-menu {
            visibility: visible;
            opacity: 1;

            &.cs-mm-position-init {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

//
// Primary Nav
//

.navbar-primary {
    .navbar-nav {
        height: 100%;

        &>li {
            height: 100%;

            &>a {
                height: 100%;
                white-space: nowrap;
            }

            &>a>span {
                position: relative;
            }
        }

        // Visible on larger screens only.
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
}

//
// Subscription
//

.navbar-subscribe {
    .pk-subscribe-data {
        display: flex;
        align-items: center;

        .pk-title {
            font-size: 1.125rem;
            white-space: nowrap;
            margin: 0;
        }

        .pk-input-group {
            flex-wrap: nowrap;

            input[type="text"] {
                width: 200px;
            }

            button {
                margin-left: $spacer * 1.5;
            }
        }
    }

    .pk-subscribe-form-wrap {
        background: transparent;
        padding: 0;

        .pk-alert {
            position: absolute;
            width: max-content;
            display: -ms-grid;
            -ms-grid-columns: max-content;
            top: 50%;
            left: 100%;
            border: none;
            transform: translateY(-50%);
            transition: transform 0.5s;
            background: rgba(0, 0, 0, .875);
            padding: $spacer / 2 $spacer;
            margin: 0 $spacer * 1.5;
            color: $white;

            &:after {
                right: 100%;
                top: 50%;
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: transparent;
                border-right-color: rgba(0, 0, 0, 0.875);
                border-width: 7px;
                margin-top: -7px;
                content: '';
            }
        }

        .subscription {
            margin-left: $spacer * 2;
        }
    }
}

.navbar-subscribe-light {
    .pk-subscribe-form-wrap {
        .pk-alert {
            background: rgba(255, 255, 255, 0.875);
            color: $primary;

            &:after {
                border-right-color: rgba(255, 255, 255, 0.875);
            }
        }
    }
}

//
// Follow
//

.navbar-follow {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:not(:first-child) {
        margin-left: $spacer * 1.5;
    }

    &:not(:last-child) {
        margin-right: $spacer / 2;
    }

    .navbar-follow-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer * 0.75 $spacer * 2.5;

        i {
            font-size: 1.125rem;
            margin-right: $spacer / 2;

            &:after {
                font-weight: normal;
            }
        }
    }
}

//
// Nav Shadow
//
.navbar-shadow-enabled {
    .navbar-nav>.menu-item {
        &.cs-mega-menu>.sub-menu {
            margin-top: -1px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        }

        &>.sub-menu,
        &>.sub-menu .sub-menu {
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        }

        &>.sub-menu .sub-menu {
            border: none;
        }

        &>.sub-menu {
            margin-top: -1px;
        }
    }

    .navbar-nav {
        .cs-mega-menu-has-categories .cs-mm-posts-container {
            background: $white;
        }

        .cs-mega-menu-has-category .sub-menu {
            background: $white;
        }
    }
}