// Content not found
.content-not-found {
	@include make-container-max-widths();
	margin: 0 auto;
	// text-align: center;
	.cs-input-group .search-submit {
		min-width: $grid-gutter-width * 4;
	}
	.cs-input-group input[type="search"] {
		line-height: 2rem;
	}
}

.page-header-has-description + .content-not-found {
	margin-top: $grid-gutter-width;
}
