//
// General Off-Canvas Styles
//

.offcanvas {
	overflow: hidden;
	position: fixed;
	height: 100%;
	top: 0;
	left: unquote("-" + $offcanvas-width);
	width: $offcanvas-width;
	background: white;
	display: flex;
	flex-direction: column;
	-webkit-overflow-scrolling: touch; // enables momentum scrolling in iOS overflow elements
	z-index: 100;
	.admin-bar & {
		top: 46px;
		height: calc( 100% - 46px );
		@media screen and (min-width: 783px) {
			top: 32px;
			height: calc( 100% - 32px );
		}
	}

	@if $rtl == false {
		transform: translate3d( 0, 0, 0 );
	} @else {
		transform: translate3d( $offcanvas-width, 0, 0 );
	}
}

//
// Off-Canvas Active Body Class
//

.offcanvas-active {
	overflow: hidden;
	.offcanvas {
		@if $rtl == false {
			transform: translate3d($offcanvas-width, 0, 0);
		} @else {
			left: $offcanvas-width;
		}
	}
	.site {
		position: relative;
		overflow: hidden;
	}
	.site-header .navbar,
	.site-inner > section,
	.site-inner > span,
	.site-inner > div,
	.site-inner > p {
		@if $rtl == false {
			transform: translate3d($offcanvas-width, 0, 0) !important;
		} @else {
			left: $offcanvas-width;
		}
	}
}

//
// Off-Canvas Header
//

.offcanvas-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $grid-gutter-width / 2;
	border-bottom: 1px $gray-200 solid;
	.navbar-brand {
		margin-left: 0;
	}
	.toggle-offcanvas {
		font-size: 1.5rem;
		margin-right: 0;
	}
}

//
// Off-Canvas Navbar
//

.navbar-offcanvas {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}


//
// Off-Canvas Sidebar
//

.offcanvas-sidebar {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.offcanvas-inner {
	padding: $grid-gutter-width / 2;
}

//
// Off-Canvas Transitions
//

.offcanvas {
	transition: all 0.4s ease;
}

.offcanvas-transition {
	.site-header .navbar,
	.site-inner > section,
	.site-inner > span,
	.site-inner > div,
	.site-inner > p {
		transition: all 0.4s ease;
	}
}

//
// RTL
//

.site-primary,
.site-header .navbar {
	@if $rtl == true {
		position: relative;
		left: 0;
	}
}

//
// Off-Canvas Overlay (Backdrop)
//

.site-overlay {
	display: none;
	.offcanvas-active & {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.15);
		animation: fade 0.5s;
		z-index: 99;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
