//
// Archive Pagination
//

.ajax-navigation {
	display: flex;
	justify-content: center;
	margin-top: $spacer * 4;

	.load-more {
		padding: $spacer * 0.75 $spacer * 6;
		@include button-icon(0.5rem, $cs-icon-chevron-down);
		@include hover-focus {
			opacity: 1;
		}
		&.loading{
			position: relative;
			color: transparent;
			&:before {
				@include loader( $size: $font-size-base, $color: $white, $border-size: 2px );

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				text-align: center;
				content: "";
			}
		}
	}
}

//
// Posts Pagination
//

.navigation.pagination {
	display: flex;
	justify-content: center;
	margin-top: $spacer * 4;
	&:last-child {
		margin-bottom: 0;
	}
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		& > span,
		& > a {
			border: 1px solid transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: $grid-gutter-width;
			min-height: $grid-gutter-width;
			padding: $spacer / 2 $spacer * 0.75;
		}
		& > .page-number,
		& > .current {
			border-color: $gray-200;
			color: $secondary;
		}
		a:first-child {
			&:before {
				margin-right: $spacer / 2;
				font-family: "cs-icons";
				content: unicode($cs-icon-chevron-left);
			}
		}
		a:last-child {
			&:after {
				margin-left: $spacer / 2;
				font-family: "cs-icons";
				content: unicode($cs-icon-chevron-right);
			}
		}
	}
}

//
// Post / Page Pagination with <!--nextpage-->
//

.navigation.posts-navigation {
	margin-top: $grid-gutter-width;
	.nav-links {
		display: flex;
		justify-content: space-between;
	}
	.nav-previous {
		& > a {
			&:before {
				margin-right: $spacer / 2;
				font-family: "cs-icons";
				content: unicode($cs-icon-chevron-left);
			}
		}
	}
	.nav-next {
		& > a {
			&:after {
				margin-left: $spacer / 2;
				font-family: "cs-icons";
				content: unicode($cs-icon-chevron-right);
			}
		}
	}
}

//
// Comments Pagination
//

.navigation.comment-navigation {
	padding: $spacer 0;
	border-top: 1px $gray-200 solid;
	border-bottom: 1px $gray-200 solid;
	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.nav-previous {
			a {
				&:before {
					margin-right: $spacer / 2;
					font-family: "cs-icons";
					content: unicode($cs-icon-arrow-left);
				}
			}
		}
		.nav-next {
			text-align: right;
			a {
				&:after {
					margin-left: $spacer / 2;
					font-family: "cs-icons";
					content: unicode($cs-icon-arrow-right);
				}
			}
		}
	}
}