// Styles for singular posts (post, page, etc).

.post-media {
	figure {
		overflow: hidden;
		margin-bottom: 0;
		&.wp-caption .wp-caption-text {
			margin-bottom: 0;
		}
	}
}

// Styles only for single posts.
.single {

	.entry-container {
		display: flex;

		.entry-content-wrap {
			width: 100%;
		}
		.entry-sidebar-wrap {
			display: none;
			width: 100%;
		}
		.entry-sidebar {
			display: flex;
			flex: 1;
			height: 100%;
			flex-direction: column;
			font-size: $font-size-sm;
			order: 1;
		}

		@include media-breakpoint-up(lg) {
			@include make-row();
			flex-direction: row;
			justify-content: center;
			.entry-content-wrap,
			.entry-sidebar-wrap {
				@include make-col-ready();
			}
			.entry-content-wrap {
				flex: 0 0 calc(100% - 120px);
				width: calc(100% - 120px);
				max-width: $content-width + $grid-gutter-width;
			}
			.entry-sidebar-wrap {
				display: flex;
				flex-direction: column;
				flex: 0 0 120px;
				max-width: 120px;
			}
			.entry-content {
				max-width: $content-width;
			}
		}
	}
}

.block-align-enabled {

	@include media-breakpoint-up(lg) {
		.post-sidebar-enabled.sidebar-disabled .entry-container {
			transform: translateX(-60px);
		}
	}

	@include media-breakpoint-up(xl) {
		.post-sidebar-disabled.sidebar-enabled .entry-container {
			.entry-content .alignwide,
			.entry-content .alignfull {
				transform: translateX(-60px);
				width: 800px !important;
				max-width: 800px;
			}
		}
	}

	.sidebar-disabled .entry-content .alignwide {
		@include cs-block-widths(-$grid-gutter-width);
		@include cs-block-max-widths(-$grid-gutter-width);

		figcaption {
			text-align: center;
		}
		img {
			width: 100%;
			min-width: 100%;
		}

		@include media-breakpoint-up(lg) {
			transform: translateX(-150px);
			margin: $content-media-spacer 0;
		}
		@include media-breakpoint-up(xl) {
			transform: translateX(-240px);
		}
	}

	.sidebar-disabled .entry-content .alignfull {
		@include media-breakpoint-up(lg) {
			margin: $content-media-spacer 0;
			margin-left: calc( -50vw + 50% );
			transform: translateX(0);
			width: 100vw !important;
			max-width: 100vw;
			img {
				width: 100%;
				min-width: 100%;
			}
			figcaption {
				text-align: center;
			}
			.pk-zoom-icon-popup:after {
				display: none;
			}
			.pk-pin-it {
				display: none;
			}
		}
	}
}


.block-align-enabled {

	@include media-breakpoint-up(lg) {
		.post-sidebar-enabled.sidebar-disabled .entry-container {
			transform: translateX(-60px);
		}
	}

	@include media-breakpoint-up(xl) {
		.post-sidebar-disabled.sidebar-enabled .entry-container {
			.entry-content .alignwide,
			.entry-content .alignfull {
				transform: translateX(-60px);
				width: $content-width-medium !important;
				max-width: $content-width-medium;
			}
		}
	}

	.sidebar-disabled .entry-content .alignwide {
		@include cs-block-widths(-$grid-gutter-width);
		@include cs-block-max-widths(-$grid-gutter-width);

		figcaption {
			text-align: center;
		}
		img {
			width: 100%;
			min-width: 100%;
		}

		@include media-breakpoint-up(lg) {
			transform: translateX(-150px);
			margin: $content-media-spacer 0;
		}
		@include media-breakpoint-up(xl) {
			transform: translateX(-240px);
		}
	}

	.sidebar-disabled .entry-content .alignfull {
		@include media-breakpoint-up(lg) {
			margin: $content-media-spacer 0;
			margin-left: calc( -50vw + 50% );
			transform: translateX(0);
			width: 100vw !important;
			max-width: 100vw;
			img {
				width: 100%;
				min-width: 100%;
			}
			figcaption {
				text-align: center;
			}
			.pk-zoom-icon-popup:after {
				display: none;
			}
			.pk-pin-it {
				display: none;
			}
		}
	}
}

.block-page-align-enabled {
	.sidebar-disabled .entry-content .alignfull {
		@include media-breakpoint-up(lg) {
			margin: $content-media-spacer 0;
			margin-left: calc( -50vw + 50% );
			transform: translateX(0);
			width: 100vw !important;
			max-width: 100vw;
			img {
				width: 100%;
				min-width: 100%;
			}
			figcaption {
				text-align: center;
			}
			.pk-zoom-icon-popup:after {
				display: none;
			}
			.pk-pin-it {
				display: none;
			}
		}
	}
}