.site-search-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $secondary-background;
	height: 0;
	transition: height 0.4s;
	overflow: hidden;
	z-index: 4;
	&.search-open {
		height: 200px;
	}
}

.site-search {
	width: 100%;
	transition: opacity 0.2s;
	.cs-input-group {
		position: relative;
		background: transparent;
		border: none;
		height: $grid-gutter-width * 1.5;
		line-height: $grid-gutter-width * 1.5;
	}
	.search-form-wrap {
		position: relative;
		display: flex;
	}
	.search-form {
		flex-grow: 1;
	}
	.search-submit {
		position: absolute;
		background: transparent;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		border: none;
		width: $grid-gutter-width * 1.75;
		color: $gray-600;
		height: 100%;
		line-height: 100%;
		font-size: 0;
		order: 1;
		z-index: 5;
		&:hover {
			background: transparent;
			color: $primary;
		}
	}
	.search-submit:after {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: unicode($cs-icon-search);
		font-family: "cs-icons";
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $h5-font-size;
		z-index: 3;
	}
	.search-close {
		position: absolute;
		top: 0;
		right: 0;
		width: $grid-gutter-width * 1.75;
		height: 100%;
		display: flex;
		align-items: center;
		justify-items: center;
		font-size: $h5-font-size;
		cursor: pointer;
		transition: 0.2s;
		z-index: 5;
		&:after {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			font-family: "cs-icons";
			display: flex;
			align-items: center;
			justify-content: center;
			content: unicode($cs-icon-x);
			z-index: 3;
		}
		&:hover {
			color: $secondary;
		}
	}
	input[type="search"] {
		background: $white;
		font-size: 1rem;
		order: 2;
		padding: 0 $grid-gutter-width * 1.75;
		height: 100%;
		line-height: 100%;
	}
}
