// Body
//
// Prevents horizontal scroll bars.

body {
	overflow-x: hidden;
}

//
// Container
//

.cs-container {
	@include make-container();
	@include make-container-max-widths();
}

//
// Site Content
//

.site-content {
	margin: $spacer * 4 0;
}

//
// Sidebar Layout
//

.main-content {
	@include media-breakpoint-up(lg) {
		@include make-row();
	}
}

.content-area {
	@include media-breakpoint-up(lg) {
		@include make-col-ready();
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.sidebar-right,
.sidebar-left {
	@include media-breakpoint-up(lg) {
		.content-area {
			flex: 0 0 calc(100% - #{300px + $grid-gutter-width});
			max-width: calc(100% - #{300px + $grid-gutter-width});
		}
	}
}

.sidebar-right {
	@include media-breakpoint-up(xl) {
		.content-area {
			padding-right: $grid-gutter-width;
		}
	}
}

.sidebar-left {
	@include media-breakpoint-up(lg) {
		.widget-area {
			order: -1;
		}
	}
	@include media-breakpoint-up(xl) {
		.content-area {
			padding-left: $grid-gutter-width;
		}
	}
}

.sidebar-area {
	@include media-breakpoint-up(lg) {
		@include make-col-ready();
		flex: 0 0 300px + $grid-gutter-width;
		max-width: 300px + $grid-gutter-width;
	}
	.sidebar-1:not(:empty),
	.sidebar-2:not(:empty) {
		padding-top: $grid-gutter-width * 1.5;
	}
}

@include media-breakpoint-up(md) {
	.sidebar-area {
		@include make-row();
		margin-top: $spacer * 3;

		.sidebar {
			@include make-col-ready();
			@include make-col(6);
			position: initial;
		}
		.sidebar-1,
		.sidebar-2 {
			display: block;
		}
		.sidebar-1:not(:empty),
		.sidebar-2:not(:empty) {
			padding-top: 0;
		}
	}
}

@include media-breakpoint-up(lg) {
	.sidebar-area{
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;

		.sidebar {
			@include make-col(12);
			position: relative;
			padding-left: 0;
			padding-right: 0;
		}
		.sidebar-1 {
			display: block;
		}
		.sidebar-2 {
			display: none !important;
		}
	}
}

// Sticky Sidebars
@supports (position:sticky) or (position:-webkit-sticky) {
	@include media-breakpoint-up(lg) {
		.sticky-sidebar-enabled {
			&.stick-to-top {
				.sidebar-area {
					display: flex;
					flex-direction: column;
				}
				.sidebar-1 {
					position: relative;
					position: sticky;
					top: 0;
					flex: initial;
					transition: .4s ease all;
				}
			}
			&.stick-to-bottom {
				.sidebar-area {
					display: flex;
					flex-direction: column;
				}
				.sidebar-1 {
					position: relative;
					position: sticky;
					bottom: $spacer * 2;
					margin-top: auto;
					flex: 0 0 auto;
				}
			}
			&.stick-last {
				.sidebar-1 {
					display: flex;
					flex-direction: column;
					.widget:last-child {
						position: relative;
						position: sticky;
						top: $spacer * 3;
						transition: .4s ease all;
					}
				}
			}
		}
	}
}

@-moz-document url-prefix() {
	@include media-breakpoint-up(lg) {
		.sticky-sidebar-enabled.stick-to-bottom {
			.sidebar-1 {
				top: 0;
				bottom: initial;
				margin-top: initial;
				flex: initial;
				transition: .4s ease all;
			}
		}
	}
}