//
// Body Background
//
body {
	background-color: $body-background;
}


//
// Animation
//

a {
	transition: .2s color ease;
}

//
// Headings Links
//

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color: $headings-color;
	@include hover-focus {
		color: $headings-hover-color;
		text-decoration: none;
	}
}

.cs-breadcrumbs {
	color: $secondary;
	a {
		color: $secondary;
		@include hover-focus {
			color: $secondary-hover;
		}
	}
}

figcaption {
	color: $secondary;
}

span[class*="meta-"] {
	color: $secondary;
}

.archive-count {
	color: rgba($primary,.5);
}

.page-subtitle {
	color: rgba($primary,.5);
}
