//
// Entry content
//

.entry-content {
	line-height: $content-line-height;

	//! Link
	& > a,
	& > p > a,
	& > ul li > a,
	& > ol li > a,
	& > p > em > a,
	& > p > strong > a {
		text-decoration: underline;
		@include hover-focus {
			text-decoration: none;
		}
	}

	//! Blockquote
	> blockquote {
		border-left: 1px solid $gray-200;
		position: relative;
		font-size: $h4-font-size;
		line-height: 1.5;
		margin-left: 0;
		margin-right: 0;
		padding-left: $spacer * 2;

		cite {
			display: block;
			color: $primary;
			font-size: $font-size-sm;
			font-style: normal;
			font-weight: 500;
			margin-top: $spacer / 2;
		}

		p {
			line-height: 1.5;
			&:first-child {
				font-size: inherit;
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	cite {
		color: $secondary;
	}

	.wp-caption-dd {
		color: $secondary;
		margin-left: 0;
	}

	//! Embed.
	.cs-embed {
		margin-top: $content-media-spacer;
		margin-bottom: $content-media-spacer;
	}
}

//
// Alignment
//

.alignnone {
	max-width: 100%;
}

.alignleft {
	float: none;
	margin-right: 0;
	max-width: 100%;
	@include media-breakpoint-up(sm) {
		float: left;
		margin-right: $spacer * 2;
	}
}

.alignright {
	float: none;
	margin-left: 0;
	max-width: 100%;
	@include media-breakpoint-up(sm) {
		float: right;
		margin-left: $spacer * 2;
	}
}

.aligncenter {
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	.wp-caption-text,
	.wp-caption-dd {
		text-align: center;
	}
}

img.alignleft,
img.alignright {
	margin-bottom: $spacer;
}

/** =========== Blocks =========== */

//
// Columns
//

.wp-block-columns {
	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	.wp-block-column > * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media only screen and (min-width: 600px) {
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

//
// Paragraphs
//
p.has-background {
	padding: $spacer * 1.5 $spacer * 2;
}

//
// Subhead
//

p.wp-block-subhead {
	font-size: $h5-font-size;
	color: $secondary;
	opacity: 1;
}

//
// Dropcap
//

p.has-drop-cap {
	&:not(:focus):first-letter {
		font-size: 4rem;
		line-height: 1;
		margin-top: $spacer / 2;
		margin-right: $spacer * 2;
		margin-bottom: $spacer / 2;
	}
}

//
// Separator
//

.wp-block-separator {
	@extend hr;

	&:not(.is-style-dots) {
		border-top: none;
		border-bottom: 1px solid $hr-border-color;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 100px;
		margin-left: 0;
		margin-right: auto;
	}

	&.is-style-dots {
		border: none;
		text-align: left;
		&:before {
			padding-left: 0;
			color: $secondary;
		}
	}
}

//
// Button
//

.wp-block-button {

	.wp-block-button__link {
	transition: opacity 0.2s;

		&:not(.has-background) {
			background-color: $primary;
		}

		&:not(.has-text-color) {
			color: white;
		}

		&:hover {
			opacity: .75;
			cursor: pointer;
		}
	}

	&:not(.is-style-squared) {
		.wp-block-button__link {
			border-radius: $spacer * 2;
		}
	}
}

//
// Code
//

.wp-block-code {
	background-color: $table-accent-bg;
	padding: $spacer $spacer * 1.5;
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: $content-line-height;
	font-size: $font-size-sm;
	color: $primary;
	white-space: pre-wrap;
	border-radius: 0;
	border: none;

	.editor-plain-text {
		background-color: transparent;
	}
}

//
// Preformatted text
//

.wp-block-preformatted {
	background-color: $table-accent-bg;
	padding: $spacer $spacer * 1.5;
	pre {
		padding: 0;
	}
}

.wp-block-preformatted,
.wp-block-preformatted pre {
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: $content-line-height;
	font-size: $font-size-sm;
	color: $primary;
	white-space: pre-wrap;
}

//
// Verse
//

.wp-block-verse {
	background-color: $table-accent-bg;
	padding: $spacer $spacer * 1.5;
	pre {
		padding: 0;
	}
}

.wp-block-verse,
.wp-block-verse pre {
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: $content-line-height;
	font-size: $font-size-sm;
	color: $primary;
	overflow: auto;
}

//
// Audio
//

.wp-block-audio {
	figcaption {
		color: $secondary;
	}
}

//
// Embed
//

.wp-block-embed {
	figcaption {
		color: $secondary;
	}
}

//
// Video
//

.wp-block-video {

	video {
		width: 100%;
	}
}

//
// Media Text
//

.wp-block-media-text {
	p:last-child {
		margin-bottom: 0;
	}

	@include media-breakpoint-down(xs) {
		&.is-stacked-on-mobile {
			.wp-block-media-text__content {
				padding-top: 8%;
				padding-bottom: 0;
			}

			&.has-media-on-the-right .wp-block-media-text__content {
				padding-top: 0;
				padding-bottom: 8%;
			}
		}
	}
}

//
// Image
//

.wp-block-image {
	figcaption {
		color: $secondary;
		text-align: center;
	}
	@include media-breakpoint-up(sm) {
		figcaption {
			text-align: initial;
		}
	}

	.alignleft, .alignright,
	.aligncenter, .alignwide,
	.alignfull {
		figcaption {
			text-align: center;
		}
	}
	&.alignleft, &.alignright,
	&.aligncenter, &.alignwide,
	&.alignfull {
		figcaption {
			text-align: center;
		}
	}

	.alignleft, &.alignleft {
		float: none;
		margin-right: 0;
		@include media-breakpoint-up(sm) {
			float: left;
			margin-right: $spacer * 2;
		}
	}
	.alignright, &.alignright {
		float: none;
		margin-left: 0;
		@include media-breakpoint-up(sm) {
			float: right;
			margin-left: $spacer * 2;
		}
	}

	@include media-breakpoint-down(xs) {
		.alignleft,
		.alignright {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

//
// Cover
//

.wp-block-cover,
.wp-block-cover-image {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: auto;

	&:after {
		width: 0;
		padding-bottom: 56.25%;
		height: 100%;
		content: '';
	}

	&.alignleft:after,
	&.alignright:after {
		padding-bottom: 75%;
	}

	&.alignfull:after,
	&.alignwide:after {
		padding-bottom: 40%;
	}

	.wp-block-cover-text {
		font-size: 2rem;
		line-height: 1.25;
		padding: $spacer;
		@include media-breakpoint-up(sm) {
			padding: $spacer * 2;
		}
	}
}

//
// Blockquote
//

.wp-block-quote {

	&:not(.is-large),
	&:not(.is-style-large) {
		border-left: 1px solid $gray-200;
		position: relative;
		font-size: $h4-font-size;
		line-height: 1.5;
		padding-left: $spacer * 2;
		color: $headings-color;
	}

	p {
		line-height: 1.5;
		&:first-child {
			font-size: inherit;
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	cite {
		font-style: normal;
		color: $primary;
		line-height: 1.5;
		font-weight: 500;
	}

	.wp-block-quote__citation {
		font-style: normal;
		color: $primary;
		line-height: 1.5;
		font-weight: 500;
	}

	&.is-large,
	&.is-style-large {
		p,
		p:first-child {
			font-size: 2.5rem;
			font-style: normal;
			line-height: 1.5;
		}
		cite,
		footer {
			font-size: $font-size-sm;
			text-align: left;
		}
	}
}

//
// Pullquote
//

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
	max-width: 100%;
	@include media-breakpoint-up(sm) {
		max-width: calc(50% - 1rem);
	}
}

.wp-block-pullquote {
	border-top: 4px solid $primary;
	border-bottom: 4px solid $primary;
	padding: $spacer * 2 $spacer;

	blockquote {
		margin: 0;
	}

	p {
		font-size: $h3-font-size;
		line-height: 1.5;
	}

	.alignleft p,
	.alignright p {
		font-size: $h5-font-size;
	}

	blockquote:not(.has-text-color) {
		color: $primary;
		cite,
		footer,
		.wp-block-pullquote__citation {
			color: $secondary;
			font-style: italic;
		}
	}
}

//
// Latest Comments
//

.wp-block-latest-comments {
	border-top: 1px solid $gray-200;
	border-bottom: 1px solid $gray-200;
	padding: $spacer * 2 0;
	margin: 0;

	.wp-block-latest-comments__comment {
		margin: $spacer * 2 0 0;

		&:first-child {
			margin-top: 0;
		}

		> article {
			border: none !important;
			margin: 0 !important;
			padding: 0 !important;
		}
	}

	.wp-block-latest-comments__comment-date {
		color: $secondary;
		font-size: $font-size-sm;
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: inherit;
		line-height: inherit;
		margin: $spacer / 2 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

//
// Latest posts, categories, archives
//

.wp-block-latest-posts,
.wp-block-categories-list,
.wp-block-categories__list,
.wp-block-archives-list {
	@include list-unstyled;
	padding-left: 0;
	padding-right: 0;
	text-align: left;
	li {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	& > li a {
		padding-top: $spacer / 4;
		padding-bottom: $spacer / 4;
	}
	& > li > a {
		display: flex;
		position: relative;
		padding-left: $spacer * 2;
		&:before{
			position: absolute;
			left: 0;
			top: 8px;
			font-family: "cs-icons";
			content: unicode($cs-icon-arrow-right);
			color: $gray-400;
			font-size: 14px;
			margin-right: $spacer;
			display: inline-block;
			transition: .2s ease all;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 100%;
		}
		&:hover {
			color: $primary;
			&:before{
				color: $white;
				transition: .2s ease all;
				background: $gray-600;
			}
		}
	}
	.wp-block-latest-posts__post-date {
		margin-left: $spacer * 2;
		flex: 0 0 100%;
		font-size: $font-size-sm;
		color: $secondary;
	}
	.children,
	.wp-block-categories__list {
		flex: 0 0 100%;
	}
}

.wp-block-categories > .wp-block-categories__list {
	padding: 0;
}

.wp-block-archives.wp-block-archives-list {
	padding: 0;
}

.wp-block-categories-list,
.wp-block-categories__list,
.wp-block-archives-list {
	a {
		padding-right: $spacer / 2;
	}
}
