//
// Entry content basic style
//

.entry .entry-content > *,
.entry .entry-summary > * {
	margin-top: $content-spacer;
	margin-bottom: $content-spacer;

	@include media-breakpoint-up(sm) {
		margin-top: $content-spacer;
		margin-bottom: $content-spacer;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:last-child:after {
		content: '';
		clear: both;
		display: table;
	}
}

//
// Unset nested content selector styles
// - Prevents layout styles from cascading too deeply
// - helps with plugin compatibility
//

.entry .entry-content,
.entry .entry-summary {

	.entry-content,
	.entry-summary {
		margin: inherit;
		max-width: inherit;
		padding: inherit;

		@include media-breakpoint-up(sm) {
			margin: inherit;
			max-width: inherit;
			padding: inherit;
		}
	}
}
