//
// Breadcrumbs
//

.site-primary .cs-breadcrumbs {
    font-size: 1rem;
}

//
// Blocks Title
//

.title-block {
    display: inline-block;
    margin-bottom: $spacer;
    line-height: 1;
}

.title-style {
    display: block;
    margin-bottom: $spacer / 2;
    font-weight: 600;
    color: $secondary;
}

//
// Entry Header
//

.entry-header {
    .post-excerpt {
        font-size: $font-size-lg;
    }
}

//
// Tagcloud
//

.tagcloud {
    a {
        font-size: 0.875rem !important;
    }

    a:not(:last-child) {
        margin-right: $spacer / 2;
    }
}

//
// Archive
//
.archive-wrap .archive-full {
    .entry-excerpt {
        font-size: 1rem;
    }
}

.sidebar-disabled {
    .archive-wrap .archive-list {
        .entry-excerpt {
            font-size: 1rem;
        }
    }
}

//
// Tiles Heading Size
//

.cs-post-tiles-type-1,
.cs-post-tiles-type-4,
.cs-post-tiles-type-6 {

    .post-tile-list {
        .entry-title {
            font-size: 0.9375rem;
            line-height: 1.1875rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .post-tile-full {
            .entry-title {
                font-size: 3rem;
                line-height: 3.3125rem;
            }
        }

        .post-tile-grid {
            .entry-title {
                font-size: 1.875rem;
                line-height: 2.25rem;
            }
        }
    }
}

.cs-post-tiles-type-2,
.cs-post-tiles-type-3,
.cs-post-tiles-type-5 {

    @include media-breakpoint-up(lg) {
        .post-tile-full {
            .entry-title {
                font-size: 2.25rem;
                line-height: 2.625rem;
            }
        }

        .post-tile-grid {
            .entry-title {
                font-size: 1.125rem;
                line-height: 1.375rem;
            }
        }
    }
}

//
// Carousel Heading Size
//

.cs-post-carousel {
    @include media-breakpoint-up(lg) {
        .entry-title {
            font-size: 1.125rem;
        }
    }
}

//
// Archive Heading Size
//

.archive-grid .entry-title,
.archive-masonry .entry-title,
.archive-list .entry-title {
    font-size: 1.5rem;
    line-height: 1.25;
}

@include media-breakpoint-up(lg) {
    .sidebar-disabled {
        .archive-full .entry-title {
            font-size: 3rem;
            line-height: 1.5;
        }

        .archive-list .entry-title {
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}

//
// Singular Heading Size
//

.single,
.page {
    @include media-breakpoint-up(lg) {
        .entry-header {
            .entry-header-inner {
                .entry-title {
                    font-size: 3.75rem;
                    line-height: 1;
                }
            }
        }

        .entry-header-small {
            .entry-header-inner {
                .entry-title {
                    font-size: $h1-font-size;
                }
            }
        }
    }
}