//
// Fields
//
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	display: block;
	width: 100%;
	font-size: $input-font-size;
	padding: $input-padding-y $input-padding-x;
	line-height: 1.625rem;
	color: $input-color;
	background-color: $input-bg;
	border: $input-border-width solid $input-border-color; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
	@if $enable-rounded {
		// Manually use the if/else instead of the mixin to account for iOS override
		border-radius: $input-border-radius;
	}
	@else {
		// Otherwise undo the iOS default
		border-radius: 0;
	}
	@include box-shadow($input-box-shadow);
	@include transition($input-transition); // Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	} // Customize the `:focus` state to imitate native WebKit styles.
	&:focus {
		background-color: $input-focus-bg;
		box-shadow: none;
		outline: 0;
	}
	&::placeholder {
		color: $input-placeholder-color; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
	} // Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&:disabled,
	&[readonly] {
		background-color: $input-disabled-bg; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
		opacity: 1;
	}
}

select {
	&:not([size]):not([multiple]) {
		height: $input-height;
	}
	&:focus::-ms-value {
		// Suppress the nested default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
		// match the appearance of the native widget.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: $input-color;
		background-color: $input-bg;
	}
}

//
// Buttons
//
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	cursor: pointer;
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	padding: $spacer * 0.75 $spacer * 2;
	border: none;
	background-color: $white;
	color: $btn-color;
	transition: opacity 0.15s ease-in-out;
	@include hover-focus {
		text-decoration: none;
		opacity: .75;
		color: $btn-color;
	}
	&:focus {
		outline: 0;
	}
}

.button-transparent {
	background: transparent;
	color: $headings-color;
	@include hover-focus() {
		color: $headings-hover-color;
	}
}

.post-password-form {
	padding: $grid-gutter-width;
	background: $gray-100;
	label {
		margin-bottom: 0;
		flex: 1;
	}
	input[type="password"] {
		background-color: $white;
		min-height: $grid-gutter-width;
	}
	input[type="submit"] {
		padding: 0 $btn-padding-x * 2;
		min-height: $grid-gutter-width;
		height: 100%;
		border-radius: 0;
	}
	& > p:first-child {
		font-size: $font-size-lg;
		margin-bottom: $spacer * 2;
	}
	& > p:last-child {
		display: flex;
		align-items: flex-end;
		margin-bottom: 0;
	}
}

//
// Input Groups
//
.cs-input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"] {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
	button {
		line-height: 1rem;
	}
	.search-submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

//
// Search Form
//
.search-form {
	transition: .2s ease box-shadow;
	border-radius: $border-radius;
}
