@font-face {
	font-family: "cs-icons";
	src : url('#{$cs-icon-font-path}/icons.ttf') format('truetype'),
	url('#{$cs-icon-font-path}/icons.woff') format('woff'),
	url('#{$cs-icon-font-path}/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cs-icon-"],
[class*=" cs-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "cs-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-icon-instagram {
	&:before {
		content: unicode($cs-icon-instagram);
	}
}

.cs-icon-youtube-alt {
	&:before {
		content: unicode($cs-icon-youtube-alt);
	}
}

.cs-icon-dot-single {
	&:before {
		content: unicode($cs-icon-dot-single);
	}
}

.cs-icon-pause {
	&:before {
		content: unicode($cs-icon-pause);
	}
}

.cs-icon-pause-alt {
  	&:before {
		content: unicode($cs-icon-pause-alt);
  	}
}

.cs-icon-send {
	&:before {
		content: unicode($cs-icon-send);
	}
}
.cs-icon-share-top {
	&:before {
		content: unicode($cs-icon-share-top);
	}
}
.cs-icon-volume-x {
	&:before {
		content: unicode($cs-icon-volume-x);
	}
}
.cs-icon-volume {
	&:before {
		content: unicode($cs-icon-volume);
	}
}
.cs-icon-pause-circle {
	&:before {
		content: unicode($cs-icon-pause-circle);
	}
}
.cs-icon-play-circle {
	&:before {
		content: unicode($cs-icon-play-circle);
	}
}
.cs-icon-clock {
	&:before {
		content: unicode($cs-icon-clock);
	}
}
.cs-icon-bag {
	&:before {
		content: unicode($cs-icon-bag);
	}
}
.cs-icon-cart {
	&:before {
		content: unicode($cs-icon-cart);
	}
}
.cs-icon-activity {
	&:before {
		content: unicode($cs-icon-activity);
	}
}
.cs-icon-alert-circle {
	&:before {
		content: unicode($cs-icon-alert-circle);
	}
}
.cs-icon-arrow-down {
	&:before {
		content: unicode($cs-icon-arrow-down);
	}
}
.cs-icon-arrow-down-circle {
	&:before {
		content: unicode($cs-icon-arrow-down-circle);
	}
}
.cs-icon-arrow-left {
	&:before {
		content: unicode($cs-icon-arrow-left);
	}
}
.cs-icon-arrow-left-circle {
	&:before {
		content: unicode($cs-icon-arrow-left-circle);
	}
}
.cs-icon-arrow-right {
	&:before {
		content: unicode($cs-icon-arrow-right);
	}
}
.cs-icon-arrow-right-circle {
	&:before {
		content: unicode($cs-icon-arrow-right-circle);
	}
}
.cs-icon-arrow-up-circle {
	&:before {
		content: unicode($cs-icon-arrow-up-circle);
	}
}
.cs-icon-at-sign {
	&:before {
		content: unicode($cs-icon-at-sign);
	}
}
.cs-icon-award {
	&:before {
		content: unicode($cs-icon-award);
	}
}
.cs-icon-bookmark {
	&:before {
		content: unicode($cs-icon-bookmark);
	}
}
.cs-icon-chevron-down {
	&:before {
		content: unicode($cs-icon-chevron-down);
	}
}
.cs-icon-chevron-left {
	&:before {
		content: unicode($cs-icon-chevron-left);
	}
}
.cs-icon-chevron-right {
	&:before {
		content: unicode($cs-icon-chevron-right);
	}
}
.cs-icon-chevron-up {
	&:before {
		content: unicode($cs-icon-chevron-up);
	}
}
.cs-icon-circle {
	&:before {
		content: unicode($cs-icon-circle);
	}
}
.cs-icon-eye {
	&:before {
		content: unicode($cs-icon-eye);
	}
}
.cs-icon-file {
	&:before {
		content: unicode($cs-icon-file);
	}
}
.cs-icon-file-text {
	&:before {
		content: unicode($cs-icon-file-text);
	}
}
.cs-icon-film {
	&:before {
		content: unicode($cs-icon-film);
	}
}
.cs-icon-help-circle {
	&:before {
		content: unicode($cs-icon-help-circle);
	}
}
.cs-icon-info {
	&:before {
		content: unicode($cs-icon-info);
	}
}
.cs-icon-menu {
	&:before {
		content: unicode($cs-icon-menu);
	}
}
.cs-icon-message-square {
	&:before {
		content: unicode($cs-icon-message-square);
	}
}
.cs-icon-more-horizontal {
	&:before {
		content: unicode($cs-icon-more-horizontal);
	}
}
.cs-icon-more-vertical {
	&:before {
		content: unicode($cs-icon-more-vertical);
	}
}
.cs-icon-music {
	&:before {
		content: unicode($cs-icon-music);
	}
}
.cs-icon-play {
	&:before {
		content: unicode($cs-icon-play);
	}
}
.cs-icon-play-alt {
  	&:before {
		content: unicode($cs-icon-play-alt);
  	}
}
.cs-icon-play-circle {
	&:before {
		content: unicode($cs-icon-play-circle);
	}
}
.cs-icon-plus-circle {
	&:before {
		content: unicode($cs-icon-plus-circle);
	}
}
.cs-icon-search {
	&:before {
		content: unicode($cs-icon-search);
	}
}
.cs-icon-share {
	&:before {
		content: unicode($cs-icon-share);
	}
}
.cs-icon-tag {
	&:before {
		content: unicode($cs-icon-tag);
	}
}
.cs-icon-watch {
	&:before {
		content: unicode($cs-icon-watch);
	}
}
.cs-icon-x {
	&:before {
		content: unicode($cs-icon-x);
	}
}
.cs-icon-x-circle {
	&:before {
		content: unicode($cs-icon-x-circle);
	}
}
.cs-icon-x-square {
	&:before {
		content: unicode($cs-icon-x-square);
	}
}
.cs-icon-youtube {
	&:before {
		content: unicode($cs-icon-youtube);
	}
}
.cs-icon-zap {
	&:before {
		content: unicode($cs-icon-zap);
	}
}
.cs-icon-zoom-in {
	&:before {
		content: unicode($cs-icon-zoom-in);
	}
}
.cs-icon-zoom-out {
	&:before {
		content: unicode($cs-icon-zoom-out);
	}
}

.cs-icon-mail {
	&:before {
		content: unicode($cs-icon-mail);
	}
}