.cs-list-articles {
	@include list-unstyled;
	& > li > a {
		display: flex;
		padding-top: $spacer / 4;
		padding-bottom: $spacer / 4;
		line-height: $font-size-lg;
		color: $gray-600;
		font-size: $font-size-sm;
		position: relative;
		padding-left: $spacer * 2;
		&:before{
			position: absolute;
			left: 0;
			top: 0;
			font-family: "cs-icons";
			content: unicode($cs-icon-arrow-right);
			color: $gray-400;
			font-size: 14px;
			margin-right: $spacer;
			display: inline-block;
			transition: .2s ease all;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			top: 4px;
		}
		&:hover {
			color: $primary;
			&:before{
				color: $white;
				transition: .2s ease all;
				background: $gray-600;
			}
		}
	}
}
