//
// Tables
//

table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	margin-bottom: $spacer;
	background-color: $table-bg;

	th,
	td {
		padding: $table-cell-padding;
		vertical-align: top;
		border: none;
		border-top: $table-border-width solid $table-border-color;
	}

	thead th {
		vertical-align: bottom;
		border-bottom: (2 * $table-border-width) solid $table-border-color;
	}

	tbody + tbody {
		border-top: (2 * $table-border-width) solid $table-border-color;
	}
}

//
// Block tables
//

.wp-block-table {
	@extend table;

	.wp-block-table__cell-content {
		padding: 0;
	}
}

//
// Bordered version
//

.table-bordered {
	border: $table-border-width solid $table-border-color;

	th,
	td {
		border: $table-border-width solid $table-border-color;
	}

	thead {
		th,
		td {
			border-bottom-width: (2 * $table-border-width);
		}
	}
}

//
// Zebra-striping
//

.table-striped {
	tbody tr:nth-of-type(odd) {
		background-color: $table-accent-bg;
	}
}

//
// Responsive tables
//

.table-responsive {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);

		&#{$infix} {
			@include media-breakpoint-down($breakpoint) {
				display: block;
				width: 100%;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
		}
	}
}
