//
// Disable subpixel anti-antialising
//

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 16px;
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
	word-wrap: break-word;
}

h1, .h1 {
	font-size: $h1-font-size;
}

h2, .h2 {
	font-size: $h2-font-size;
}

h3, .h3 {
	font-size: $h3-font-size;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

//
// Separator
//

hr {
	border: 0;
	border-top: $hr-border-width solid $hr-border-color;
	margin-top: $content-media-spacer !important;
	margin-bottom: $content-media-spacer !important;
}

//
// Emphasis
//

small, .small {
	font-size: $small-font-size;
	font-weight: $font-weight-normal;
}

mark, .mark {
	padding: $mark-padding;
	background-color: $mark-bg;
}
