//
// Navigation Menu Widget
//

.widget_nav_menu {
    .menu-primary-container {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;
    }

    a {
        display: block;
        padding: $spacer * 0.75 0;
    }

    .menu>.menu-item:not(:first-child) {
        border-top: 1px $gray-200 solid;
    }

    .menu-item-has-children {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &>a {
            order: 1;
        }

        &>span {
            cursor: pointer;
            order: 2;

            &:after {
                padding: 1rem 0;
                font-family: "cs-icons";
                font-size: 14px;
                content: unicode($cs-icon-chevron-down);
            }
        }

        &>ul {
            width: 100%;
            order: 3;
        }
    }

    .menu-item-expanded>span:after {
        content: unicode($cs-icon-chevron-up);
    }

    .menu>.menu-item>.sub-menu {
        padding-bottom: $spacer;
    }

    .menu .menu-item:not(.menu-item-has-children)>a {
        &:after {
            visibility: hidden;
            float: right;
            opacity: 0;
            font-family: "cs-icons";
            font-size: 14px;
            transition: all 0.2s ease;
            transform: translateX(-100%);
            content: unicode($cs-icon-chevron-right);
        }

        &:hover:after {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }

    .sub-menu {
        display: none;

        a {
            padding: $spacer / 2 0;
            line-height: 1;
        }

        .sub-menu {
            padding: $spacer / 2 0;

            a {
                padding-left: $spacer;
            }
        }
    }

    .submenu-visible {
        display: block;
    }
}