//
// Standart Widgets
//

// Widgets Search
.widget_search {
    .search-form {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;
    }

    .cs-input-group {
        flex-direction: row;

        input[type="search"] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            color: $secondary;
            line-height: 1;
            transition: color 0.2s;

            &::placeholder {
                color: $secondary;
            }

            &:focus::placeholder {
                color: $input-placeholder-color;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// Widgets: Categories | Archive | Nav Menu | Pages
.widget_categories ul,
.widget_pages ul,
.widget_archive ul,
.widget_meta ul {
    padding: $grid-gutter-width / 4 * 3;
    background-color: $white;

    li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: $spacer * 0.75 0;
        color: $secondary;

        &:not(:last-child) {
            border-bottom: 1px $gray-200 solid;
        }

        &:first-child:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        &:first-child:last-child>.sub-menu {
            padding-bottom: 0;
        }

        a {
            padding-right: $spacer / 1.5;
            margin-right: auto;
            transition: color 0.2s;
        }
    }

    ul.children {
        flex: 0 0 100%;
        width: 100%;
        border-top: 1px $gray-200 solid;
        margin-top: $spacer;
        padding: 0;

        li {
            padding: $spacer * 0.75 0 $spacer * 0.75 $spacer;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        ul.children li {
            margin-left: $spacer;
            padding-left: 0;
        }
    }

    ul.sub-menu {
        border-top: 1px $gray-200 solid;
        margin-top: $spacer;

        li {
            padding: $spacer 0 $spacer $spacer;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        ul.sub-menu li {
            margin-left: $spacer;
            padding-left: 0;
        }
    }

    .screen-reader-text {
        display: none;
    }
}

// Widget Calendar
.widget_calendar {

    .calendar_wrap {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;
    }

    table {
        border: 1px solid $gray-200;
        margin: 0;
    }

    th {
        border-bottom: none;
        background-color: $gray-100;
        color: $primary;
    }

    td,
    th {
        padding: 0;
        line-height: $spacer * 2;
        text-align: center;
    }
}


// Widget Recent Comments
.widget_recent_comments {
    li {
        position: relative;
        padding-bottom: $spacer;

        &:last-child {
            padding-bottom: 0;
        }

        .comment-author-link,
        .comment-author-link a {
            color: $secondary;
        }
    }
}

// Widget Recent Posts
.widget_recent_entries {
    ul {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;
    }

    li {
        position: relative;
        padding-bottom: $spacer;

        &:last-child {
            padding-bottom: 0;
        }

        .post-date {
            margin-left: $spacer;
        }

        .post-date:before {
            content: '(';
        }

        .post-date:after {
            content: ')';
        }
    }
}

// Widget RSS
.widget_rss {
    .rss-widget-icon {
        display: none;
    }

    ul {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;

        li {
            border-bottom: 1px $gray-200 solid;
            position: relative;
            padding-bottom: $spacer;
            margin-bottom: $spacer;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            .rsswidget {
                font-size: 0.9375rem;
                font-weight: 600;
                color: $primary;
                transition: color 0.25s;
            }

            .rss-date {
                display: block;
                margin-top: $spacer / 4;
                color: $secondary;
            }

            .rssSummary {
                margin-top: $spacer / 4;
                color: $primary;
            }

            cite {
                display: block;
                margin-top: $spacer / 4;
                font-style: normal;
                color: $primary;
            }
        }
    }
}

// Widget Tag Cloud
.widget_tag_cloud {
    overflow: hidden;

    .tagcloud {
        display: flex;
        flex-wrap: wrap;

        a {
            background: $secondary-background;
            border-radius: 0.8125rem;
            padding: $spacer / 2 $spacer;
            margin-top: $spacer / 2;
            margin-right: $spacer / 2;
            font-size: 0.625rem !important;
            font-weight: 400;
            text-decoration: none;

            &:last-child {
                margin-right: 0;
            }

            &:first-letter {
                text-transform: uppercase;
            }
        }
    }
}

// Widget Video
.widget_media_video {
    .mejs-container {
        max-width: 100%;
        overflow: hidden;

        video,
        iframe,
        object,
        embed {
            max-width: 100%;
            overflow: hidden;
        }
    }
}

// Widget Gallery
.widget_media_gallery {
    overflow: hidden;

    [class^="gallery-columns-"],
    [class*=" gallery-columns-"] {
        display: flex;
        flex-wrap: wrap;
        margin-top: - $spacer;
        margin-left: - $spacer / 2;
        margin-right: - $spacer / 2;
        margin-bottom: 0;

        .gallery-item {
            position: relative;
            margin-top: $spacer;
            margin-bottom: 0;
            padding: 0 $spacer / 2;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;

            img {
                display: block;
                border-radius: 0;
                transition: 0.25s;
                backface-visibility: hidden;
            }

            &:hover img {
                opacity: 0.6;
            }

            .gallery-caption {
                padding: $spacer $spacer 0;
            }

            .gallery-icon {
                position: relative;
                width: 100%;
                overflow: hidden;
            }
        }
    }

    .gallery-columns-4 .gallery-caption,
    .gallery-columns-5 .gallery-caption,
    .gallery-columns-6 .gallery-caption,
    .gallery-columns-7 .gallery-caption,
    .gallery-columns-8 .gallery-caption,
    .gallery-columns-9 .gallery-caption {
        display: none;
    }

    @for $i from 1 through 9 {
        .gallery-columns-#{$i} .gallery-item {
            flex: 0 0 100% / $i;
            max-width: 100% / $i;
        }
    }
}

/* Text widget */
.widget_text {
    color: $primary;
    word-wrap: break-word;

    .textwidget {
        padding: $grid-gutter-width / 4 * 3;
        background-color: $white;
    }

    ul {
        list-style: disc;
        margin: 0 0 $spacer $spacer;
    }

    ol {
        list-style: decimal;
    }

    ul li,
    ol li {
        border: none;
    }

    ul li:last-child,
    ol li:last-child {
        padding-bottom: 0;
    }

    ul li ul {
        margin: 0 0 0 $spacer;
    }

    ul li li {
        padding-left: 0;
        padding-right: 0;
    }

    ol li {
        list-style-position: inside;
    }

    ol li+li {
        margin-top: -1px;
    }
}