.widget {
    margin: 0 0 $spacer * 2.5;

    &:last-child {
        margin: 0;
    }

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }

    ul {
        @include list-unstyled;
        margin-bottom: 0;
    }

}

.widget-body {
	overflow: hidden;
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/

@import "navigation-menu";
@import "standard_widgets";