.cs-breadcrumbs {
	margin-bottom: $spacer * 2;
	strong {
		font-weight: normal;
	}
	.cs-separator {
		margin-left: $spacer / 2;
		margin-right: $spacer / 2;

		&:before {
			font-family: "cs-icons";
			content: unicode($cs-icon-chevron-right);
		}
	}
}