.cs-card {
  display: flex;
  flex-direction: column;
  background: $white;
  padding: $grid-gutter-width / 2;

  .post-meta {
    margin-top: auto;
  }
}

.cs-card-sm {
  background: $white;
  display: flex;

  .cs-card-thumbnail {
    a {
      height: 100%;
      display: block;
    }

    img {
      height: 100%;
      width: 80px;
      max-width: 80px;
      object-fit: cover;
    }
  }

  .cs-card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: $spacer / 4 * 3 $grid-gutter-width / 2;
    flex-direction: column;

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  .entry-title {
    width: 100%;
  }

  .post-meta {
    margin-top: $spacer / 4;
  }
}