.subcategories {
	margin-top: $spacer * 3;
	padding-top: $spacer * 3;
	border-top: 1px $gray-200 solid;

	.cs-nav {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}

	.cs-nav-item {
		margin-top: $spacer / 2;
		margin-right: $spacer / 2;
	}

	.cs-nav-item:last-child {
		margin-right: 0;
	}

	.cs-nav-link {
		display: block;
		border: 1px solid $primary;
		padding: $spacer / 2  $spacer;
		background: $white;
		color: $primary;
		transition: 0.2s;
		&:hover {
			border-color: transparent;
			background: $primary;
			color: $white;
		}
	}
}
