// Carousel Section
.section-post-carousel {
	margin-top: $spacer * 4;
	margin-bottom: $spacer * 4;
	background: transparent;
}

// Carousel Element
.post-carousel {
	.post-wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.post-wrap,
	.post-inner,
	.cs-overlay {
		display: flex;
		flex-grow: 1;
		position: relative;
	}

	.cs-overlay-ratio .cs-overlay-content {
		justify-content: space-between;
		position: relative;
		padding: 0;
		&.entry-without-meta {
            justify-content: flex-end;
        }
	}

	.entry-author {
		margin-top: $grid-gutter-width / 2;
		padding-left: $grid-gutter-width / 2;
	}

	.entry-data {
		padding: $grid-gutter-width / 2;
		justify-content: flex-end;
		transform: translateY(3rem);
		transition: all 0.2s;

		&.entry-without-meta {
            transform: translateY(0);
        }
	}

	.post-wrap:hover .entry-data {
		transform: translateY(0rem);
	}

	.entry-bottom {
		opacity: 0;
	}

	.post-wrap:hover .entry-bottom {
		opacity: 1;
	}
}

// Carousel Layout
.cs-post-carousel-title {
	margin-bottom: $grid-gutter-width;
}

.cs-post-carousel {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.cs-post-carousel-wrap {
		overflow: hidden;
	}

	.cs-post-carousel-items {
		width: 100%;
		&:not(.flickity-enabled) {
			display: flex;
			overflow: hidden;
		}
	}

	.cs-post-carousel-cell {
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		min-height: 100%;
		display: flex;
		flex-grow: 1;
	}

	.post-carousel {
		width: 100%;
	}

	@include media-breakpoint-up(md) {
		.cs-post-carousel-items {
			width: calc(100% + #{$grid-gutter-width});
			margin-right: -$grid-gutter-width;
		}

		.cs-post-carousel-cell {
			flex: 0 0 50%;
			max-width: 50%;
			padding-right: $grid-gutter-width;
		}
	}

	@include media-breakpoint-up(lg) {
		flex-direction: row;

		.cs-post-carousel-sidebar {
			position: relative;
			flex: 0 0 100px;
			max-width: 100px;
			display: flex;
			justify-content: flex-end;
			padding-left: $grid-gutter-width;
		}

		.cs-post-carousel-wrap {
			position: relative;
			flex: 0 0 calc(100% - 100px);
			max-width: calc(100% - 100px);
			width: 100%;
		}

		.cs-post-carousel-items {
			position: relative;
		}

		.cs-post-carousel-cell {
			flex: 0 0 (100% / 3);
			max-width: (100% / 3);
		}
	}

	@include media-breakpoint-up(xl) {
		.cs-post-carousel-cell {
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
}

.cs-post-carousel.cs-flickity-init {
	.flickity-page-dots {
		padding-top: $spacer * 2;

		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
			padding-left: 0;
			padding-right: 0;
			text-align: left;
		}
	}
}

.cs-post-carousel-arrows {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	margin-top: $spacer;

	.carousel-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: $spacer * 3.75;
		border-radius: 0.625rem;
		background: $white;
		color: $primary;
		font-family: 'cs-icons';
		font-size: 2rem;
		transition: 0.2s;

		&:first-child {
			margin-left: $spacer / 2;
		}

		&:hover {
			color: $secondary;
		}
	}

	.carousel-previous {
		&:before {
			content: unicode($cs-icon-chevron-left);
		}
	}

	.carousel-next {
		&:before {
			content: unicode($cs-icon-chevron-right);
		}
	}

	@include media-breakpoint-up(lg) {
		margin-top: 0;
		margin-bottom: 0;
		flex-direction: column;
		justify-content: flex-start;

		.carousel-arrow {
			width: $spacer * 3.75;
			height: 50%;

			&:first-child {
				margin-left: 0;
				margin-bottom: $spacer / 2;
			}
		}
	}
}