.section-post-tiles {
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 4;
}

// Post Tile Element
.post-tile {

    .post-wrap,
    .post-inner,
    .cs-overlay {
        display: flex;
        flex-grow: 1;
    }

    .cs-overlay-content {
        padding: 0;
    }

    .entry-data {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .entry-author {
        margin-top: 0;
        margin-bottom: auto;
    }
}

.post-tile-full,
.post-tile-grid {
    .post-wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    .post-inner {
        position: relative;
    }

    .cs-overlay-ratio .cs-overlay-content {
        position: relative;
    }

    .entry-author {
        margin-top: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
    }

    .entry-data {
        padding: $grid-gutter-width / 2;
        justify-content: flex-end;
        transform: translateY(3rem);
        transition: all 0.2s;

        &.entry-without-meta {
            transform: translateY(0);
        }
    }

    .post-wrap:hover .entry-data {
        transform: translateY(0);
    }

    .entry-bottom {
        opacity: 0;
    }

    .post-wrap:hover .entry-bottom {
        opacity: 1;
    }
}

.post-tile-list {
    &:last-child {
        .entry-data {
            border-bottom: none;
        }
    }

    .post-wrap {
        border-radius: 0;
    }

    .post-inner {
        display: flex;
        padding: 0;
    }

    .entry-thumbnail {
        @include make-col(2);
        padding-right: $spacer;

        @include media-breakpoint-up(lg) {
            @include make-col(3);
        }
    }

    .entry-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $gray-200;
        padding: 0;
    }

    .entry-title {
        margin-top: 0;
    }

    .entry-bottom {
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: auto;
        padding-bottom: 0;
        border-top: none;

        .post-meta {
            margin-top: $spacer / 2;
            margin-bottom: $spacer;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Post Tiles layout
.cs-post-tiles {
    article {
        margin-top: $grid-gutter-width;
    }

    @include media-breakpoint-up(lg) {
        @include make-row();
        margin-right: -$grid-gutter-width / 2;
        margin-left: -$grid-gutter-width / 2;
    }
}

.cs-post-tiles-column {
    @include media-breakpoint-up(lg) {
        @include make-col-ready();
        padding-right: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
    }

    &:nth-child(1) {
        article:first-child {
            margin-top: 0;
        }
    }
}

.cs-post-tiles-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: $grid-gutter-width / 4 * 3;
    background: $white;
}


.cs-post-tiles-type-1 {
    display: flex;
    flex-direction: column;

    .cs-post-tiles-column {
        &:nth-child(1) {
            article {
                height: 100%;
                margin-top: 0;
            }

            .post-wrap {
                height: 100%;
            }
        }

        &:nth-child(2) {
            margin-top: $grid-gutter-width;

            article {
                margin-top: $spacer;

                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;

        .cs-post-tiles-column {
            &:nth-child(1) {
                @include make-col(8);

            }

            &:nth-child(2) {
                @include make-col(4);
                margin-top: 0;
            }
        }
    }
}

.cs-post-tiles-type-2 {
    @include media-breakpoint-up(lg) {
        .cs-post-tiles-column {
            &:nth-child(1) {
                @include make-col(6);

                article {
                    height: 100%;
                }

                article:first-child {
                    margin-top: 0;
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-wrap: wrap;
                @include make-col(6);

                article {
                    width: 50%;
                    flex: 0 0 50%;
                    max-width: 50%;

                    &:nth-child(1),
                    &:nth-child(2) {
                        margin-top: 0;
                    }

                    &:nth-child(odd) {
                        padding-right: $grid-gutter-width / 2;
                    }

                    &:nth-child(even) {
                        padding-left: $grid-gutter-width / 2;
                    }
                }
            }
        }
    }
}

.cs-post-tiles-type-3 {
    @include media-breakpoint-up(lg) {
        .cs-post-tiles-column {
            &:nth-child(1) {
                order: 2;
                @include make-col(6);

                article {
                    height: 100%;
                }

                article:first-child {
                    margin-top: 0;
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-wrap: wrap;
                @include make-col(6);

                article {
                    width: 50%;
                    flex: 0 0 50%;
                    max-width: 50%;

                    &:nth-child(1),
                    &:nth-child(2) {
                        margin-top: 0;
                    }

                    &:nth-child(odd) {
                        padding-right: $grid-gutter-width / 2;
                    }

                    &:nth-child(even) {
                        padding-left: $grid-gutter-width / 2;
                    }
                }
            }
        }
    }
}

.cs-post-tiles-type-4 {
    @include media-breakpoint-up(lg) {
        .cs-post-tiles-column {
            &:nth-child(1) {
                display: flex;
                flex-wrap: wrap;
                @include make-col(8);

                article {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                align-content: flex-start;
                @include make-col(4);

                article {
                    position: relative;
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    align-self: stretch;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.cs-post-tiles-type-5 {
    @include media-breakpoint-up(lg) {
        .cs-post-tiles-column {
            &:nth-child(1) {
                @include make-col(6);
                order: 2;

                article {
                    height: 100%;
                }
            }

            &:nth-child(2) {
                @include make-col(3);
                order: 1;
                display: flex;
                flex-direction: column;

                article {
                    flex-grow: 1;
                }
            }

            &:nth-child(3) {
                @include make-col(3);
                order: 3;
            }

            article:first-child {
                margin-top: 0;
            }
        }
    }
}

.cs-post-tiles-type-6 {
    @include media-breakpoint-up(lg) {
        .cs-post-tiles-column {
            &:nth-child(1) {
                display: flex;
                flex-wrap: wrap;

                article {
                    margin-top: 0;
                    @include make-col(4);

                    &:nth-child(1) {
                        padding-right: $grid-gutter-width / 2;
                    }

                    &:nth-child(2) {
                        padding-left: $grid-gutter-width / 2;
                        padding-right: $grid-gutter-width / 2;
                    }

                    &:nth-child(3) {
                        padding-left: $grid-gutter-width / 2;
                    }
                }
            }

            &:nth-child(2) {
                @include make-col(8);
                display: flex;
                flex-wrap: wrap;
            }

            &:nth-child(3) {
                @include make-col(4);
            }
        }
    }
}


// Post Tile Hover
.cs-post-tiles-type-1,
.cs-post-tiles-type-4,
.cs-post-tiles-type-6 {

    .post-tile-full {
        .entry-author {
            margin-top: $grid-gutter-width;
            padding-left: $grid-gutter-width;
        }

        .cs-video-tools {
            top: $grid-gutter-width;
            right: $grid-gutter-width;
        }

        .entry-data {
            padding: $grid-gutter-width;
        }

        .entry-bottom {
            margin-left: - $grid-gutter-width;
            margin-right: - $grid-gutter-width;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }

        .entry-thumbnail:hover .entry-bottom {
            margin-bottom: - $grid-gutter-width / 2;
        }
    }

    .post-tile-grid {
        .entry-author {
            margin-top: $grid-gutter-width / 4 * 3;
            padding-left: $grid-gutter-width / 4 * 3;
        }

        .cs-video-tools {
            top: $grid-gutter-width / 4 * 3;
            right: $grid-gutter-width / 4 * 3;
        }

        .entry-data {
            padding: $grid-gutter-width / 4 * 3;
        }

        .entry-bottom {
            margin-left: - $grid-gutter-width;
            margin-right: - $grid-gutter-width;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }

        .entry-thumbnail:hover .entry-bottom {
            margin-bottom: - $grid-gutter-width / 4;
        }
    }
}

.cs-post-tiles-type-2,
.cs-post-tiles-type-3,
.cs-post-tiles-type-5 {

    .post-tile-full {
        .entry-author {
            margin-top: $grid-gutter-width / 4 * 3;
            padding-left: $grid-gutter-width / 4 * 3;
        }

        .cs-video-tools {
            top: $grid-gutter-width / 4 * 3;
            right: $grid-gutter-width / 4 * 3;
        }

        .entry-data {
            padding: $grid-gutter-width / 4 * 3;
        }

        .entry-bottom {
            margin-left: - $grid-gutter-width;
            margin-right: - $grid-gutter-width;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }

        .entry-thumbnail:hover .entry-bottom {
            margin-bottom: - $grid-gutter-width / 4;
        }
    }

    .post-tile-grid {
        .entry-data {
            padding: $spacer-gutter-width * 2;
        }
    }
}