.section-home-hero {
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 4;
}

.cs-hero {
    display: flex;
    overflow: hidden;
    background: $white;

    .cs-hero-image {
        position: relative;
        display: flex;
        width: 100%;

        .cs-hero-mask {
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-family: 'object-fit: cover;';
            }
        }

        .cs-hero-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-family: 'object-fit: cover;';

            }

        }

    }

    .cs-hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $grid-gutter-width / 4 * 6;
        padding-right: $grid-gutter-width / 4 * 5;
        flex-grow: 1;
    }

    .cs-hero-title {
        margin-bottom: $spacer;
        font-size: 2.25rem;
    }

    .cs-hero-text {
        margin-bottom: $grid-gutter-width;
    }

    .cs-hero-subscribe {
        margin-bottom: $grid-gutter-width;
    }

    .pk-subscribe-form-wrap {
        padding-left: 0;
        padding-right: 0;

        .pk-privacy {
            margin-top: $grid-gutter-width / 2;
        }

        .pk-input-group {
            input[type="text"] {
                text-align: center;
            }

            @include media-breakpoint-up(md) {
                input[type="text"] {
                    text-align: left;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .pk-subscribe-with-name {
            .pk-input-group {
                .user {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .email {
                    border-right: none;
                    border-radius: 0;
                }
            }
        }
    }

    .cs-hero-socials-title {
        margin-bottom: $grid-gutter-width / 2;
        font-size: 0.625rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondary;
    }

    .pk-social-links-wrap {
        .pk-social-links-item {
            height: 1.75rem;
            padding: 0 1rem;
            margin-right: 0.75rem;
            border-radius: 1rem;
            background: $gray-200;

            &:first-child {
                padding-left: 1rem;
            }
        }
    }

    .pk-social-links-scheme-light-rounded,
    .pk-social-links-scheme-bold-rounded {
        .pk-social-links-item {
            background: none;

            &:first-child {
                padding-left: 0;
            }
        }
    }

}


.cs-hero-layout-left {
    flex-direction: column-reverse;

    @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;

        .cs-hero-image {
            position: relative;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

}

.cs-hero-layout-right {
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        flex-direction: row;

        .cs-hero-image {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

}