// Mega Menu
//


.navbar-nav {
	.cs-mega-menu {
		position: static;
		& > .sub-menu {
			overflow: hidden;
			top: auto;
			right: 0;
			left: 0;
			padding: 0;
			&:after,
			&:before {
				display: none;
			}

			> .cs-mm-content,
			> .cs-mm-posts {
				min-height: 300px;
			}
		}

		.cs-mm-posts {
			@include make-row();
			margin-left: -$spacer;
			margin-right: -$spacer;
			&.cs-mm-loading {
				&:before {
					@include loader( $size: 1.5rem, $color: #777, $border-size: 2px );

					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					text-align: center;
					content: "";
				}
			}
		}

		.cs-mm-post {
			@include make-col-ready();
			flex: 0 0 20%;
			max-width: 20%;
			padding-left: $spacer;
			padding-right: $spacer;
			.cs-overlay-content {
				padding: $grid-gutter-width / 2;
			}
			.post-format-icon > a:after {
				font-size: 1rem;
			}
			.entry-header {
				.entry-title {
					margin: $spacer 0 $spacer / 4;
				}
				.post-meta {
					margin-top: $spacer / 2;
					.cs-icon {
						display: flex;
						align-items: center;
					}
				}
			}
		}
	}

	.cs-mega-menu-has-category {
		.cs-mm-posts {
			padding: $spacer * 1.5;
		}
	}

	.cs-mega-menu-has-categories {

		.cs-mm-content {
			@include make-row();
			margin-left: 0;
			margin-right: 0;
		}

		.cs-mm-content-horizontal {
			flex-direction: column;
			.cs-mm-categories,
			.cs-mm-posts-container {
				flex: initial;
				max-width: 100%;
			}

			.cs-mm-categories {
				display: flex;
				flex-wrap: wrap;
				border: none;
				padding-bottom: 0;
				li {
					margin-right: $spacer * 2;
					&:last-child {
						margin-right: 0;
					}
					a {
						padding-bottom: 0.2rem;
						&:after {
							background-color: currentColor;
							width: 100%;
							height: 1px;
							left: 0;
							opacity: 0;
							pointer-events: none;
							position: absolute;
							top: 100%;
							transform: translateY(1px);
							transition: all .15s cubic-bezier(.39,.575,.565,1);
							transition-property: opacity,transform;
							content: "";
						}
					}
				}
				li.active-item a:after {
					opacity: 1;
					transform: translateY(-3px) translateZ(0);
				}
			}

			.cs-mm-posts-container {
				min-height: 300px;
			}
		}

		.cs-mm-categories {
			@include make-col-ready();
			flex: 0 0 20%;
			max-width: 20%;
			padding: $spacer * 1.5;
			position: relative;
			border-right: 1px solid $gray-200;

			li.menu-item {
				display: block;
				padding: 0;
			}
		}

		.cs-mm-posts-container {
			@include make-col-ready();
			padding-left: 0;
			padding-right: 0;
			flex: 0 0 80%;
			max-width: 80%;
		}

		.cs-mm-posts {
			display: none;
			padding: $spacer * 2;
			.cs-mm-post {
				@include make-col(3);
			}
			&.active-item {
				display: flex;
			}
		}
	}

	&:not(:hover) > li .cs-mm-post a {
		transition: none !important;
	}

	.cs-mega-menu-child > a {
		padding-top: $spacer / 2;
		padding-bottom: $spacer / 2;
		display: block;
		color: $primary;
	}
}
