.cs-nextpost-loading {
	position: relative;
	margin-top: $spacer;
	height: $grid-gutter-width * 2;
	&:before {
		@include loader( $size: 1.5rem, $color: #777, $border-size: 2px );
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		text-align: center;
		content: "";
	}
}

.cs-nextpost-section {
	border-top: 1px $gray-200 solid;
	.entry-media-large {
		position: relative;
		top: -1px;
	}
}