.cs-overlay {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	.entry-inline-meta {
		margin-bottom: auto;
	}
	.read-more {
		position: absolute;
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
	}
	.post-meta {
		justify-content: flex-start;
		margin-bottom: 0;
	}
	.meta-category {
		margin-bottom: auto;
	}
	.meta-category:after {
		display: none;
	}
}

.cs-overlay-hover {
	.read-more,
	.post-meta {
		// opacity: 0;
		transition: .2s ease all;
	}
	.cs-overlay-background {
		background: rgba($primary, 0.2);
		&:after {
			opacity: 0;
		}
	}
	@include hover-focus {
		.read-more,
		.post-meta {
			opacity: 1;
		}
		.cs-overlay-background {
			&:after {
				opacity: 1;
			}
		}
	}
}

.cs-overlay-background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: .2s ease all;
	}
}

.cs-overlay-transparent {
	.cs-overlay-background {
		&:after {
			display: none;
		}
	}
}

.cs-overlay-content {
	position: relative;
	padding: $grid-gutter-width / 2;
	width: 100%;
	a {
		position: relative;
		z-index: 1;
	}
}

.cs-overlay-link,
.cs-overlay-blank {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.cs-overlay-ratio {
	&:before {
		content: '';
		display: table;
		box-sizing: border-box;
		width: 0;
		height: 100%;
	}
	.cs-overlay-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
	.cs-overlay-background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
}

.cs-ratio-portrait {
	max-width: 560px;
	margin-right: auto;
	margin-left: auto;
	&:before {
		padding-bottom: 125%;
	}
}

.cs-ratio-landscape {
	&:before {
		padding-bottom: 60%;
	}
}

.cs-ratio-wide {
	&:before {
		padding-bottom: 60%;
		@include media-breakpoint-up(md) {
			padding-bottom: 50%;
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: 30%;
			min-height: 500px;
		}
	}
}

.cs-ratio-standard {
	&:before {
		padding-bottom: 75%;
		@include media-breakpoint-up(md) {
			padding-bottom: 40%;
		}
	}
}

.cs-ratio-square {
	&:before {
		padding-bottom: 100%;
	}
}

.cs-ratio-16by9 {
	&:before {
		padding-bottom: 56.25%;
	}
}

.cs-ratio-uncropped {
	.cs-overlay-background {
		position: relative;
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
		width: 100%;
		height: 100%;
		img {
			position: initial;
			left: initial;
			top: initial;
			bottom: initial;
			right: initial;
		}
	}
}
