.page-header {
	background: $gray-100;
	position: relative;
}

.page-header-content  {
	position: relative;
	padding: $spacer * 3 0;
}

.page-header-has-description {
	.archive-description p:last-child {
		margin-bottom: 0;
	}
}

.page-author-container {
	@include make-row();
	.author-avatar,
	.author-content {
		@include make-col-ready();
		@include make-col(12);
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.author-content {
		margin-top: $spacer;
	}
	.pk-social-links-items {
		justify-content: center;
	}
	@include media-breakpoint-up(md) {
		.author-content {
			align-items: initial;
			text-align: initial;
		}
		.author-avatar {
			@include make-col(2);
		}
		.author-content {
			@include make-col(10);
			margin-top: 0;
		}
	}
}

.page-title {
	line-height: 1;
	margin-bottom: 0;
}