.post-categories {
    @include list-inline();

    li:not(:last-child):after {
        content: ",";
    }

    .post-meta & {
        margin-bottom: 0;
    }
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacer;
    margin-bottom: 0;
    padding: 0;
    color: $secondary;

    &>li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &>li:not(:last-child) {
        margin-right: $spacer;
    }

    a {
        color: $secondary;
    }

    .cs-icon {
        margin-right: $spacer / 4;
    }
}

.meta-author {
    .by {
        margin-right: $spacer / 2;
    }

    .sep {
        display: inline-block;
        padding: 0 $spacer / 2;
    }

    .author {
        display: flex;
        align-items: center;

        img {
            margin: 0 $spacer / 4;
        }

        a {
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }
}

.meta-shares {
    position: relative;
    z-index: 3;
}

.meta-shares .total {
    display: flex;
    align-items: center;
}