.post-prev-next {
	margin-top: $spacer * 3;

	.link-label a.link-arrow {
		display: flex;
		align-items: center;
		margin-bottom: $spacer;
		font-weight: 500;
		font-size: 1rem;
		&:before,
		&:after {
			display: inline-block;
			font-family: "cs-icons";
			font-size: 1rem;
		}
		&:hover {
			color: $secondary;
		}
	}

	.prev-link .link-label a {
		&:before {
			margin-right: $spacer / 4;
			content: unicode($cs-icon-chevron-left);
		}
	}
	.next-link .link-label a {
		&:after {
			margin-left: $spacer / 4;
			content: unicode($cs-icon-chevron-right);
		}
	}

	.entry-header {
		margin-top: $spacer;
		&:first-child {
			margin-top: 0;
		}
	}

	.entry-title {
		font-size: 1.5rem;
	}

	.link-content + .link-content {
		margin-top: $spacer * 3;
	}

	@include media-breakpoint-up(md) {
		.link-content + .link-content {
			margin-top: 0;
		}

		.next-link .link-label a {
			justify-content: flex-end;
		}
	}
}

.post-prev-next-list {
	@include media-breakpoint-up(md) {
		.post-outer {
			@include make-row();
		}
		.post-inner {
			@include make-col-ready();
			@include make-col(6);
			margin-bottom: 0;
		} // List post without thumbnails.
		.post-inner:first-child:last-child {
			@include make-col(12);
		}
		.post-inner:last-child {
			display: flex;
			flex-direction: column;
			margin-top: 0;
		}
	}
}

.post-prev-next-grid {
	@include media-breakpoint-up(md) {
		@include make-row();

		.link-content {
			@include make-col-ready();
			@include make-col(6);
		}
	}
}

@include media-breakpoint-up(lg) {
	.post-prev-next-along {
		display: block;
		margin: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease;

		&.pagination-visible {
			visibility: visible;
			opacity: 1;
		}

		.link-content {
			position: relative;
			position: fixed;
			padding: 0;
			top: 50%;
			transform: translateY(-50%);
			max-width: 80px;
			overflow: hidden;
			z-index: 3;
			transition: background 0.2s ease;

			article {
				width: calc(380px + 80px);
				padding: $grid-gutter-width $grid-gutter-width * 0.5;
				visibility: hidden;
				opacity: 0;
				transition: opacity 0.2s ease;

				.post-outer {
					display: block;
					margin: 0;
				}

				.post-inner {
					width: initial;
					max-width: initial;
					padding: 0;

					&:not(:last-child) {
						margin-bottom: $spacer * 1.5;
					}
				}
			}

			&:hover {
				max-width: calc(380px + 160px);
				background: $gray-100;

				article {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.link-label {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			top: 50%;
			height: $grid-gutter-width * 2;
			text-align: center;
			white-space: nowrap;
			cursor: pointer;

			a.link-arrow {
				margin: 0;
				&:hover {
					color: $primary;
				}
			}
		}

		.prev-link {
			left: 0;
			padding-left: $grid-gutter-width * 2;
			.link-label {
				left: 0;
				transform: rotate(-90deg) translate(-50%, 0);
				transform-origin: top left;
			}

			a.link-arrow:before {
				display: none;
			}

			article {
				padding-right: $grid-gutter-width * 1.5;
			}
		}

		.next-link {
			right: 0;
			padding-right: $grid-gutter-width * 2;
			.link-label {
				right: 0;
				transform: rotate(90deg) translate(50%, 0);
				transform-origin: top right;
			}

			a.link-arrow {
				margin: 0;
				&:after {
					display: none;
				}
			}

			article {
				padding-left: $grid-gutter-width * 1.5;
			}
		}
	}
}