.post-format-icon {
	position: absolute;
	left: $spacer;
	top: $spacer;
	z-index: 3;
	> a {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		width: $grid-gutter-width;
		height: $grid-gutter-width;
		line-height: $grid-gutter-width;
		transition: .2s ease all;

		&:hover {
			color: rgba($white,0.75);
		}
	}
	> a:after {
		position: relative;
		font-family: "cs-icons";
		font-weight: normal;
		font-style: normal;
		font-size: 1.5rem;
		opacity: 1;
		width: auto;
	}

	.cs-format-image:after {
		content: unicode($cs-icon-image);
	}
	.cs-format-video:after {
		content: unicode($cs-icon-play);
	}
	.cs-format-audio:after {
		content: unicode($cs-icon-music);
	}
	.cs-format-gallery:after {
		content: unicode($cs-icon-image);
	}
	.cs-format-link:after {
		content: unicode($cs-icon-chevron-right);
	}
	.cs-format-quote:after {
		content: unicode($cs-icon-message-square);
	}
	.cs-format-status:after {
		content: unicode($cs-icon-info);
	}
	.cs-format-aside:after {
		content: unicode($cs-icon-award);
	}
	.cs-format-chat:after {
		content: unicode($cs-icon-activity);
	}
}
