.post-subscribe {
	position: relative;
	background: $secondary-background;
	margin-top: $spacer * 3;
	padding: $grid-gutter-width;
	@include media-breakpoint-up(lg) {
		padding: $grid-gutter-width * 1.5;
	}
	.subscribe-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: $content-width;
		margin: 0 auto;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: center;
		}
	}
	.pk-subscribe-form-wrap {
		background: transparent;
		padding: 0;
		.pk-title {
			font-size: $h2-font-size;
			letter-spacing: -0.025em;
			@include media-breakpoint-up(lg) {
				font-size: 3rem;
			}
		}
		.pk-subscribe-message {
			font-size: $font-size-sm;
		}
		.pk-privacy {
			color: $secondary;
		}
		.pk-alert {
			background: $white;
		}
	}
}
