 .post-author {
	border-top: 1px solid $gray-200;
	margin-top: $spacer * 3;
	padding-top: $spacer * 3;

	& > *:last-child {
		margin-bottom: 0;
	}
	.authors-default {
		text-align: center;
		.author-data {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.author-avatar {
			flex: 0 0 68px;
			margin-right: $spacer;
		}
		.author-avatar img {
			border-radius: 100%;
		}
		.title-author {
			font-size: 1rem;
			margin: 0;
		}
		.title-prefix {
			display: block;
			white-space: nowrap;
		}
		.author-social-accounts {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: $spacer * 1.5;
			.author-social-label {
				@include button-icon(0.125rem, $cs-icon-chevron-right);
				margin-right: $spacer / 2;
				margin-bottom: 0;
			}
			.pk-social-links-item .pk-icon {
				font-size: 1.25rem;
			}
		}
		.author-description {
			max-width: 500px;
			margin: $spacer auto 0;
			font-size: $font-size-sm;
			color: $secondary;
		}
	}
}

.authors-columns {
	.author-wrap + .author-wrap {
		margin-top: $spacer * 2;
	}
	@include media-breakpoint-up(sm) {
		@include make-row();
		.author-wrap {
			@include make-col-ready();
			@include make-col(12);
		}
	}
}

@include media-breakpoint-up(sm) {
	.authors-col-6 .author-wrap {
		@include make-col(6);
		&:nth-child(-n+2) {
			margin-top: 0;
		}
	}
}