.post-tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: $spacer * 2.5;
	font-size: 1rem;
	.title-tags {
		font-size: 1rem;
		white-space: nowrap;
		margin: 0;
	}
	.title-tags ~ a {
		font-size: 1rem;
		text-transform: capitalize;
		margin-left: $spacer / 2;
		&:hover {
			color: $secondary;
		}
	}
}