.entry-header {
	.entry-header-inner {
		display: flex;
		flex-direction: column;

		.entry-title,
		.entry-inline-meta,
		.post-excerpt {
			margin-top: $spacer * 2;

			&:first-child {
				margin-top: 0;
			}
		}

		.entry-inline-meta {
			.post-meta {
				margin-top: 0;
			}
		}

		.entry-post-meta {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			justify-content: space-between;

			>.entry-author,
			>.post-meta {
				margin-top: $spacer * 2;
			}

			>.post-meta {
				font-weight: 500;

				.cs-icon {
					font-size: 1.25rem;
				}
			}
		}

		.post-excerpt {
			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}

	.post-header-inner {
		order: 1;
	}

	.post-media {
		order: 2;
	}
}

.entry-header-standard {
	.post-media {
		margin-top: $spacer * 2;
	}
}

.entry-header-small {
	.post-media {
		margin-top: $spacer * 2;
	}

	@include media-breakpoint-up(lg) {
		.post-header-inner {
			order: 2;
		}

		.post-media {
			order: 1;
		}

		.entry-header-inner {
			flex-direction: row;

			@include make-row();

			.post-header-inner,
			.post-media {
				@include make-col-ready;
				@include make-col(6);
				margin-top: 0;
			}

			.post-header-inner:first-child:last-child {
				@include make-col(12);
			}
		}
	}
}

.entry-header-standard,
.entry-header-small,
.entry-header-title,
.entry-header-large {
	margin-bottom: $spacer * 3;
}

.entry-media-large {
	width: 100%;
	margin-top: -$spacer * 4;
	margin-bottom: $spacer * 3;

	&.has-breadcrumbs {
		margin-top: -$spacer * 2;
	}

	.cs-overlay-ratio {
		position: relative;
	}
}