.post-wrap {
	overflow: hidden;
	background: $white;
}

.post-inner {
	&:hover {
		.entry-bottom {
			opacity: 1;
			margin-bottom: 0;
		}
	}
}

.entry-data {
	padding: $spacer-gutter-width * 2.5;
}

.entry-title {
	margin-top: $spacer;
	margin-bottom: 0;
	&:first-child {
		margin-top: 0;
	}
	&:before {
		.sticky & {
			margin-right: $spacer / 2;
			font-family: 'cs-icons';
			content: unicode($cs-icon-bookmark);
		}
	}
}

.entry-excerpt {
	margin-top: $spacer;
	color: $excerpt;
	&:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.entry-category {
	&:first-child .post-meta {
		margin-top: 0;
	}
}

.entry-author {
	display: flex;
	margin-top: auto;
	padding-top: $grid-gutter-width / 2;
	&:first-child {
		padding-top: 0;
	}

	.entry-info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
	}

	.author+.author {
		position: relative;
		margin-left: -$spacer;
		z-index: 2;
	}

	.author + .entry-info {
		padding-left: $spacer / 2;
	}

	.entry-info a {
		font-weight: bold;
	}

	.post-meta {
		margin-top: 0;
	}
}

.entry-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: $spacer;
	margin-left: - $grid-gutter-width / 2;
	margin-right: - $grid-gutter-width / 2;
	border-top: 1px solid rgba($white, 0.14);
	transition: 0.2s;

	.post-meta {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}

	.entry-read-more {
		padding-top: $spacer;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		font-weight: 700;
	}
}